<div class="browse-by-category">
  <div class="page-width">
    <h2>{{ linklists.browse-by-category.title }} {{ 'dropdownarrow.svg' | asset_url | img_tag: '', 'cat-dropdown' }}</h2>
    <ul class="category-menu">
      {% for link in linklists.browse-by-category.links %}
        {% if link.title contains "Monthly Memberships" %}
          <li>{{ link.title | link_to: link.url }}</li>
        {% else %}
          <li class="collection">
            {% if template contains "product" %}
              <a href="/collections/shop?cat={{ link.handle | replace: 'shop-all', 'shop' }}">{{ link.title }}</a>
            {% else %}
              {{ link.title | link_to: link.url }}
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>