{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>

{% assign share_tracking_property = "" %}
{% assign has_selling_plan = false %}

{% for item in cart.items %}
  {% if item.selling_plan_allocation %}
    {% assign has_selling_plan = true %}
  {% endif %}
  {% for p in item.properties %}
    {% if p.first == "Share tracking with" and item.selling_plan_allocation.selling_plan != blank %}
      {% assign share_tracking_property = p.last %}
    {% endif %}
  {% endfor %}
{% endfor %}

<script>
  console.log('SHARE TRACKING WITH', {{ share_tracking_property | json  }})
</script>

<cart-items class="{% if type == "cart-page" %}page-width{% endif %} {% if cart == empty %} is-empty{% endif %}">
  <div class="cart__close--mobile">
    <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M10 18L2 9.46667L10 2" stroke="#4D4D4D" stroke-width="2.66667" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>
  <div class="cart__close">
    x
  </div>
  {% if cart.item_count > 0 %}
    <div class="title-wrapper-with-link">
      {% if type == "cart-page" %}
        <h1 class="title title--primary">{{ 'sections.cart.title' | t }}</h1>
      {% else %}
        <h4 class="title h4" id="cart-item-count">{{ 'sections.cart.title' | t }} ({{cart.item_count}})</h4>
      {% endif %}
      {%- comment -%}
      <span class="cart__items-count" id="cart-item-count">{{cart.item_count}} {% if cart.item_count == 1 %}item{% else %}items{% endif %}</span>
      <a href="{{ routes.all_products_collection_url }}" class="underlined-link">{{ 'general.continue_shopping' | t }}</a>
      {%- endcomment -%}
    </div>

  {% endif %}

  {% assign threshold_goal_block = section.blocks | where: "type", "threshold_goal" | first %}

  
  <div class="cart__warnings">
    {% if threshold_goal_block != blank %}
      {% render "threshold-goal", block: threshold_goal_block, fixed: true %}
    {% endif %}
    <h3 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h3>
    {%- comment -%}
    <a href="{{ routes.all_products_collection_url }}" class="button button--primary">
      {{ 'general.continue_shopping' | t }}
    </a>
    {%- endcomment -%}
  </div>

  <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
    <div class="cart__items" id="main-cart-items" data-id="{{ section.id }}">
      <div class="js-contents">

        {% if threshold_goal_block != blank %}
          {% render "threshold-goal", block: threshold_goal_block %}
        {% endif %}

        {% case type %}
          {% when "ajax" %}
            {% render "cart-items--ajax" %}
          {% else %}
            {% render "cart-items--cart-page" %}
        {% endcase %}
      </div>
    </div>

  {% if has_selling_plan %}
    {%- assign uid = 'gift-note-section-container' -%}
    <div class="gift-toggle">
      <div class="gift-toggle__row">
        <span class="gift-toggle__label">Is this a gift?</span>
        <div style="position: relative;">
        <input id="{{ uid }}" type="checkbox" name="preventDefault" data-gift class="gift-toggle__checkbox">
        </div>
        <label for="{{ uid }}" class="gift-toggle__yes">Yes</label>
      </div>

      <div class="gift-actions">
        {%- if section.settings.show_cart_note -%}
          <div class="message-container"> 
            {% if cart.note == blank %}
              <p class="gift-message-button">
                <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0 6.8859V9.56328C0 10.1888 0.495108 10.6943 1.09689 10.6943H2.07738V21.3336C2.07738 22.2494 2.80531 22.995 3.69354 23H20.3065C21.1947 23 21.9177 22.2494 21.9226 21.3336V10.6896H22.9031C23.5049 10.6896 24 10.1842 24 9.55864V6.88126C24 6.25577 23.5049 5.75027 22.9031 5.75027H18.006C18.598 5.17985 18.9573 4.4142 19.0204 3.57839C19.0883 2.69271 18.8166 1.83194 18.2583 1.16141C17.7002 0.485839 16.9189 0.0754513 16.0597 0.0105449C15.2007 -0.0594265 14.3659 0.220654 13.7156 0.79632C12.6382 1.74717 11.852 3.21835 11.2986 4.60949C10.8569 3.56856 10.2502 2.50273 9.43985 1.78716C8.30416 0.786283 6.5909 0.921397 5.62016 2.0974C5.14943 2.66277 4.92128 3.38843 4.97958 4.12916C5.02814 4.73957 5.26116 5.3052 5.64452 5.75558H1.10179C0.495158 5.75558 0.00489217 6.26105 4.99201e-05 6.88658L0 6.8859ZM1.15984 9.49811V6.94602H7.42582C7.45 6.95104 7.47925 6.95104 7.50343 6.95104C7.53248 6.95104 7.55686 6.95104 7.58591 6.94602H15.953C15.9772 6.95104 16.0016 6.95104 16.0258 6.95104C16.0499 6.95104 16.0694 6.95104 16.0936 6.94602H22.8348V9.49811H21.3497H21.3351H2.65447H2.63985H1.15984ZM20.3015 21.8084C20.5538 21.8084 20.7625 21.5933 20.7625 21.3331L20.7623 10.6889H14.4918V21.8084H20.3015ZM10.6626 10.6892H13.332V21.8087H10.6626V10.6892ZM3.69289 21.8087H9.5026L9.50238 10.6895H3.23191V21.3334C3.23191 21.5936 3.44056 21.8087 3.69289 21.8087ZM8.63873 2.65231C8.65335 2.66235 8.66777 2.67722 8.67752 2.68728L8.67753 2.68729C9.52208 3.43281 10.119 4.72909 10.4926 5.74989H7.61458C7.27489 5.58482 6.95449 5.3745 6.66336 5.1244C6.00326 4.56381 5.90617 3.54806 6.44983 2.86744C6.99816 2.19187 7.97864 2.09176 8.63873 2.65231ZM14.4626 1.70671C13.3464 2.69755 12.5651 4.449 12.1088 5.7551L12.1086 5.76015H15.9038C16.3504 5.54499 16.7679 5.26976 17.1464 4.94946C18.0102 4.18381 18.1122 2.83771 17.3745 1.94698C16.6369 1.05126 15.3313 0.946104 14.4626 1.70671Z" fill="#4D4D4D"/>
                </svg>
                <span>Add a gift message</span>
                {% comment %}
                  {% render "icon-plus" %}</p>
                {% endcomment %}
                {% else %}
              <div class="gift-message-saved 2">
                <p>
                  <span>
                    <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M0 6.8859V9.56328C0 10.1888 0.495108 10.6943 1.09689 10.6943H2.07738V21.3336C2.07738 22.2494 2.80531 22.995 3.69354 23H20.3065C21.1947 23 21.9177 22.2494 21.9226 21.3336V10.6896H22.9031C23.5049 10.6896 24 10.1842 24 9.55864V6.88126C24 6.25577 23.5049 5.75027 22.9031 5.75027H18.006C18.598 5.17985 18.9573 4.4142 19.0204 3.57839C19.0883 2.69271 18.8166 1.83194 18.2583 1.16141C17.7002 0.485839 16.9189 0.0754513 16.0597 0.0105449C15.2007 -0.0594265 14.3659 0.220654 13.7156 0.79632C12.6382 1.74717 11.852 3.21835 11.2986 4.60949C10.8569 3.56856 10.2502 2.50273 9.43985 1.78716C8.30416 0.786283 6.5909 0.921397 5.62016 2.0974C5.14943 2.66277 4.92128 3.38843 4.97958 4.12916C5.02814 4.73957 5.26116 5.3052 5.64452 5.75558H1.10179C0.495158 5.75558 0.00489217 6.26105 4.99201e-05 6.88658L0 6.8859ZM1.15984 9.49811V6.94602H7.42582C7.45 6.95104 7.47925 6.95104 7.50343 6.95104C7.53248 6.95104 7.55686 6.95104 7.58591 6.94602H15.953C15.9772 6.95104 16.0016 6.95104 16.0258 6.95104C16.0499 6.95104 16.0694 6.95104 16.0936 6.94602H22.8348V9.49811H21.3497H21.3351H2.65447H2.63985H1.15984ZM20.3015 21.8084C20.5538 21.8084 20.7625 21.5933 20.7625 21.3331L20.7623 10.6889H14.4918V21.8084H20.3015ZM10.6626 10.6892H13.332V21.8087H10.6626V10.6892ZM3.69289 21.8087H9.5026L9.50238 10.6895H3.23191V21.3334C3.23191 21.5936 3.44056 21.8087 3.69289 21.8087ZM8.63873 2.65231C8.65335 2.66235 8.66777 2.67722 8.67752 2.68728L8.67753 2.68729C9.52208 3.43281 10.119 4.72909 10.4926 5.74989H7.61458C7.27489 5.58482 6.95449 5.3745 6.66336 5.1244C6.00326 4.56381 5.90617 3.54806 6.44983 2.86744C6.99816 2.19187 7.97864 2.09176 8.63873 2.65231ZM14.4626 1.70671C13.3464 2.69755 12.5651 4.449 12.1088 5.7551L12.1086 5.76015H15.9038C16.3504 5.54499 16.7679 5.26976 17.1464 4.94946C18.0102 4.18381 18.1122 2.83771 17.3745 1.94698C16.6369 1.05126 15.3313 0.946104 14.4626 1.70671Z" fill="#4D4D4D"/>
                    </svg>
                    <span>Your saved gift message:</span>
                  </span> <span id="gift-message-edit">Edit</span> <span id="gift-message-delete">Delete</span> </p>
                <p class="dynamic-content">{{cart.note}}</p>
              </div>
            {% endif %}
          </div>
        {%- endif -%}
        {%- if section.settings.show_share_tracking -%}
          <div class="share-tracking-container"> 
            {% if share_tracking_property == blank %}
              <p class="share-tracking-button" id="share-tracking-button-open">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 690 690"><path d="M580.58 115.03H109.42c-35.2 0-63.84 28.64-63.84 63.84v332.26c0 35.2 28.64 63.84 63.84 63.84h471.15c35.2 0 63.84-28.64 63.84-63.84V178.87c0-35.2-28.64-63.84-63.84-63.84Zm28.04 63.84v332.26c0 15.47-12.58 28.05-28.05 28.05H109.42c-15.47 0-28.05-12.58-28.05-28.05V178.87c0-4.32 1.01-8.39 2.76-12.05l253.61 212.54c3.33 2.79 7.41 4.18 11.5 4.18s8.07-1.36 11.37-4.08l247.81-203.84c.12 1.07.2 2.14.2 3.24Zm-26.49-27.97L349.35 342.38 120.78 150.82h459.8c.52 0 1.03.05 1.55.08Z" style="fill:#565656"/></svg>
                <span>Share tracking info</span>
                {% comment %}
                  {% render "icon-plus" %}</p>
                {% endcomment %}
                
              </p>
            {% else %}
              <div class="share-tracking-saved">
                <p>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 690 690"><path d="M580.58 115.03H109.42c-35.2 0-63.84 28.64-63.84 63.84v332.26c0 35.2 28.64 63.84 63.84 63.84h471.15c35.2 0 63.84-28.64 63.84-63.84V178.87c0-35.2-28.64-63.84-63.84-63.84Zm28.04 63.84v332.26c0 15.47-12.58 28.05-28.05 28.05H109.42c-15.47 0-28.05-12.58-28.05-28.05V178.87c0-4.32 1.01-8.39 2.76-12.05l253.61 212.54c3.33 2.79 7.41 4.18 11.5 4.18s8.07-1.36 11.37-4.08l247.81-203.84c.12 1.07.2 2.14.2 3.24Zm-26.49-27.97L349.35 342.38 120.78 150.82h459.8c.52 0 1.03.05 1.55.08Z" style="fill:#565656"/></svg>
                  <span>
                    <span>Share tracking with</span>
                  </span> <span id="share-tracking-edit">Edit</span> <span id="share-tracking-delete">Delete</span> </p>
                <p class="dynamic-content">{{ share_tracking_property }}</p>
              </div>
            {% endif %}
          </div>
        {%- endif -%}
      </div>
    </div>
  {% endif %}

<style>
  .gift-toggle__row{ 
    display:flex;
    align-items:center;
    justify-content:center;
    gap:.75rem;
    margin:10px 0 .75rem;
    color: #4D4D4D;
    font-family: "Avenir", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
  }
  .gift-toggle__label{ font-weight:600; margin-right:.25rem; }
  .gift-toggle:not(:has(.gift-toggle__checkbox:checked)) .gift-actions { display:none; }
  .gift-toggle__checkbox {
    height: 14px;
    width: 14px;
    min-height: unset;
    max-height: unset;
    min-width: unset;
    border-radius: 2px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    display: flex;
    border: 1px solid #4D4D4D;
  }
  .gift-actions{ display:flex; flex-direction:column; gap:.5rem; }

  /* Add custom checkmark */
  .gift-toggle__row input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 2px;
    font-size: 16px;
    color: #333;
    width: 14px;
    height: 14px;
    background: no-repeat center/contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='12' viewBox='0 0 13 12' fill='none'%3E%3Cpath d='M1 7.19332C1.04099 7.24109 3.5 10.8066 5.15718 10.8066C6.53908 10.8066 11.0854 2.35502 12 1.19336' stroke='%234D4D4D' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
  }
</style>

    <p aria-live="polite" role="status"></p>

    <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
    <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
  </form>

  <script>
    function saveGiftNoteBoolean(event) {
      let isGift = event.target.checked

      fetch("/cart.json").then(r => r.json()).then(cart => {
        let subItemIndex = cart.items.findIndex(i => i?.selling_plan_allocation?.selling_plan && i.properties?.["_subscription_hash"])
        let existingProps = cart.items[subItemIndex].properties
        const body = JSON.stringify(
          { 
            line: subItemIndex + 1,
            quantity: 1,
            properties: {
              ...existingProps,
              ...(isGift ? {"_gift_order": String(isGift) } : {"_gift_order": undefined}),
            },
            sections: [],
            sections_url: window.location.pathname
          });
        fetch(`${routes.cart_change_url}`, {...fetchConfig(), ...{ body }})
      });
    }

    // delegate so it survives section re-renders
    document.addEventListener('change', function (event) {
      // adjust the selector to match your checkbox
      if (!event.target.matches('input[type="checkbox"][data-gift]')) return;

      saveGiftNoteBoolean(event);
    });
  </script>
</cart-items>