<script src="{{ 'custom-rug-canvas.js' | asset_url }}" defer></script>

<custom-rug-canvas
  data-shape="{{ shape | default: 'rectangle' }}"
  data-size="{{ size | default: "2'X3'" }}"
  data-bottom-banner="{{ bottom_banner | default: false }}"
  data-bg-url="{{ bg_url | default: 'background-example.png' | asset_url }}"
>

<div id="rug-canvas-container w-full">
  <div style="position: relative; width: 100%;">
    <canvas id="rug-canvas" class="rug-canvas"></canvas>
    {% render 'circular-progress' %}

    <div class="custom-rug-top-toolbar">
      <div style="font-size: 12px; line-height: 14px; display: flex; flex-direction: row; text-align:center;">
        <button id="rug-canvas-change-photo" class="custom-rug-action-button" style="margin-top: 6px;">
          <span>Change Photo</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-cloud-upload" aria-hidden="true"><path d="M12 13v8"></path><path d="M4 14.899A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.5 8.242"></path><path d="m8 17 4-4 4 4"></path></svg>
        </button>
      </div>
    </div>

    {% comment %}
    <div class="custom-rug-bottom-left-toolbar">
      <div style="font-size: 12px; line-height: 14px; display: flex; flex-direction: column; width: 40px; text-align:center; color: black; margin-bottom: 4px;">
        Rug Color
        <input id="custom-rug-bg-color" class="custom-rug-bg-color" type="color" />
      </div>
    </div>
    {% endcomment %}

    <div class="custom-rug-bottom-toolbar">
      <div style="font-size: 12px; line-height: 14px; display: flex; flex-direction: column; width: 40px; text-align:center; color: black; margin-bottom: 12px;">
        Rug Color
        <input id="custom-rug-bg-color" data-bg-color="color" class="custom-rug-bg-color" type="color" />
      </div>
      <button id="rug-canvas-rotate" class="custom-rug-action-button" style="margin-bottom: 10px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-rotate-ccw" aria-hidden="true"><path d="M3 12a9 9 0 1 0 9-9 9.75 9.75 0 0 0-6.74 2.74L3 8"></path><path d="M3 3v5h5"></path></svg>
      </button>
      <div style="display: flex; flex-direction: column; border-radius: 8px; margin-bottom: 10px; overflow: hidden; box-shadow: 0 1px 1px #23232347; background-color: white;border: 1px solid #e2e2e2;">
        <button id="rug-canvas-scale-up" class="custom-rug-action-button-zoom">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus" aria-hidden="true"><path d="M5 12h14"></path><path d="M12 5v14"></path></svg>
        </button>
        <button id="rug-canvas-scale-down" class="custom-rug-action-button-zoom">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-minus" aria-hidden="true"><path d="M5 12h14"></path></svg>
        </button>
      </div>
    </div>
  </div>

  {% comment Phase 2. Preview images %}
  {% assign asset_images = "circle-example-1.webp,circle-example-2.webp,circle-example-3.webp,circle-example-4.webp" | split: "," %}
  <div class="image-grid">
    {% for img in asset_images %}
      <div class="grid-item">
        <img src="{{ img | asset_url }}" alt="Preview Image" loading="lazy">
      </div>
    {% endfor %}
  </div>
  {% endcomment %}
</div>

<style>
  .rug-canvas {
    width: 100%;
    height: 600px;
    touch-action:none;
  }
  .custom-rug-action-button {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: white;
    border: 1px solid #e2e2e2;
    border-radius: 20px;
    margin: 6px 0;
    padding: 7px 24px;
    cursor: pointer;
    box-shadow: 0 1px 1px #23232347;
  }

  .custom-rug-action-button-zoom {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }

  .custom-rug-top-toolbar {
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
    color: black !important;
  }
  .custom-rug-bottom-toolbar {
    position: absolute;
    right: 10px;
    bottom: 12px;
  }

  .custom-rug-bottom-left-toolbar {
    position: absolute;
    left: 10px;
    bottom: 12px;
  }

  #chatra {
    bottom: 85px !important;
  }

  .phone-button {
    bottom: 85px !important
  }

  .custom-rug-bg-color {
    border-radius: 7px;
    padding: 2px !important;
    margin-bottom: 0 !important;
    margin-top: 4px !important;
    box-shadow: 0 1px 1px #23232347;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  .image-grid .grid-item img {
    width: 100%;
    aspect-ratio: 1/1;
    display: block;
    object-fit: cover;
  }

  @media screen and (max-width: 768px) {
    .rug-canvas {
      width: 100vw;
      margin-left: -10px;
      height: 450px;
    }

    .custom-rug-top-toolbar {
      right: 0;
      top: 80px;
    }
    .custom-rug-bottom-toolbar {
      right: 0;
    }

    .custom-rug-bottom-left-toolbar {
      left: 0;
    }
  }
</style>

</custom-rug-canvas>