<div data-login-form class="content-box form-elements-alt">
  {% form 'customer_login' %}
    {% comment %}
    <input type="hidden" name="return_to" value="/account?login=true">
    {% endcomment %}
    <input type="hidden" name="return_to" value="/tools/recurring/login">
    <div class="h1">{{ 'customer.login.title' | t }}</div>
    <div class="acct-login-create">
      Don't have an account? <a href="/account/register">{{ 'layout.customer.create_account' | t }}</a>
    </div>
    <div class="acct-login-notification">
      {{ form.errors | default_errors }}
    </div>

    <div class="acct-field-row">
      <label for="CustomerEmail" class="acct-label">
        {{ 'customer.login.email' | t }}
      </label>
      <input type="email"
              name="customer[email]"
              id="CustomerEmail"
              class="{% if form.errors contains 'email' %}input-error{% endif %}"
              placeholder="{{ 'customer.login.email' | t }}"
              spellcheck="false"
              autocomplete="off"
              autocapitalize="off"
              autofocus>
    </div>


    {% if form.password_needed %}
    <div class="acct-field-row">
      <label for="CustomerPassword" class="acct-label">
        {{ 'customer.login.password' | t }}
      </label>
      <input type="password"
              name="customer[password]"
              id="CustomerPassword"
              class="{% if form.errors contains 'password' %}input-error{% endif %}"
              placeholder="{{ 'customer.login.password' | t }}"
              required>
    </div>
    {% endif %}
    <div class="acct-option-row">
      <input type="submit" class="button-tertiary" value="{{ 'customer.login.sign_in' | t }}">
    </div>

    <!-- <a href="/">{{ 'customer.login.cancel' | t }}</a> -->



    <div class="recover-container">
      <a href="/tools/recurring/get-subscription-access?passwordless=true" class="button-text"> Forgot your password? </a> | <a href="https://raddishkids.zendesk.com/hc/en-us/articles/6159727761427-I-am-having-trouble-acccessing-my-account-" target="_blank"> Need help? </a>
    </div>
  {% endform %}
</div>
<div class="hide form-elements-alt content-box" data-recover-form>
  <div class="h1">{{ 'customer.recover_password.title' | t }}</div>
  <p>{{ 'customer.recover_password.subtext' | t }}</p>

  {% form 'recover_customer_password' %}
    <div class="acct-login-notification">
      {{ form.errors | default_errors }}
    </div>

    <div class="form-success hide" data-reset-success>
      {{ 'customer.recover_password.success' | t }}
    </div>
  
    {% if form.posted_successfully? %}
      <span class="hide" data-form-state></span>
    {% endif %}

    <div class="acct-field-row">
      <label for="RecoverEmail" class="acct-label">
        {{ 'customer.recover_password.email' | t }}
      </label>
      <input type="email"
              name="email"
              id="RecoverEmail"
              placeholder="{{ 'customer.recover_password.email' | t }}"
              spellcheck="false"
              autocomplete="off"
              autocapitalize="off">
    </div>

    <input type="submit" class="button-tertiary" value="{{ 'customer.recover_password.submit' | t }}">
  {% endform %}
</div>