<div id="gift-options-modal">
  <div class="modal-header modal-header--gift-options" style="background-color: #eff9fa;">
    <h4 id="modal-header-title">
      {% render 'icon-gift' %}
      <span style="color: #01BCBE">
        Gift Options
      </span>
    </h4>
  </div>
  
  <div class="modal-content modal-content--gift-options">
    <div class="gift-options__parent-details">
      <div class="field-column">
        <h2 class="h2">1. Share Tracking Information</h2>
        <p>Provide a name and email address for monthly tracking and grocery shopping lists. (You'll get them too!)</p>
        {%- comment -%}
        {%- endcomment -%}
        <div class="fields-row"> 
          <div class="input-container">
            <label for="first_name_p">First name</label>
            <input id="first_name_p" maxlength="22" type="text" name="first_name" rv-value="state.parent.first_name">
          </div>
          <div class="input-container">
            <label for="last_name_p">Last name</label>
            <input id="last_name_p" type="text" maxlength="13" name="last_name" rv-value="state.parent.last_name">
          </div>
        </div>
        <div class="fields-row">
          <div class="input-container">
            <label for="email_p">Email address</label>
            <input id="email_p" type="email" rv-value="state.parent.email">
          </div>
        </div>
      </div>
      <div class="field-column">
        <h2 class="h2">2. Include a Gift Message</h2>
        <p>It will be included in the first kit.</p>
        <div class="fields-row">
          <div class="input-container">
            <label for="gift-message">Gift Message (<span rv-text="state.note | size"></span>/255)</label>
            <textarea rows="5" maxlength="255" class="text-area text-area--resize-vertical field__input" name="note" id="gift-message" rv-on-input="methods.changeNote" rv-text="state.note">{{ cart.note }}</textarea>
          </div>
        </div>
        {%- if steps.step_3_enable_buy_now -%}
        <h2 class="h2">{{steps.step_3_buy_ship_later_title}}</h2>
        <div class="checkbox-row">
          <input id="ship-now" type="checkbox" rv-on-input="methods.changeBnsl" rv-checked="state.shipNow"/>
          <span class="checkbox-img" src="{{ 'checkbox.png' | asset_url }}" alt=""> </span>
          <span class="checkbox-img--checked" src="{{ 'checkbox--checked.png' | asset_url }}" alt=""> </span>
          <label for="ship-now">I want to ship my kit immediately</label>
        </div>
        {% if steps.step_3_enable_ship_december %}
        <div class="checkbox-row">
          <input id="ship-december" type="checkbox" rv-on-input="methods.changeBnsl" rv-checked="state.shipDecember"/>
          <span class="checkbox-img" src="{{ 'checkbox.png' | asset_url }}" alt=""> </span>
          <span class="checkbox-img--checked" src="{{ 'checkbox--checked.png' | asset_url }}" alt=""> </span>
          <label for="ship-december">{{steps.step_3_ship_december_copy}}</label>
        </div>
        {% endif %}
        {% if steps.step_3_enable_ship_january %}
        <div class="checkbox-row">
          <input id="ship-january" type="checkbox" rv-on-input="methods.changeBnsl" rv-checked="state.shipJanuary"/>
          <span class="checkbox-img" src="{{ 'checkbox.png' | asset_url }}" alt=""> </span>
          <span class="checkbox-img--checked" src="{{ 'checkbox--checked.png' | asset_url }}" alt=""> </span>
          <label for="ship-january"> {{steps.step_3_ship_january_copy}} </label>
        </div>
        {% endif %}
        {%- endif -%}
      </div>
    </div>
  </div>
  <div class="modal-actions">
    <button class="btn btn-outline" rv-on-click="methods.closeModal | args true">Cancel</button>
    <button class="btn" rv-on-click="methods.closeModal">Save</button>
  </div>
</div>