{%- assign block_title = _block.title -%}
{%- assign block_image = _block.image -%}
{%- assign block_content = _block.content -%}
{%- assign block_cta_text = _block.cta_text -%}
{%- assign block_cta_url = _block.cta_url -%}
{%- assign block_title_image = _block.title_image -%}
{%- assign block_reversed = _block.reversed -%}
{%- assign block_cenered = _block.cenered -%}
{%- assign block_alignment = _block.alignment -%}

<div class="section-callouts section-callouts--{{ block_alignment }} {% if block_reversed %}section-callouts--reversed{% endif %} {% if block_cenered %}section-callouts--outro{% endif %}">
  <div class="page-width page-width--larger">
    <div class="section__inner">
      <div class="section__cols">
        <div class="section__body section__col">
          {%- if block_title_image != blank or block_title != blank -%}
            <h2 class="section__title">
              {%- if block_title_image != blank -%}
                <img src="{{ block_title_image | img_url: '300x' }}" alt="{{ block_title_image.alt }}" />
              {%- else -%}
                {{ block_title }}
              {%- endif -%}
            </h2><!-- /.section__title -->
          {%- endif -%}

          <div class="section__content">
            {{ block_content }}
          </div><!-- /.section__content -->

          {%- if block_cta_text != blank and block_cta_url != blank -%}
            <div class="section__actions">
              <a href="{{ block_cta_url }}" class="btn">{{ block_cta_text }}</a>
            </div><!-- /.section__actions -->
          {%- endif -%}
        </div><!-- /.section__body section__col -->

        {%- if block_image != blank -%}
          <div class="section__aside section__col">
            <img src="{{ block_image | img_url: '600x' }}" alt="{{ block_image.alt }}" />
          </div><!-- /.section__aside section__col -->
        {%- endif -%}
      </div><!-- /.section__cols -->
    </div><!-- /.section__inner -->
  </div><!-- /.page-width page-width-/-larger -->
</div><!-- /.section-callouts -->
