<section {% include 'image', _image: _block.background, size: '2048', sizes: '600,1024,2048', background: true, inline: true, classes: 'section-how-it-works section-homeschooling-plans' %}>
  <div class="page-width page-width--larger">
    <div class="section__inner">
      {% if _block.title != blank or _block.text != blank %}
        <div class="section__head">
          {% if _block.title != blank %}
            <h2 class="section__title">
              {{ _block.title | escape }}
            </h2>
          {% endif %}

          {% if _block.text != blank %}
            <div class="section__description">
              {{ _block.text  }}
            </div><!-- /.section__description -->
          {% endif %}
        </div><!-- /.section__head -->
      {% endif %}

      <div class="section__body">
        <div class="plans">
          {%- for i in (1..3) -%}
            {% assign plan_handle = 'plan_' | append: i %}
            {%- assign title_handle = plan_handle | append: '_title' -%}
            {%- assign price_handle = plan_handle | append: '_price' -%}
            {%- assign period_handle = plan_handle | append: '_period' -%}
            {%- assign text_handle = plan_handle | append: '_text' -%}
            {%- assign button_label_handle = plan_handle | append: '_btn_text' -%}
            {%- assign button_url_handle = plan_handle | append: '_btn_url' -%}

            <div class="plan">
              <div class="plan__inner">
                {% if _block[title_handle] != blank %}
                  <h3 class="plan__title">
                    {{ _block[title_handle] | escape }}
                  </h3><!-- /.plan__title -->
                {% endif %}

                {% if _block[price_handle] != blank %}
                  <div class="plan__price">
                    <sup>$</sup>{{ _block[price_handle] }} <span>/ {{ _block[period_handle] }}</span>
                  </div><!-- /.plan__price -->
                {% endif %}

                {% if _block[text_handle] != blank %}
                  <div class="plan__entry">
                    {{ _block[text_handle] }}
                  </div><!-- /.plan__entry -->
                {% endif %}

                {% if _block[button_label_handle] != blank and _block[button_url_handle] != blank %}
                  <a href="{{ _block[button_url_handle] | url_escape }}" class="btn plan__btn">
                    {{- _block[button_label_handle] | escape -}}
                  </a>
                {% endif %}
              </div><!-- /.plan__inner -->
            </div><!-- /.plan -->
          {%- endfor -%}
        </div><!-- /.plans -->
      </div><!-- /.section__body -->

      {% if _block.note != blank %}
        <div class="section__foot">
          <p>
            {{ _block.note }}
          </p>
        </div><!-- /.section__foot -->
      {% endif %}
    </div><!-- /.section__inner -->
  </div><!-- /.page-width page-width--larger -->
</section><!-- /.section-plans -->