{%- assign block_title = _block.title -%}
{%- assign block_title_image = _block.title_image -%}
{%- assign block_left_column = _block.left_column -%}
{%- assign block_right_column = _block.right_column -%}

<section class="section-columns">
  <div class="page-width page-width--larger">
    <div class="section__inner">
      {%- if block_title != blank or block_title_image != blank-%}
        <header class="section__head">
          <h2 class="section__title">
            {%- if block_title_image != blank -%}
              <img src="{{ block_title_image | img_url: '700x' }}" alt="{{ block_title_image.alt }}" />
            {%- else -%}
              {{ block_title }}
            {%- endif -%}
          </h2><!-- /.section__title -->
        </header><!-- /.section__head -->
      {%- endif -%}

      <div class="section__body">
        <div class="section__cols">
          <div class="section__col">
            {{ block_left_column }}
          </div><!-- /.section__col -->

          <div class="section__col">
            {{ block_right_column }}
          </div><!-- /.section__col -->
        </div><!-- /.section__cols -->
      </div><!-- /.section__body -->
    </div><!-- /.section__inner -->
  </div><!-- /.page-width page-width-/-larger -->
</section><!-- /.section-columns -->
