{% assign image_sizes = sizes | split: ','  %}
{% assign alt = _image.alt | escape | default: shop.name | escape %}

{% if size != blank %}
  {% assign original_size = size %}
  {% if retina %}
    {% assign retina_size = original_size | times: 2 %}

    {% if retina_size > 4096 %}
      {% assign final_size = '4096x' %}
    {% else %}
      {% assign final_size = original_size | times: 2 | append: 'x' %}
    {% endif %}
  {% else %}
    {% assign final_size = original_size | append: 'x' %}
  {% endif %}
{% else %}
  {% if retina %}
    {% assign retina_size = _image.width | times: 2 %}

    {% if retina_size > 4096 %}
      {% assign final_size = '4096x' %}
    {% else %}
      {% assign final_size = _image.width | times: 2 | append: 'x' %}
    {% endif %}
  {% else %}
    {% assign final_size = _image.width | append: 'x' %}
  {% endif %}
{% endif %}

{% if _image != blank %}
  {% if background %}
    {% assign background_sizes = '' %}

    {% for current_size in image_sizes %}
      {% assign image_size = current_size | append: 'x' %}

      {% if retina %}
        {% assign retina_size = current_size | times: 2 %}

        {% if retina_size > 4096 %}
          {% assign image_size = '4096x' %}
        {% else %}
          {% assign image_size = current_size | times: 2 | append: 'x' %}
        {% endif %}
      {% endif %}

      {% if asset %}
        {% assign image_url = _image | asset_img_url: image_size %}
      {% else %}
        {% assign image_url = _image | img_url: image_size %}
      {% endif %}

      {% assign background_sizes = background_sizes | append: ',' | append: image_url | append: '@@@' | append: current_size %}
    {% endfor %}

    {% if asset %}
      {% assign largest_image = _image | asset_img_url: final_size %}
    {% else %}
      {% assign largest_image = _image | img_url: final_size %}
    {% endif %}
    {% assign largest_size = image_sizes | last | plus: 1 %}
    {% assign background_sizes = background_sizes | replace_first: ',', '' | append: ',' | append: largest_image | append: '@@@' | append: largest_size %}


    {% if asset %}
      {%- if inline -%}
        class="responsive-background-image lazyload {{ classes | escape }}" style="background-image: url('{{ _image | asset_img_url: '100x' }}');" data-bg="{{ _image | asset_img_url: '100x' }}" role="img" aria-label="{{ alt }}" data-loaded="false" data-expand="-20" data-sizes="{{ background_sizes }}" data-large_image="{{ largest_image }}"
      {%- else -%}
        <div class="responsive-background-image lazyload {{ classes | escape }}" style="background-image: url('{{ _image | asset_img_url: '100x' }}');" data-bg="{{ _image | asset_img_url: '100x' }}" role="img" aria-label="{{ alt }}" data-loaded="false" data-expand="-20" data-sizes="{{ background_sizes }}" data-large_image="{{ largest_image }}"></div>
      {%- endif -%}
    {% else %}
      {%- if inline -%}
        class="responsive-background-image lazyload {{ classes | escape }}" style="background-image: url('{{ _image | img_url: '100x' }}');" data-bg="{{ _image | img_url: '100x' }}" role="img" aria-label="{{ alt }}" data-loaded="false" data-expand="-20" data-sizes="{{ background_sizes }}" data-large_image="{{ largest_image }}"
      {%- else -%}
        <div class="responsive-background-image lazyload {{ classes | escape }}" style="background-image: url('{{ _image | img_url: '100x' }}');" data-bg="{{ _image | img_url: '100x' }}" role="img" aria-label="{{ alt }}" data-loaded="false" data-expand="-20" data-sizes="{{ background_sizes }}" data-large_image="{{ largest_image }}"></div>
      {%- endif -%}
    {% endif %}
  {% elsif asset %}
    <picture {% if classes != blank %}class="{{ classes | escape }}"{% endif %}>
      {% for current_size in image_sizes %}
        {% assign image_size = current_size | append: 'x' %}

        {% if retina %}
          {% assign retina_size = current_size | times: 2 %}

          {% if retina_size > 4096 %}
            {% assign image_size = '4096x' %}
          {% else %}
            {% assign image_size = current_size | times: 2 | append: 'x' %}
          {% endif %}
        {% endif %}

        {% assign image_url = _image | asset_img_url: image_size %}

        <source
          data-srcset="{{ image_url }}"
          media="(max-width: {{ current_size }}px)" />
      {% endfor %}

      <source data-srcset="{{ _image | asset_img_url: final_size }}" />

      <img src="{{ _image | asset_img_url: '100x' }}"
        data-src="{{ _image | asset_img_url: '100x' }}"
        class="lazyload"
        alt="{{ alt }}"
        data-expand="-20"
        {{attrs}}
      >
    </picture>
  {% else %}
    <picture {% if classes != blank %}class="{{ classes | escape }}"{% endif %}>
      {% for current_size in image_sizes %}
        {% assign image_size = current_size | append: 'x' %}

        {% if retina %}
          {% assign retina_size = current_size | times: 2 %}

          {% if retina_size > 4096 %}
            {% assign image_size = '4096x' %}
          {% else %}
            {% assign image_size = current_size | times: 2 | append: 'x' %}
          {% endif %}
        {% endif %}

        {% assign image_url = _image | img_url: image_size %}

        <source
          data-srcset="{{ image_url }}"
          media="(max-width: {{ current_size }}px)" />
      {% endfor %}

      <source data-srcset="{{ _image | img_url: final_size }}" />

      <img src="{{ _image | img_url: '100x' }}"
          data-src="{{ _image | img_url: '100x' }}"
          class="lazyload"
          alt="{{ alt }}"
          data-expand="-20"
        >
    </picture>
  {% endif %}
{% endif %}

{% assign retina = false %}
{% assign asset = false %}
{% assign image_sizes = '' %}
{% assign alt = '' %}
{% assign classes = '' %}
