
{%- unless child_list_handle == blank -%}
  {%- assign block_titles = '|' -%}

  {%- for block in _blocks -%}
    {%- assign _block = block.settings -%}

    {%- assign block_titles = block_titles | append: _block.menu_title | append: '|' -%}
  {%- endfor -%}

  <div class="megamenu">
    <div class="megamenu__wrapper">

      <ul class="megamenu__links">
        {% for childlink in menus[child_list_handle].links %}
          {%- if forloop.first -%}
            <h6 class="megamenu__title">{{ menus[child_list_handle].links[0].title }}</h6><!-- /.megamenu__title -->

            {% continue %}
          {%- endif -%}

          <li {% if childlink.active %}class="site-nav--active"{% endif %}>
            <a href="{{ childlink.url }}" class="site-nav__link{% if childlink.links != blank %} site-nav__link--has-megamenu-submenu{% endif %}">{{ childlink.title | escape }}
              {% if childlink.links != blank %}
              <svg class="ico-nav-angle" xmlns="http://www.w3.org/2000/svg" width="19.769" height="11.218" viewBox="0 0 19.769 11.218">
                <path id="Path_2" data-name="Path 2" d="M0,0,8.533-8,16,0" transform="translate(1.885 9.333)" fill="none" stroke="#4D4D4D" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2.667"/>
              </svg>
              {% endif %}
            </a>
            {%- assign menu_link_handle = childlink.title | handle -%}

            {%- assign menu_link_title = childlink.title | append: '|' | prepend: '|'  -%}

            {%- if childlink.links != blank or block_titles contains menu_link_title -%}
              <div class="megamenu__content">
                <div class="megamenu__cols">
                  {%- if childlink.links != blank -%}
                    <div class="megamenu__col megamenu__col--submenu">
                      <ul class="megamenu__links">
                        {% for grand_child_link in childlink.links %}
                          <li {% if grand_child_link.active %}class="site-nav--active"{% endif %}>
                            <a href="{{ grand_child_link.url }}" class="site-nav__link">{{ grand_child_link.title | escape }}</a>
                          </li>
                        {% endfor %}
                      </ul><!-- /.megamenu-links -->
                    </div><!-- /.megamenu__col -->
                  {%- endif -%}

                  {% if _blocks.size > 0 %}
                    {%- for block in _blocks -%}
                      {%- assign _block = block.settings -%}
                      {%- assign menu_title_handle = _block.menu_title | handle -%}

                      {%- if menu_title_handle == menu_link_handle -%}
                        {% unless _block.illustration_image == blank and _block.image_full == blank %}
                          <div class="megamenu__col">
                            <div class="block-megamenu">
                              <div class="block-megamenu__image {% if _block.image_full == blank %}block-megamenu__image--illustration{% endif %}" {% if _block.image_full == blank %}style="background-color:{{ _block.background_color }}; background-image: url({{ _block.illustration_image | img_url: '400x' }});"{% else %}style="background-image:url({{ _block.image_full | img_url: '588x' }})"{% endif %}>
                                {% if _block.link != blank %}
                                  <a href="{{ _block.link }}" class="block-megamenu__link"></a><!-- /.block-megamenu__link -->
                                {% endif %}
                              </div><!-- /.block-megamenu__image -->

                              {%- if _block.title != blank -%}
                                <h5 class="block-megamenu__title">
                                  {% if _block.link != blank %}
                                    <a href="{{ _block.link }}">
                                      {{- _block.title -}}
                                    </a>
                                  {%- else -%}
                                    {{- block.title -}}
                                  {% endif %}
                                </h5><!-- /.block-megamenu__title -->
                              {%- endif -%}
                            </div><!-- /.block-megamenu -->
                          </div><!-- /.megamenu__col -->
                        {% endunless %}
                      {%- endif -%}
                    {%- endfor -%}
                  {% endif %}
                </div><!-- /.megamenu__cols -->
              </div><!-- /.megamenu__content -->
            {%- endif -%}
          </li>
        {% endfor %}
      </ul>
    </div><!-- /.megamenu__wrapper -->
  </div><!-- /.megamenu -->
{%- endunless -%}
