<div class="mobile-menu js-mobile-menu">
  <div class="page-width mobile-menu-content">
    <span class="close-nav">x</span>

    <div class="mobile-menu__main">
      <div class="tabs-mobile js-tabs">
        <div class="tabs__head">
          <nav class="tabs__nav">
            <ul>
              <li class="current">
                <a href="#tab-mobile-1">
                  {{- 'layout.mobile_menu.menu' | t -}}
                </a>
              </li>

              <li>
                <a href="#tab-mobile-2">
                  {{- 'layout.mobile_menu.account' | t -}}
                </a>
              </li>
            </ul>
          </nav><!-- /.tabs__nav -->
        </div><!-- /.tabs__head -->

        <div class="tabs__body">
          <div class="tab current" id="tab-mobile-1">
            <ul class="mobile-menu__nav">
              {% for link in menus[section.settings.main_linklist].links %}
                {% assign childlink_handle = link.title | handle %}
                {% if menus[childlink_handle].links != blank %}
                  <li>
                    <button class="site-nav__mobile-menu-button js-trigger-mobile-nav site-nav__{{ childlink_handle }}">
                      <span>
                        <span class="underline">
                          {{- link.title -}}
                        </span><!-- /.underline -->
                      </span>

                      <svg class="ico-nav-angle" xmlns="http://www.w3.org/2000/svg" width="11.769" height="7.218" viewBox="0 0 11.769 7.218">
                        <path d="M0,0,4.267-4,8,0" transform="translate(1.885 5.333)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2.667"/>
                      </svg>
                    </button>

                    {% assign childlink_handle = link.handle %}

                    <ul class="secondary-links">
                      {% for childlink in linklists[childlink_handle].links %}
                        <li data-link-handle="{{childlink.title | handle}}">
                          <a href="{{ childlink.url }}" class="{%- if childlink.links != blank -%}js-trigger-mobile-nav{%- endif -%}">
                            <span>
                              <span class="underline">
                                {{- childlink.title -}}
                              </span><!-- /.underline -->
                            </span>

                            {%- if childlink.links != blank -%}
                              <svg class="ico-nav-angle" xmlns="http://www.w3.org/2000/svg" width="11.769" height="7.218" viewBox="0 0 11.769 7.218">
                                <path d="M0,0,4.267-4,8,0" transform="translate(1.885 5.333)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2.667"/>
                              </svg>
                            {% endif %}
                          </a>

                          {%- if childlink.links != blank -%}
                            <ul class="tertiary-links">
                              {% for grand_child_link in childlink.links %}
                                <li>{{ grand_child_link.title | link_to: grand_child_link.url }}</li>
                              {% endfor %}
                            </ul><!-- /.tertiary-links -->
                          {%- endif -%}
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li><a class="site-nav__{{ childlink_handle }}" href="{{ link.url }}">{{ link.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div><!-- /.tab -->

          <div class="tab" id="tab-mobile-2">
            <ul class="mobile-menu__nav">
              {% if customer %}
                <li class="mobile-account__nav">
                  <a href="#" class="js-trigger-mobile-nav">
                    Hello, {{ customer.first_name }}!

                  </a>
                </li>

                {% if customer.metafields.subscriptions.customer_string %}
                  <li>
                    <a data-recharge-token href="/tools/recurring/portal/{{customer.metafields.subscriptions.customer_string}}/payment_sources"  name="billing" class="nav-item-alt">Account</a>
                  </li>
                {% endif %}

                {% if customer.metafields.subscriptions.customer_string %}
                  <li>
                    <a data-recharge-token href="/tools/recurring/portal/{{customer.metafields.subscriptions.customer_string}}/subscriptions" name="memberships" class="nav-item-alt"><span>Memberships</span></a>
                  </li>
                {% endif %}

                <li>
                  <a href="/account/logout">Log Out</a>
                </li>
              {%- else -%}
                <li>
                  <a href="/pages/splash" class="">My Account</a>
                </li>
              {% endif %}
            </ul>
          </div><!-- /.tab -->
        </div><!-- /.tabs__body -->
      </div><!-- /.tabs-mobile -->

      <div class="other-buttons">
        <a href="/pages/join" class="btn full">Join Now</a>
      </div>
    </div><!-- /.mobile-menu__body -->
  </div>
</div>


<style>
  .mobile-menu__nav [data-link-handle="categories"] {
    display: none;
  }

  .site-nav__mobile-menu-button {
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: rgb(77, 77, 77);
    font-family: "KG HAPPY Solid", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 52px;
    line-height: 22.4px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    text-align: left;
    border: none;
    background-color: transparent;
    width: 100%;
  }
  .site-nav__mobile-menu-button > span {
    width: calc(100% - 17px);
    display: inline-block;
  }

  .mobile-menu .mobile-menu__nav li.is-open > button > .ico-nav-angle {
    -webkit-transform: none;
    transform: none;
  }
  .mobile-menu .mobile-menu__nav li.is-open>button .underline:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
</style>