<ul class="site-nav nav-action shopify-section">
  {% if customer %}

    <li class="site-nav--has-submenu login-button login-button--nav">Hello, {{ customer.first_name }} <img src="{{ 'chevron-down.png' | asset_url }}" alt="">
      <div class="sub-menu">
        {% if customer.metafields.subscriptions.customer_string %}<a data-recharge-token href="/tools/recurring/portal/{{customer.metafields.subscriptions.customer_string}}/payment_sources"  name="billing" class="nav-item-alt">Account</a>{% endif %}
        {% if customer.metafields.subscriptions.customer_string %}<a data-recharge-token href="/tools/recurring/portal/{{customer.metafields.subscriptions.customer_string}}/subscriptions" name="memberships" class="nav-item-alt"><span>Memberships</span></a>{% endif %}
        <a href="/account/logout">Log Out</a>
      </div>

    </li>
    {% else %}
    <a href="/pages/login" class="login-button login-button--nav">My Account</a>
    {% endif %}
    <a href="#" class="search-toggle">{% render 'ico-search' %}</i></a>
    <a href="/cart" class="cart-link" id="cart-icon-bubble">
      {{ 'cart.svg' | asset_url | img_tag }}
      <span class="cart-count" style="right: -10px;text-align: center; width: 30px">{{ cart.item_count }}</span>
    </a>
</ul>
