{%- assign plan = plan.settings -%}
{%- assign plan_title = plan.title -%}
{%- assign plan_title_handle = plan.title | handle -%}
{%- assign plan_price = plan.price -%}
{%- assign plan_period = plan.period -%}
{%- assign plan_text = plan.text -%}
{%- assign plan_btn_text = plan.btn_text -%}
{%- assign plan_btn_url = plan.btn_url -%}

{% if plan_title != blank or plan_price != blank or plan_period != blank or plan_text != blank or plan_btn_text != blank or plan_btn_url != blank %}
<div class="plan {{ modificator }} {% if plan_title_handle == active_tab %}is-current{% endif %}" id="plan-{{- index -}}">
	<div class="plan__inner">
		{% if plan_title != blank %}
		<h3 class="plan__title">
			{{- plan_title -}}
		</h3><!-- /.plan__title -->
		{% endif %}

		{% if plan_price != blank %}
		<div class="plan__price">
			<sup>$</sup>{{- plan_price -}} <span>/ {{ plan_period }}</span>
		</div><!-- /.plan__price -->
		{% endif %}

		{% if plan_text != blank %}
		<div class="plan__entry">
			{{- plan_text -}}
		</div><!-- /.plan__entry -->
		{% endif %}

		{% if plan_btn_text != blank and plan_btn_url != blank %}
		<a href="{{- plan_btn_url -}}" class="btn plan__btn">
			{{- plan_btn_text -}}
		</a>
		{% endif %}
	</div><!-- /.plan__inner -->
</div><!-- /.plan -->
{% endif %}
