{%- assign designData = shop.metafields.reelUp.playlist_widget_design.value -%}
{%- assign reelUpVideos = shop.metafields.reelUp.reels.value -%}
{%- assign reelUpSettings = shop.metafields.reelUp.settings.value -%}
{%- assign playlists_count = playlistData.reels | size -%}
{%- assign display_count = 0 -%}

{%- comment %} Use sorted reels if available, otherwise use original playlist reels {% endcomment -%}
{%- if sortedReels and sortedReels.size > 0 -%}
  {%- assign reelsToUse = sortedReels -%}
  {%- assign playlists_count = sortedReels.size -%}
{%- else -%}
  {%- assign reelsToUse = playlistData.reels -%}
{%- endif -%}

{%- if playlistData.widget_template == "classic" -%}
  {% assign template = "overlay" %}
{%- else -%}
  {% assign template = playlistData.widget_template %}
{%- endif -%}

<div class="reelUp_playlist_stacked_static reelUp_carousel reelUp_playlist_loading reelUp_stacked reelUp_playlist_stacked_view_container" id="reelUp_playlist_{{ playlistData.id }}" data-playlist-id="{{ playlistData.id }}" style="max-width: {% if designData.wrapper_width == "full_width" %} 100% {% else %}{{ designData.playlist_wrapper_width | append: "px" }}{% endif %}; width: 100%">
  {%- assign showHeading = true -%}
  {%- if designData.show_playlist_heading -%}
    {%- assign showHeading = designData.show_playlist_heading -%}
  {%- endif -%}
  {%- if showHeading == true or showHeading == 1 -%}
    <div class="reelUp_slider_heading" style="color: {{ designData.playlist_heading_color }}; font-size: {{ designData.playlist_heading_font_size }}px; font-weight: {{ designData.playlist_heading_font_weight }}; text-align:{{ designData.playlist_heading_alignment }}">{{ playlistData.title }}</div>
  {%- endif -%}

  <div class="reelUp_playlist_stacked_view_wrapper reelUp_stacked_slider reelUp_{{ template }}_template">
    {% if playlists_count < 3 %}
      {% assign staticClass = "reelUp_skeleton_static_slider" %}
    {% endif %}

    <div class="reelUp_stacked_skeleton_list {{ staticClass }}">
      {% if playlists_count >= 5 %}
        {% assign display_count = 5 %}
      {% elsif playlists_count > 2 %}
        {% assign display_count = 3 %}
      {% else %}
        {% assign display_count = playlists_count %}
      {% endif %}

      {% for reel in reelsToUse %}
        {% if forloop.index <= display_count %}
          {% assign reel_id = reel | times: 1 %}
          {% assign currentReel = null %}
          {% for reelData in reelUpVideos %}
            {% if reelData.id == reel_id %}
              {% assign currentReel = reelData %}
              {% break %}
            {% endif %}
          {% endfor %}

          {% assign sliderClass = "" %}
          {% if display_count == 5 %}
            {% case forloop.index %}
              {% when 1 %}{% assign sliderClass = "reelUp_slide_prev_2" %}
              {% when 2 %}{% assign sliderClass = "reelUp_slide_prev" %}
              {% when 3 %}{% assign sliderClass = "reelUp_slide_active" %}
              {% when 4 %}{% assign sliderClass = "reelUp_slide_next" %}
              {% when 5 %}{% assign sliderClass = "reelUp_slide_next_2" %}
            {% endcase %}
          {% elsif display_count == 3 %}
            {% case forloop.index %}
              {% when 1 %}{% assign sliderClass = "reelUp_slide_prev" %}
              {% when 2 %}{% assign sliderClass = "reelUp_slide_active" %}
              {% when 3 %}{% assign sliderClass = "reelUp_slide_next" %}
            {% endcase %}
          {% endif %}

          <div class="reelUp_stacked_skeleton_item {{ sliderClass }}">
            <div class="reelUp_skeleton_card_wrapper">
              <div class="reelUp_card_video_wrapper reelUp_card reelUp_card_playlist_reels {% if currentReel and currentReel.products.size == 0 %}reelUp_card_video_only_video{% endif %}">
                <div class="reelUp_card_video"></div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<style>
  #reelUp_playlist_{{ playlistData.id }} .reelUp_stacked_skeleton_item { width: {{ designData.stack_width_desktop }}px !important;}
  @media only screen and (max-width: 767px) { #reelUp_playlist_{{ playlistData.id }} .reelUp_stacked_skeleton_item { width: {{ designData.stack_width_mobile }}px !important; }
  }
</style>

<script>
document.addEventListener("DOMContentLoaded", function() {
  if(!window.REELUP){
  const __wrappers = document.querySelectorAll(".reelUp_playlist_stacked_static.reelUp_carousel");
      if (__wrappers.length != 0) {
          __wrappers.forEach(sel => {
              sel.remove();
              console.log("REELUP WRAPPER IS REMOVED");
          })
      }
  }
});
</script>

<link href="{{ 'reels_carousel_stacked.css' | asset_url }}" rel="preload stylesheet" as="style">
