{% liquid
  if show_payment_button == false or product.selling_plan_groups.size > 0
    assign show_payment_button = false
  else
    assign show_payment_button = true
  endif

  assign variant = product.selected_or_first_available_variant

  assign checkout_url = '/checkout'

  for locale in shop.enabled_locales
    if locale.primary == true
      assign defaultLocale = locale.iso_code
      if defaultLocale != request.locale.iso_code
        assign checkout_url = request.locale.iso_code | append: '/checkout'
      endif
    endif
  endfor

  assign show_recipient_form_placeholders = true
  assign recipient_form_textarea_rows = 5
%}

<div
  class="
    product_form
    init
    smart-payment-button--{{ show_payment_button }}
    recipient-form-{{ show_recipient_form }}
    quantity-box-{{ settings.display_product_quantity }}
    {% if product.variants.size > 1 or product.options.size > 1 %}product_form_options{% endif %}
  "
  id="product-form-{{ product.id }}"
  data-product-form
  data-money-format="{{ shop.money_format | strip_html }}"
  data-shop-currency="{{ shop.currency }}"
  data-options-size="{{ product.options.size }}"
  data-select-id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}"
  data-enable-state="{% if template contains 'product' %}true{% else %}false{% endif %}"
  data-product="{{ product | json | escape }}"
  data-product-title="{{ product.title | escape }}"
  {% if settings.limit_quantity or settings.display_inventory_left %}
    data-variant-inventory='[{%- for v in product.variants -%}{"id":{{v.id}},"inventory_quantity":{{v.inventory_quantity}},"inventory_management":"{{v.inventory_management}}","inventory_policy":"{{v.inventory_policy}}"}{% if forloop.last == false %},{% endif %}{%- endfor -%}]'
  {% endif %}
  data-product-id="{{ product.id }}"
>
  <div id="main-price" class="ctm_prd_price_mobile">$149</div>
  {% assign form_id_prefix = "product-form-section-" %}
  {% assign form_id = form_id_prefix | append: product.id %}
  {% form 'product', product, id: form_id %}

  <div
    class="
      select
      {% if product.has_only_default_variant %}default_select{% endif %}
    "
  >

    {% if product.options.size == 1 and settings.product_form_style == 'select' %}
      <label>{{ product.options[0] }}</label>
    {% endif %}

    <select
      id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}"
      name="id"
      class="{% if product.options.size > 1 %}multi_select{% endif %}"
      data-variants
    >
      {% for v in product.variants %}
        <option {% if v == variant %}selected="selected"{% endif %} value="{{ v.id }}" data-featured-image="{{ v.featured_media }}" data-image="{{ v.featured_media | product_img_url: '600x' }}" data-sku="{{ v.sku }}">{{ v.title }}</option>
      {% endfor %}
    </select>
  </div>

  {% if settings.product_form_style == "radio" and product.variants.size > 1 or settings.product_form_style == "radio" and product.options[0] != "Title" %}
    <div class="swatch_options">
      {% for option in product.options %}
        {%
          render 'product-swatch',
          option: option,
          product: product
        %}
      {% endfor %}
      {% render "size-guide" product: product, option: option %}
      </div>
    {% endif %}

    {% comment %}ONLY RENDER ONCE THERE IS AN IMAGE AND IF THE PRODUCT IS CUSTOM RUG{% endcomment %}
    <div id="custom-rug-properties-section" style="display: block;">
      <input name="properties[__mediaId]" type="text" hidden style="display: none;" />
      <input name="properties[__Send Proof]" type="text" hidden style="display: none;" />
      <input name="properties[__Background Color]" type="text" hidden style="display: none;" />
      <input name="properties[__Remove Background]" type="text" hidden style="display: none;" />
      <input name="properties[__Scale]" type="text" hidden style="display: none;" />
      <input name="properties[__Rotation]" type="text" hidden style="display: none;" />
      <input name="properties[Original image]" type="text" hidden style="display: none;" />
      <input name="properties[Product preview image]" type="text" hidden style="display: none;" />
    </div>
    <div id="custom-rug-background-section" class="custom-rug-background-section" style="display: none;">
        <button id="custom-rug-remove-bg" class="custom-rug-remove-bg-button">Remove Photo Background</button>
        <input id="custom-rug-bg-color" type="color" />
        <button class="custom-rug-bg-color-button">Select Rug Color</button>
    </div>

    <div id="custom-rug-proof-section" style="display: none;">
      <div class="is-inline-block">
        {% render 'switch', id: "custom-rug-send-proof", label: "Send proof for approval before production."  %}
      </div>
    </div>

    <div id="custom-rug-comments-section" style="display: none; width: 100%;">
      <div style="font-weight: 900; margin-bottom: 8px;">Add Notes:</div>
      <div>
        <button type="button">Edit Notes</button>
  {% comment %}<textarea name="properties[Comments]" type="text" rows="3" style="font-size: 14px; min-height: 80px;" placeholder="Adjustments Requests: Design requests: Edit logos, text, background color, or layout. Tell us your vision — we’ll make it happen and send a proof before production."></textarea>{% endcomment %}
      </div>
    </div>

    {% render 'upload-photo-button' %}
    <div id="custom-rug-add-to-cart" class="custom-rug-sticky-add-to-cart-container" style="display: none;">
      {% render 'quantity-input', id: "custom-rug-quantity" %}
      <button type="button" class="custom-rug-sticky-add-to-cart-button">
        <span class="custom-rug-sticky-add-to-cart-button-text">Add to cart</span>
        <div class="ctm_prd_price_mobile" style="display: block;">$149</div>
      </button>
      <button id="custom-rug-submit-button" type="submit" style="display: none;"></button>
    </div>

  {% if product.available %}
    {% if settings.display_inventory_left %}
      <div class="items_left">
        {% if variant.inventory_management != blank and variant.inventory_quantity > 0 %}
          {% capture items_left_text %}
            {% if variant.inventory_quantity == 1 %}
              {{ 'products.product.items_left_count.one' | t }}
            {% else %}
              {{ 'products.product.items_left_count.other' | t }}
            {% endif %}
          {% endcapture %}
          {% if variant.inventory_quantity <= settings.inventory_threshold %}
            {{ variant.inventory_quantity }} {{ items_left_text }}
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
  {% endif %}

 
{% endform %}

  <div class="surface-pick-up surface-pick-up--loading" data-surface-pick-up></div>
  <div class="surface-pick-up__modal" data-surface-pick-up-modal></div>
</div>