{% comment %}
Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{%- assign file_extension = 'png' -%}
{%- assign swatch = option -%}
{%- assign found_option = false -%}
{%- assign is_color = false -%}
{%- assign option_index = 0 -%}

{% for option in product.options %}
  {% if option == swatch %}
    {%- assign found_option = true -%}
    {%- assign option_index = forloop.index0 -%}
    {%- assign downcased_option = swatch | downcase -%}

    {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
      {%- assign is_color = true -%}
    {% endif %}
  {% endif %}
{% endfor %}
<div class="swatch is-flex is-flex-wrap" data-option-index="{{ option_index }}">
  <div class="option_title" {% if swatch contains 'Size' %}data-option-size-title{% endif %} data-option-title="{{ swatch }}">Select {{ swatch }}:</div>

  {%- assign values = '' -%}
  {% for variant in product.variants %}
    {%- assign value = variant.options[option_index] | escape -%}
    {% unless values contains value %}
      {%- assign values = values | join: ',' -%}
      {%- assign values = values | append: ',' | append: value -%}
      {%- assign values = values | split: ',' -%}

      {%- assign findTabCusClss = 'tabCls' |  append: variant.option1 -%}
      {%- assign allSizesCls = 'all-sizes' |  append: option_index -%}
      <input class="ctm_chage_var" id="swatch-{{ option_index }}-{{ value | replace: ' ', '-' }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}" type="radio" name="option-{{ option_index }}"
     aria-label="{{ value | escape }}" tabindex="0" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} {% if option_index == 0 %} onchange="swachesSizeHandler('{{findTabCusClss}}','{{value}}')" {%endif%}/>

      <div tabindex="0"  value="{{ value | escape }}" data-value="{{ value | escape }}" data-id="{{ variant.id }}" class="swatch-element {% if option_index != 0 %} all-sizes-cls {%endif%} {{ findTabCusClss }} {% if is_color %}color{% endif %} {{ value | handle }}-swatch {% if variant.available %}available{% endif %}">
        {% if is_color %}
          <div class="tooltip">{{ value }}</div>
        {% endif %}

        {% if is_color %}
          <label {% if variant.featured_image %}data-image="{{ variant.featured_image | product_img_url: '600x' }}"{% endif %} for="swatch-{{ option_index }}-{{ value | replace: ' ', '-' }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}" style="background-image: url({{ value | handle | append: '.' | append: file_extension | asset_img_url: '50x' | prepend: 'https:' }}); background-color: {{ value | split: ' ' | last | handle }};">
            <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" aria-label="sold out" alt="sold out"/>
          </label>
        {% else %}
          <label {% if variant.featured_image %}data-image="{{ variant.featured_image | product_img_url: '600x' }}"{% endif %} for="swatch-{{ option_index }}-{{ value | replace: ' ', '-' }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}">
            {% if swatch == "Shape" and value == "Rectangle"%}
              <svg xmlns="http://www.w3.org/2000/svg" width="41" height="40" viewBox="0 0 41 40" fill="none">
                <rect x="0.5" y="4.5" width="39" height="31" rx="3.5" stroke="black" />
              </svg>
            {% elsif  swatch == "Shape" and value == "Circle"%}
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                <circle cx="20" cy="20" r="19.5" stroke="#999999"/>
              </svg>
            {% elsif  swatch == "Shape" and value == "Runner"%}
              <svg xmlns="http://www.w3.org/2000/svg" width="41" height="40" viewBox="0 0 41 40" fill="none">
                <rect x="0.666626" y="12.5" width="39" height="15" rx="3.5" stroke="#999999"/>
              </svg>
            {% endif %}
            {{ value }}
            <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" aria-label="sold out" alt="sold out"/>
          </label>
        {% endif %}
      </div>
    {% endunless %}
  {% endfor %}
</div>
