{%- if content_for_header contains 'cdn.reelup.io' -%}
    <div class="reelUp_product_slider_static"></div>
    {%- else -%}
    {%- liquid
        if product and shop.metafields.reelUp.productReels.value.product_page_reels == 1
            assign productReels = product.metafields.reelUpProductReels.reels.value 
            assign showReels = false
            if productReels != null and productReels.size > 0
                assign showReels = true
                assign designData = shop.metafields.reelUp.design.value
                assign reelUpVideos = shop.metafields.reelUp.reels.value
            endif
        endif
    -%}
    {%- if showReels -%}
    {%- assign showHeading = true -%}
        {%- if designData.show_cart_heading -%}
            {%- assign showHeading = designData.show_cart_heading -%}
        {%- endif -%}
        <div class="reelUp_product_slider_static reelUp_playlist_loading reelUp_carousel reelUp_cards_carousel" id="reelUp_playlist_product_page_reels" data-playlist-id="product_page_reels" style="width: 100%">
        {%- if showHeading == true or showHeading == 1 -%}
            <div class="reelUp_slider_heading" style="color: {{ designData.cart_heading_color }}; font-size: {{ designData.cart_heading_font_size }}px; font-weight:{{ designData.cart_heading_font_weight }}; opacity: 0;">{{ designData.cart_heading }}</div>
        {%- endif -%}
        <div class="reelUp_carousel_wrapper">
            {%- for reel in productReels -%}
                {%- for reelData in reelUpVideos -%}
                    {%- if reelData.id == reel -%}
                        <div class="reelUp_slide" data-reel-id="{{ reelData.id }}" data-product-id="{% if reelData.products.size > 0 %}{{ reelData.products[0].id }}{% else %}null{% endif %}" data-product-handle="{% if reelData.products.size > 0 %}{{ reelData.products[0].handle }}{% else %}null{% endif %}" style="margin-right: {{ designData.cart_reels_gap }}px">
                            <div class="reelUp_card_skeleton reelUp_card reelUp_card_product_page_reels {% if reelData.products.size == 0 %} reelUp_card_video_only_video {% endif %}">
                            <div class="reelUp_card_video_wrapper" style="height: 100%"></div>
                        </div>
                        </div>
                    {%- endif -%}
                {%- endfor -%}
            {%- endfor -%}
        </div>
        </div>

        {%- assign cardHeightDesktop = designData.cart_card_width_desktop | times: 1.775 -%}
        {%- assign cardHeightMobile = designData.cart_card_width_mobile | times: 1.775 -%}
        {%- assign calculatedHeight = 0 -%}

        {%- if designData.show_product_reel_title == true or designData.show_product_reel_title == 1 -%}
            {%- assign calculatedHeight = calculatedHeight | plus: 20 -%}
        {%- endif -%}
        
        <style>
            #reelUp_playlist_product_page_reels .reelUp_slide {width: {{ designData.cart_card_width_desktop }}px!important;height: {{ cardHeightDesktop | plus: calculatedHeight }}px;}
            @media only screen and (max-width: 767px) {
                #reelUp_playlist_product_page_reels  .reelUp_slide {width: {{ designData.cart_card_width_mobile }}px!important;height: {{ cardHeightMobile | plus: calculatedHeight }}px;}}
        </style>
        <link href="{{ 'reels_carousel.css' | asset_url }}" rel="preload stylesheet" as="style"/>
        {%- comment -%}block settings{%- endcomment -%}
            <script src="{{ 'reels_carousel.js' | asset_url }}" defer></script>
        {%- comment -%}block settings end{%- endcomment -%}
    {%- endif -%}
{%- endif -%}
