<div class="started {{ modifier }}" style="background-color: {{ background }}">
  <div class="page-width">
    <div class="started__inner">
      {% if title != blank %}
        <h3 class="started__title" style="color: {{ title_color }}">{{ title }}</h3><!-- /.started__title -->
      {% endif %}

      <div class="started__entry" style="color: {{ color }}">
        {{ content }}

        {% assign link_text = 'general.started.login_now' | t %}
        {% assign link = '/account/login' %}

        {% if customer %}
          {% assign link_text = 'general.started.launch_raddish' | t  %}
          {% assign link = url %}
        {% endif %}

        <strong><a href="{{ url }}">{{ link_text}}</a></strong>
      </div><!-- /.started__entry -->
    </div><!-- /.started__inner -->
  </div><!-- /.page-width -->
</div><!-- /.started -->
