<div class="subscription-step subscription-step--3">
  <h2 class="h2"> <span class="back-button" rv-on-click="methods.goBack" > < </span> {{ steps.step_3_title }}</h2>
  {% assign upsells = section.blocks | where: "type", "upsells" | map: "settings" %}
  <div class="subscription__upsells-container">
    <div class="upsell-card">
      <div class="upsell-card__image">
        {% render 'image', _image: section.settings.sibling_bundle_image %}
      </div>
      <div class="upsell-card__content">
        <h4 class="upsell-card__title">{{ section.settings.sibling_bundle_title }}</h4>
        <p>{{ section.settings.sibling_bundle_description }}</p>
        <div class="subscription__quick-add-container">
          {% assign prod_id = 'sibling_bundle' %}
          <a
            class="btn btn-outline"
            rv-data-quantity="state.extraItems.{{prod_id}}"
            rv-if="state.extraItems.{{prod_id}} | eq '0'"
            rv-on-click="methods.addUpsellToSubscription | args '{{prod_id}}'">Add</a>
          <div class="quick-add-qty-container" rv-if="state.extraItems.{{prod_id}} | eq '0' | not ">
            <div class="quick-add-qty">
              <span class="quick-add-qty-minus" rv-on-click="methods.removeUpsellFromSubscription | args '{{prod_id}}'">
                {% include 'icon-minus-qty' %}
              </span>
              <span class="quick-add-qty-display" rv-text="state.extraItems.{{prod_id}}"></span>
              <span
                class="plan-switch-plus"
                rv-on-click="methods.addUpsellToSubscription | args '{{prod_id}}'"
                rv-if="state.extraItems.{{prod_id}} | gte {{section.settings.max_siblings | json }} | not">
                {% include 'icon-plus-qty' %}
              </span>
              <span
                class="quick-add-qty-plus"
                rv-if="state.extraItems.{{prod_id}} | gte {{section.settings.max_siblings | json }}"
                style="opacity: .4; pointer-events: none;">
                {% include 'icon-plus-qty' %}
              </span>

            </div>
          </div>
        </div>
      </div>
    </div>
    {% for upsell in upsells %}
      {% comment %}
      {% if upsell.product == "raddish-apron" %}
        {% assign upsell_product = all_products['youth-apron'] %}
      {% elsif upsell.product == "raddish-cookbook" %}
        {% assign upsell_product = all_products['raddish-cookbook'] %}
      {% else %}
        {% assign upsell_product = all_products[upsell.product] %}
      {% endif %}
      {% endcomment %}
      {% assign upsell_product = blank %}
      {% for col_product in collections['membership-upsells'].products %}
        {% if col_product.handle == upsell.product %}
          {% assign upsell_product = col_product %}
        {% endif %}
      {% endfor %}
      <div class="upsell-card">
        <div class="upsell-card__image" data-product="{{upsell_product.handle}}">
          {% render 'image', _image: upsell_product.featured_image %}
        </div>
        <div class="upsell-card__content">
          <h4 class="upsell-card__title">
            {% if upsell.upsell_title != blank %}
              {{ upsell.upsell_title }}
            {% else %}
              {{ upsell_product.title }}
            {% endif %}
          </h4>
          <p>{{ upsell.description }}</p>
          <div class="subscription__quick-add-container">
            {% assign prod_id = upsell_product.selected_or_first_available_variant.id %}
            <a
              class="btn btn-outline"
              rv-data-quantity="state.extraItems.{{prod_id}}"
              rv-if="state.extraItems.{{prod_id}} | not"
              rv-on-click="methods.addUpsellToSubscription | args '{{prod_id}}'">Add</a>
            <div class="quick-add-qty-container" rv-if="state.extraItems.{{prod_id}}">
              <div class="quick-add-qty">
                <span class="quick-add-qty-minus" rv-on-click="methods.removeUpsellFromSubscription | args {{prod_id}}">
                  {% include 'icon-minus-qty' %}
                </span>
                <span class="quick-add-qty-display" rv-text="state.extraItems.{{prod_id}}"></span>
                <span class="quick-add-qty-plus" rv-on-click="methods.addUpsellToSubscription | args {{prod_id}}">
                  {% include 'icon-plus-qty' %}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <a data-content-id="gift-options-modal"
    class="btn btn-outline btn--gift-options"
    style="display: none !important"
    rv-on-click="methods.openAdditionalContent">
    {%- comment -%}
      {% render 'icon-gift' %}
    {%- endcomment -%}
    <img
      src="{{ 'gift-animated.gif' | asset_img_url }}"
      align="left"
      width="29"
      height="29"
      style="padding: 0 5px 5px 0;" />
    <span>{{ steps.step_3_gift_options_button_label }}</span>
  </a>
  <button
    class="btn btn--add-to-cart button-checkout"
    href="#"
    rv-on-click="methods.addToCart">
    <span class="checkout-loading"><img src="{{"loading-raddish.gif" | asset_img_url: "80x"}}" /></span>
    <span>{{ steps.step_3_review_order_button_label}}</span>
  </button>
</div>