
<div class="subscription-step subscription-step--2">
  <h2 class="h2"><span class="back-button" rv-on-click="methods.goBack" > < </span> {{steps.step_2_title}}</h2>
  {% if steps.step_2_desc %}
  <div class="step-2__description">{{steps.step_2_desc}}</div>
  {% endif %}
  {% assign plans = section.blocks | where: "type", "plan" | map: "settings" %}
  <div class="subscription__plans-container">
    {% for plan in plans %}
      {% assign plan_length = plan.length | json %}
      {% assign sku = prd.selected_or_first_available_variant.sku %}
      <div class="select-card select-card--plan" rv-on-click="methods.updateSubscriptionProperty | args 'plan_length' '{{plan_length}}'" >
        {% if plan.label != blank %}
          <div class="plan-label">{{plan.label}}</div>
        {% endif %}
        <div class="select-card__left" style="background-color: #E4F4F6; {% if plan.label != blank %} padding-top: 1rem;{% endif %} ">
          <input rv-on-change="methods.updateSubscription" type="checkbox" name="plan_length" id="plan-{{plan_length}}" value="{{plan_length}}" rv-checked="state.subscription.plan_length | eq '{{plan_length}}'">
          <label for="plan-{{plan_length}}" class="h5">{{plan.title}}</label>
        </div>
        <div class="select-card__right" {% if plan.label != blank %}style="padding-top: 2.25rem"{% endif %} >
          <input rv-on-change="methods.updateSubscription" type="checkbox" name="plan_length" id="plan-{{plan_length}}" value="{{plan_length}}" rv-checked="state.subscription.plan_length | eq '{{plan_length}}'">
          <div class="select-card__description">
            <p class="price">
              {{plan.price}}
            </p>
            <div class="description">{{plan.description}}</div>
            {% if plan.free_item_title != blank %}{{plan.free_item_title}}{% endif %}
            {% if plan.free_item_2_title != blank %}{{plan.free_item_2_title}}{% endif %}
            {% if plan.free_item_3_title != blank %}{{plan.free_item_3_title}}{% endif %}
            {% if plan.savings != blank %}
            <p class="savings">{{plan.savings}}</p>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="subscription__plans-icons">
    <div class="icon-container">
      {% render "icon-truck" %}
      {{section.settings.shipping_copy}}
    </div>
    <div class="icon-container">
      {% render "icon-notebook" %}
      {{section.settings.autorenew_copy}}
    </div>
  </div>
</div>