<div class="subscription-step-v2-step-3 sub-v2-step--3">
  {% assign upsells = section.blocks | where: "type", "upsells" | map: "settings" %}

  <div class="subscription__clubs-container">
      <h2 class="{{ title_class }}"><span role="button" aria-label="go back" style="padding-right: 4px; cursor: pointer;" rv-on-click="methods.goBack" > < </span>{{steps.step_3_title}}</h2>

      <div class="sub-v2-step--3__grid" role="list">
        {% assign prod_id = 'sibling_bundle' %}
        <div class="upsell-card sub-v2-step--3__card {{ card_class }}">
          <div class="upsell-card__image">
            {% render 'image', _image: section.settings.sibling_bundle_image %}

            <div class="subscription__quick-add-container-mobile">
              <a
                class="btn btn-outline"
                rv-data-quantity="state.extraItems.{{prod_id}}"
                rv-if="state.extraItems.{{prod_id}} | eq '0'"
                rv-on-click="methods.addUpsellToSubscription | args '{{prod_id}}'">Add</a>
              <div class="quick-add-qty-container" rv-if="state.extraItems.{{prod_id}} | eq '0' | not ">
                <div class="quick-add-qty">
                  <span class="quick-add-qty-minus" rv-on-click="methods.removeUpsellFromSubscription | args '{{prod_id}}'">
                    {% render 'icon-minus-qty' %}
                  </span>
                  <span class="quick-add-qty-display" rv-text="state.extraItems.{{prod_id}}"></span>
                  <span
                    class="plan-switch-plus"
                    rv-on-click="methods.addUpsellToSubscription | args '{{prod_id}}'"
                    rv-if="state.extraItems.{{prod_id}} | gte {{section.settings.max_siblings | json }} | not">
                    {% render 'icon-plus-qty' %}
                  </span>
                  <span
                    class="quick-add-qty-plus"
                    rv-if="state.extraItems.{{prod_id}} | gte {{section.settings.max_siblings | json }}"
                    style="opacity: .4; pointer-events: none;">
                    {% render 'icon-plus-qty' %}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="upsell-card__content">
            <h4 class="sub-v2-step--3__card-title">{{ section.settings.sibling_bundle_title }}</h4>
            <p class="sub-v2-step--3__description">{{ section.settings.sibling_bundle_description }}</p>
            <div class="upsell-card__content__price">${{ section.settings.sibling_bundle_price }}/mo</div>
            <div class="subscription__quick-add-container">
              <a
                class="btn btn-outline"
                rv-data-quantity="state.extraItems.{{prod_id}}"
                rv-if="state.extraItems.{{prod_id}} | eq '0'"
                rv-on-click="methods.addUpsellToSubscription | args '{{prod_id}}'">Add</a>
              <div class="quick-add-qty-container" rv-if="state.extraItems.{{prod_id}} | eq '0' | not ">
                <div class="quick-add-qty">
                  <span class="quick-add-qty-minus" rv-on-click="methods.removeUpsellFromSubscription | args '{{prod_id}}'">
                    {% render 'icon-minus-qty' %}
                  </span>
                  <span class="quick-add-qty-display" rv-text="state.extraItems.{{prod_id}}"></span>
                  <span
                    class="plan-switch-plus"
                    rv-on-click="methods.addUpsellToSubscription | args '{{prod_id}}'"
                    rv-if="state.extraItems.{{prod_id}} | gte {{section.settings.max_siblings | json }} | not">
                    {% render 'icon-plus-qty' %}
                  </span>
                  <span
                    class="quick-add-qty-plus"
                    rv-if="state.extraItems.{{prod_id}} | gte {{section.settings.max_siblings | json }}"
                    style="opacity: .4; pointer-events: none;">
                    {% render 'icon-plus-qty' %}
                  </span>

                </div>
              </div>
            </div>
          </div>
        </div>
         {% for upsell in upsells %}
          {% assign upsell_product = blank %}
          {% for col_product in collections['membership-upsells'].products %}
            {% if col_product.handle == upsell.product %}
              {% assign upsell_product = col_product %}
            {% endif %}
          {% endfor %}

          <div class="upsell-card sub-v2-step--3__card {{ card_class }}">
            {% if upsell.save_text != blank %}
              <p class="subscription-step-v2--3__savings">{{upsell.save_text}}</p>
            {% endif %}
            <div class="upsell-card__image" data-product="{{upsell_product.handle}}">
              {% render 'image', _image: upsell_product.featured_image %}

              <div class="subscription__quick-add-container-mobile">
                {% assign prod_id = upsell_product.selected_or_first_available_variant.id %}
                <a
                  class="btn btn-outline"
                  rv-data-quantity="state.extraItems.{{prod_id}}"
                  rv-if="state.extraItems.{{prod_id}} | not"
                  rv-on-click="methods.addUpsellToSubscription | args '{{prod_id}}'">Add</a>
                <div class="quick-add-qty-container" rv-if="state.extraItems.{{prod_id}}">
                  <div class="quick-add-qty">
                    <span class="quick-add-qty-minus" rv-on-click="methods.removeUpsellFromSubscription | args {{prod_id}}">
                      {% render 'icon-minus-qty' %}
                    </span>
                    <span class="quick-add-qty-display" rv-text="state.extraItems.{{prod_id}}"></span>
                    <span class="quick-add-qty-plus" rv-on-click="methods.addUpsellToSubscription | args {{prod_id}}">
                      {% render 'icon-plus-qty' %}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="upsell-card__content">
              <h4 class="sub-v2-step--3__card-title">
                {% if upsell.upsell_title != blank %}
                  {{ upsell.upsell_title }}
                {% else %}
                  {{ upsell_product.title }}
                {% endif %}
              </h4>
              <p class="sub-v2-step--3__description">{{ upsell.description }}</p>
              <div class="upsell-card__content__price">${{ upsell_product.selected_or_first_available_variant.price | divided_by: 100 }}{{ upsell.price_suffix }}</div>
              <div class="subscription__quick-add-container">
                {% assign prod_id = upsell_product.selected_or_first_available_variant.id %}
                <a
                  class="btn btn-outline"
                  rv-data-quantity="state.extraItems.{{prod_id}}"
                  rv-if="state.extraItems.{{prod_id}} | not"
                  rv-on-click="methods.addUpsellToSubscription | args '{{prod_id}}'">Add</a>
                <div class="quick-add-qty-container" rv-if="state.extraItems.{{prod_id}}">
                  <div class="quick-add-qty">
                    <span class="quick-add-qty-minus" rv-on-click="methods.removeUpsellFromSubscription | args {{prod_id}}">
                      {% render 'icon-minus-qty' %}
                    </span>
                    <span class="quick-add-qty-display" rv-text="state.extraItems.{{prod_id}}"></span>
                    <span class="quick-add-qty-plus" rv-on-click="methods.addUpsellToSubscription | args {{prod_id}}">
                      {% render 'icon-plus-qty' %}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
      <button
      class="btn sub-v2-step--3__button button-checkout"
      href="#"
      rv-on-click="methods.addToCart">
        <span class="checkout-loading"><img src="{{"loading-raddish.gif" | asset_img_url: "80x"}}" /></span>
        <span>{{ steps.step_3_review_order_button_label}}</span>
    </button>
  </div>
</div>
<style>
  .subscription-step-v2-step-3 {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    margin-top: 30px;
  }

  .sub-v2-step--3 .subscription__clubs-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    display: none;
  }

  .subscription__clubs-container--active {
    display: flex !important;
  }

  .sub-v2-step--3__card {
    background:var(--card-bg);
    border: 1px solid var(--card-border); 
    padding: 27px 14px 18px !important;
    gap: 10px !important;
    position: relative;
  }

  .subscription-step-v2--3__savings {
    position: absolute;
    top: -17px;
    color: #4D4D4D;
    text-align: center;
    font-family: Avenir, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    background-color: #A9DD61;
    border-radius: 5px;
    padding: 8px 12px 4px;
    border: 1px solid #4d4d4d;
    margin: 0;
  }

  .sub-v2-step--3__card-title {
    font-family: "KG HAPPY Solid", sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    margin: 0;
    max-width: 140px;
  }

  .sub-v2-step--3__grid {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: none;
    display:grid;
    grid-template-columns:repeat({{ upsells.size | plus: 1 }},minmax(0,1fr));
    gap: 14px;
    align-items:stretch;
  }

  .sub-v2-step--3__description {
    color: #4D4D4D;
    text-align: center;
    font-family: "Avenir", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 350;
    line-height: 18px;
    margin: 0;
    letter-spacing: 0px;
  }

  .sub-v2-step--3 .upsell-card {
    background-color: white;
    width: 180px;
  }

  .sub-v2-step--3 .upsell-card__image {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .sub-v2-step--3 .upsell-card__image picture {
    height: 54px;
  }
      
  .sub-v2-step--3 .upsell-card__image img {
    height: 54px;
    width: auto;
  }

  .sub-v2-step--3 .btn.btn-outline {
    background: white;
    color: #f3576b;
    border: 2px solid #f3576b;
    padding: 6px 16px !important;
    min-width: 95px;
    height: 36px;
  }

  .sub-v2-step--3 .subscription__quick-add-container {
    position: relative;
    height: 48px;
    display: block;
  }

  .sub-v2-step--3 .subscription__quick-add-container-mobile {
    position: relative;
    height: 36px;
    display: none;
  }

  .upsell-card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .sub-v2-step--3__button {
    width: 100%;
    max-width: 303px;
    padding: 20px 20px 16px !important;
    margin-bottom: 26px;
  }

  .sub-v2-step--3 .quick-add-qty-container {
    width: 96px;
  }
  .sub-v2-step--3 .plan-switch-plus,
  .sub-v2-step--3 .quick-add-qty-minus,
  .sub-v2-step--3 .quick-add-qty-plus {
    flex-basis: 30px;
  }

  .sub-v2-step--3 .quick-add-qty-display {
    flex-basis: 36px;
  }

  .sub-v2-step--3 .quick-add-qty-container, .upsell-card__content .quick-switch-qty-container {
    position: relative;
    left: 0;
    transform: none;
  }

  .sub-v2-step--3 .quick-add-qty {
    margin: 0 auto;
  }

  .upsell-card__content__price {
    color: #F3576B;
    text-align: center;
    font-family: "KG HAPPY Solid", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
  }

  @media screen and (min-width: 768px) {
    .subscription-step-v2-step-3 > .btn {
      max-width: 350px;
      margin-left: auto !important;
      margin-right: auto !important;
      display: block;
    }
  }

  @media screen and (max-width: 768px) {
    .subscription-step-v2--3__savings {
      left: 50%;
      transform: translateX(-50%);
    }
    .subscription-step-v2-step-3 {
      margin-top: 26px;
    }
    .sub-v2-step--3 .subscription__clubs-container {
      gap: 26px;
    }
    .sub-v2-step--3__grid{
      grid-template-columns:repeat(1,minmax(0,1fr));
      gap: 20px;
      width: 100%;
    }
    .sub-v2-step--3__description {
      text-align: left;
    }
    .sub-v2-step--3__card {
      background: var(--club-mobile-bg);
      flex-direction: row;
      width: 100%;
      align-items: flex-start;
      padding: 15px 20px !important;
    }
    .sub-v2-step--3 .upsell-card {
      gap: 20px !important;
    }

    .sub-v2-step--3__card-title {
      font-size: 16px;
      line-height: 16px;
      max-width: 100%;
      text-align: left;
    }
    .sub-v2-step--3 .upsell-card {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      box-shadow: unset;
      width: 100%;
    }
    .upsell-card__content {
      align-items: flex-start;
      gap: 8px;
      flex: 1;
    }
    .sub-v2-step--3 .upsell-card__image img {
      width: 72px;
      object-fit: contain;
    }
    .sub-v2-step--3 .quick-add-qty {
      margin: 0;
    }
    .sub-v2-step--3 .subscription__quick-add-container {
      display: none;
    }
    .sub-v2-step--3 .subscription__quick-add-container-mobile {
      display: block;
    }
    .upsell-card__content__price {
      font-size: 16px;
      line-height: 14px;
    }
    .sub-v2-step--3 .quick-add-qty-container {
      width: 92px;
    }

    .sub-v2-step--3 .btn.btn-outline {
      min-width: 75px;
    }
  }
</style>