<div class="subscription-step subscription-step--1">
  <h2 class="h2">{{steps.step_1_title}}</h2>
  {% assign clubs = section.blocks | where: "type", "club" | map: "settings" %}
  <div class="subscription__clubs-container">
    {% for club in clubs %}
      {% assign club_product = all_products[club.product] %}
      {% assign club_identifier = club_product.metafields.subscription.type  %}
      <div class="select-card" data-subscription="{{club_identifier}} - {{club_product.selected_or_first_available_variant.sku}}" >
        <div class="select-card__left" style="background-color: {{club.color}};">
          <input rv-on-change="methods.updateSubscription" data-sbo-enabled="{{ club.sbo_enabled }}" type="checkbox" name="club" id="club-{{club_identifier}}" value="{{club_identifier}}" rv-checked="state.subscription.club | eq '{{club_identifier}}'">
          <label for="club-{{club_identifier}}" class="h5">{{club.title}}</label>
        </div>
        <div class="select-card__right">
          {% if club.icon != blank %}
            <div class="select-card__icon">{% render 'image', _image: club.icon, size: '80', alt: club.icon.alt %}</div>
          {% elsif club.svg_icon != blank %}
            <div class="select-card__svg">{{club.svg_icon}}</div>
          {% endif %}
          <div class="select-card__description">
            <p class="description">
              <input style="opacity:0;" rv-on-change="methods.updateSubscription" data-sbo-enabled="{{ club.sbo_enabled }}" type="checkbox" name="club" id="club-{{club_identifier}}" value="{{club_identifier}}" rv-checked="state.subscription.club | eq '{{club_identifier}}'">
            {{club.description}}
            </p>
            <a href="#" rv-on-click="methods.openAdditionalContent" data-content-id="{{club.section_id}}"> View details</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% if steps.step_1_bottom_description != blank %}
  <div class="bottom-content-2">
    {{steps.step_1_bottom_description}}
  </div>
  {% endif %}
</div>