<div class="account-content-container">
<div class="content-box form-elements-alt activate-account">
<h1 class="h1">{{ 'customer.activate_account.title' | t }}</h1>
<p>{{ 'customer.activate_account.subtext' | t }}</p>

{% form 'activate_customer_password' %}
  {{ form.errors | default_errors }}
  <input type="hidden" name="return_to" value="/account?login=true">
  <div class="acct-field-row">
    <label for="CustomerPassword" class="acct-label">
      {{ 'customer.activate_account.password' | t }}
    </label>
    <input type="password"
      name="customer[password]"
      id="CustomerPassword"
      placeholder="{{ 'customer.activate_account.password' | t }}">
  </div>

  <div class="acct-field-row">
    <label for="CustomerPasswordConfirmation" class="acct-label">
      {{ 'customer.activate_account.password_confirm' | t }}
    </label>
    <input type="password"
      name="customer[password_confirmation]"
      id="CustomerPasswordConfirmation"
      placeholder="{{ 'customer.activate_account.password_confirm' | t }}">
  </div>

  <div class="acct-option-row">
  <input class="button-tertiary" type="submit" class="button" value="{{ 'customer.activate_account.submit' | t }}">
  </div>
  <div class="acct-option-row">
  <input type="submit" class="button-text btn-decline" name="decline" value="{{ 'customer.activate_account.cancel' | t }}">
</div>
{% endform %}
</div>
</div>