
<div class="banner banner--3-columns">
  <div class="content-left">
    {% render 'image', _image: section.settings.left_image, alt: section.settings.left_image.alt %}
  </div>
  <div class="content-center" style="background-color: {{section.settings.background_color}};">
    {% if section.settings.icons != blank %}
      {% render 'image', _image: section.settings.icons, alt: section.settings.icons.alt %}
    {% endif %}
    <h1 class="h1">{{section.settings.title}}</h1>
    <p class="banner-description">{{section.settings.description}}</p>
    {% if section.settings.text != blank %}
    <a class="btn" href="{{section.settings.url}}">{{section.settings.text}}</a>
    {% endif %}
    {% comment %}
    {% endcomment %}
  </div>
  <div class="content-right">
    {% render 'image', _image: section.settings.right_image, alt: section.settings.right_image.alt %}
  </div>
  {% comment %}
  <div style=" overflow: hidden;" class="wave" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.99 C220.37,178.13 240.12,-71.53 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: white;"></path></svg></div>
  <div style="overflow: hidden;" class="wave-vertical"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M26.80,-2.45 C17.21,60.70 17.21,65.63 30.76,149.51 L0.00,150.00 L0.00,0.00 Z" style="stroke: none; fill: {{section.settings.background_color}};"></path></svg></div>
  {% endcomment %}
</div>

<style>
  .banner.banner--3-columns {
    display: flex;
  }
  .banner--3-columns h1 {
    text-transform: none;
  }
  .banner--3-columns .banner-description {
    font-size: 24px;
    line-height: 42px;
    font-weight: 500;
  }

  .banner.banner--3-columns .content-left {
    width: 30%;
  }
  .content-center img {
    max-width: 210px;
    margin: 20px auto;
  }
  .content-center .btn { 
    max-width: 310px;
    margin: 0 auto;
    width: 100%;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
  }
  .banner.banner--3-columns .content-right {
    width: 30%;
  }

  .banner.banner--3-columns .content-center {
    width: 40%;
    padding: 40px 30px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .content-left, .content-right {
    position: relative;
  }

  .content-left img, .content-right img {
    height: 100%;
    object-fit: cover;
  }

  @media only screen and (max-width: 749px) {
    .content-left img, .content-right img {
      max-height: 50vh;
      width: 100%;
    }
    .banner.banner--3-columns {
      flex-wrap: wrap;
    }
    
    .banner.banner--3-columns .content-left {
        width: 50%;
    }
    
    .banner.banner--3-columns .content-right {
        width: 50%;
    }
    
    .banner.banner--3-columns .content-center {
        width: 100%;
        order: 5;
    }
    
    .content-center img {
        max-width: 120px;
    }
    
    .content-center h1 {
        font-size: 20px;
    }
    .content-center img {
      margin: 14px 0;
    }
    .banner--3-columns .banner-description {
        font-size: 16px;
        line-height: 26px;
        margin-top: 0;
    }
    .banner.banner--3-columns .content-center {
        padding: 10px 32px 20px;
    }
  }
</style>

{% schema %}
  {
    "name": "Banner 3 Columns",
    "class": "banner-3-columns-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "html",
        "id": "description",
        "label": "Text"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color"
      },
      {
        "type": "image_picker",
        "id": "icons",
        "label": "Icons"
      },
      {
        "type": "image_picker",
        "id": "left_image",
        "label": "Left Image"
      },
      {
        "type": "image_picker",
        "id": "right_image",
        "label": "Right Image"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Button Text",
        "default": "Pick a Club"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Button URL"
      }
    ],
    "presets": [
      {
        "name": "Banner 3 columns",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}