{%- assign _section = section.settings -%}
{%- assign section_title = _section.title -%}
{%- assign section_content = _section.content -%}

<div class="bite-boxes">
  <div class="page-width">
    {%- if section_title != blank -%}
      <h3>{{section_title}}</h3>
    {%- endif -%}
    {{section_content}}
    <div class="flex">
      {%- for block in section.blocks -%}
        {%- assign _block = block.settings -%}
        {%- assign block_image = _block.image -%}
        {%- assign block_title = _block.title -%}
        {%- assign block_link = _block.link -%}
        {%- assign block_content = _block.content -%}
        <div class="box">
          <div class="box__image">
            <div {% include 'image', _image: block_image, background: true, size: '140', classes: 'image', inline: true %}></div><!-- /.image -->
          </div><!-- /.box__image -->
          <div class="box__content">
            {%- if block_title != blank -%}
              <h5>
                {%- if block_link != blank -%}
                  <a href="{{block_link}}">
                {%- endif -%}
                  {{block_title}}
                {%- if block_link != blank -%}
                  </a>
                {%- endif -%}
              </h5>
            {%- endif -%}
            <p>{{ block_content }}</p>
          </div><!-- /.box__content -->
        </div><!-- /.box -->
      {%- endfor -%}
    </div><!-- /.flex -->
  </div><!-- /.page-width -->
</div><!-- /.bite-boxes -->


{% schema %}
{
  "name": "Bites",
  "class": "bites-wrapper",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    }
  ],
  "blocks": [
    {
      "type": "bite",
      "name": "Bite",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ]
}
{% endschema %}
