
<div {% if section.settings.element_id != blank %}id="{{ section.settings.element_id }}"{% endif %} class="block-with-text" style="background-color: {{section.settings.background_color}}; color: {{section.settings.text_color}};">
  <div class="content-container">
    <h2 class="h2">
      {{section.settings.title}}
    </h2>
    {% if section.settings.description != blank %}
    <div class="description" {% if section.settings.body_text_color != blank %}style="color: {{section.settings.body_text_color}}" {% endif %}>
      {{section.settings.description}}
    </div>
    {% endif %}
  </div>
</div>

<style>
  .block-with-text h2,
  .block-with-text div {
    color: inherit;
    text-align: center;
    text-transform: none;
  }
  .block-with-text h2 {
    font-size: 24px;
  }
  .content-container {
    padding: 16px 40px;
    max-width: 600px;
    margin: 0 auto;
  }
  .description p {
    margin: 0;
  }
  .description a {
    color: inherit;
    font-weight: bold;
    text-decoration: underline;
  }

  .template--page-dtc-landing .block-with-text .description {
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
    margin-top: 1rem;
  }

  .template--page-dtc-landing .block-with-text h2 {
    font-size: 28px;
  }
  
  @media screen and (min-width: 750px) {

    .content-container {
      padding: 16px;
    }
  }

  .block-with-text h2 {
    margin-bottom: 0;
  }

  @media screen and (min-width: 750px) {
    .shopify-section .content-container {
        padding: 8px 0;
    }
  }

  @media screen and (max-width: 749px) {
    .template--page-dtc-landing .block-with-text .description {
      font-size: 16px;
      line-height: 18px;
    }
  
    .template--page-dtc-landing .block-with-text h2 {
      font-size: 18px;
      margin-bottom: 0;
    }
    .template--page-dtc-landing .block-with-text .content-container {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  #shopify-section-{{section.id}}.block-with-text__section {
    padding: 1.5rem 0;
    background-color: {{section.settings.background_color}}
  }

  .block-with-text__section + .block-with-text__section {
    padding-top: 0 !important;
    margin-top: -1.5rem
  }

</style>

{% schema %}
  {
    "name": "Block with Text",
    "class": "block-with-text__section",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Header Color"
      },
      {
        "type": "color",
        "id": "body_text_color",
        "label": "Body Color"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description"
      },
      {
        "type": "text",
        "id": "element_id",
        "label": "Section ID (optional)",
        "info": "HTML ID to target on link click."
      }
    ],
    "presets": [
      {
        "name": "Block with Text",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}
