<a href="{{section.settings.url}}" class="btn button-block" aria-label="{{section.settings.button_label}}">{{section.settings.button_label}}</a>

<style>
    #shopify-section-{{section.id}} .button-block {
        margin-top: {{section.settings.margin_top}}px;
        margin-bottom: {{section.settings.margin_bottom}}px
    }
    .template-page #MainContent a.btn.button-block {
        width: calc(100% - 20px);
        padding: 16px 15px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (max-width: 875px) {
        #shopify-section-{{section.id}} .button-block {
            margin-top: {{section.settings.margin_top | times: 0.75}}px;
            margin-bottom: {{section.settings.margin_bottom | times: 0.75}}px
        }
    }
</style>
{% schema %}
  {
    "name": "Button",
    "class": "page-width flex-center",
    "settings": [
      {
        "type": "text",
        "id": "button_label",
        "label": "Label"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Url"
      },
      {
        "type": "range",
        "id": "margin_top",
        "label": "Margin Top",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "label": "Margin Bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      }
    ],
    "presets": [
      {
        "name": "Button Block",
        "category": "Blog"
      }
    ]
  }
{% endschema %}