{% assign _section = section.settings %}
{%- assign _blocks = section.blocks -%}

{%- capture background_image -%}
  {%- assign _image = blank -%}

  {%- for block in _blocks -%}
    {%- assign _block = block.settings -%}
    {%- assign handles = _block.collection_handles | replace: ' ', '' | split: ',' | join: '|' | append: '|' | prepend: '|'  -%}
    {%- assign collection_handle = collection.handle | append: '|' | prepend: '|' -%}

    {%- if handles contains collection_handle and _block.image != blank -%}
      {%- assign _image = _block.image | img_url: 'master' -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}

  {%- if _image == blank and _section.background_image != blank -%}
    {%- assign _image = _section.background_image | img_url: 'master' -%}
  {%- endif -%}

  {{- _image -}}
{%- endcapture -%}

<div class="collection-hero" {% if background_image != '' %}style="background-image: url({{ background_image }});"{% endif %}>
  <div class="collection__content-wrapper">
    <div class="collection__content">
      <h1 class="collection__title">
        {{- _section.title | default: collection.title -}}
      </h1><!-- /.collection__title -->

      {%- if collection.description != blank -%}
        <div class="collection__description">
          {{- _section.subtitle | default: collection.description -}}
        </div><!-- /.collection__description -->
      {%- endif -%}
    </div><!-- /.collection__content -->
  </div><!-- /.collection__content-wrapper -->
  {% if collection.image != blank or _section.default_image != blank %}
  <div class="collection__image" style="{% if collection.image %}background-image: url({{ collection.image | img_url: 'master' }});{% elsif _section.default_image != blank %}background-image: url({{ _section.default_image | img_url: 'master' }});{% endif %}"></div><!-- /.collection__image -->
  {% endif %}
  {%- comment -%}
  {%- endcomment -%}
</div><!-- /.collection-hero -->

{% if background_image == blank or true %}
  {% if collection.image == blank and _section.default_image == blank %}
  <style>
    @media screen and (min-width: 1024px) { 
      #shopify-section-{{section.id}} .collection-hero .collection__content-wrapper {
      /* padding :40px !important */
      }
    }
  @media screen and (max-width: 1023px) { 
    #shopify-section-{{section.id}} .collection__content {
      padding-bottom: 25px !important;
    }

    #shopify-section-{{section.id}} .collection-hero {
      padding-bottom: 0;
    }
  }
  </style>
  {% endif %}
{% endif %}

  
{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title (optional)",
      "info": "If set, it is displayed in hero instead of collection title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle (optional)",
      "info": "If set, it is displayed in hero instead of collection description"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "type": "image_picker",
      "id": "default_image",
      "label": "Default collection image"
    }
  ],
  "blocks": [
    {
      "type": "background_image",
      "name": "Background image",
      "settings": [
        {
          "type": "text",
          "id": "collection_handles",
          "label": "Collection handles",
          "info": "List of collection handles separated by ','"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}
