{% assign _section = section.settings %}

{% if _section.menu != blank %}
  {%- assign menu = linklists[ _section.menu ] -%}

  <div class="collection-navigation">
    {% if _section.title != blank %}
      <h4>{{ _section.title }}</h4>
    {% endif %}

    {% if menu != blank %}
      <ul>
        {% for _link in menu.links %}
          <li {% if _link.current or _link.child_current %}class="is-current"{% endif %}>
            <a href="{{ _link.url }}">{{ _link.title }}</a>

            {%- if _link.links.size > 0 -%}
              <ul class="submenu is-visible">
                {% for child_link in _link.links %}
                  <li {% if child_link.active %}class="is-current"{% endif %}>
                    <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                  </li>
                {% endfor %}
              </ul><!-- /.submenu -->
            {%- endif -%}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div><!-- /.collection-navigation -->
{% endif %}

{%- comment -%}
<style>
  @media screen and (max-width: 767px) {
    .page-collection .page__inner {
      flex-direction: column;
    }
  
    .page__inner .collection__aside {
        width: 100%;
        display: inline-block;
        max-width: none;
        flex: 1;
    } 
  }
</style>
{%- endcomment -%}

{% schema %}
{
  "name": "Collection navigation",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}
