
<div class="reviews" style="background: {{section.settings.background_color}};">
  <div class="reviews__heading">
    {% if section.settings.title != blank %}
      <h2 class="h1 reviews__title">{{section.settings.title}}</h2>
    {% endif %}
    {% if section.settings.subtitle != blank %}
      <h2 class="reviews__subtitle">{{section.settings.subtitle}}</h2>
    {% endif %}
  </div>
  <div class="reviews__container">
    {% for block in section.blocks %}
      <div class="review__element raddish-card" style="max-width: {{ block.settings.width }}px; --mobile-width: {{ block.settings.mobile_width }}%;">
        {% render 'image', _image: block.settings.image, alt: block.settings.image.alt %}
        <div class="review__stars">
          {% assign max = block.settings.stars | minus: 1 %}
          {% for i in (0..max) %}
            {% render "icon-star" %}
          {% endfor %}
        </div>
        <div class="review__text">{{block.settings.review}}</div>
        <div class="review__author">{{block.settings.author}}</div>
      </div>
    {% endfor %}
  </div>
</div>

<style>
  {% if section.settings.display_type == 'grid' %}
  .reviews__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 35px;
    justify-content: center; 
  }
  .review__element {
    margin: 0 !important;
    justify-content: flex-start !important;
  }
  .reviews {
    padding-right: 40px !important;
    padding-left: 40px !important;
  }
  @media screen and (max-width: 768px) {
    .reviews__container {
      column-gap: unset;
      justify-content: space-between;
    }

    .review__element {
      width: var(--mobile-width);
      max-width: 100% !important;
    }
  }
  {% endif %}

  .reviews {
    padding: 40px 0;
  }

  .reviews__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin-bottom: 18px;
  }

  .review__element { 
    margin: 0 8px;
  }
  .review__element img {
    /* border: 1px solid rgba(77, 77, 77, 0.19971); */
    border-radius: 8px;
    width: 100%;
    max-width: 175px;
    margin: 0 auto;
  }
  .review__stars {
      display: flex;
      margin: 14px auto;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .review__stars svg {
      width: 20px;
      margin: 0 2px;
  }

  .review__element {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1.6rem;
  }

  .review__text {
      font-style: normal;
      font-weight: 900;
      font-size: 15px;
      line-height: 20px;
      text-align: center;
      color: #4D4D4D;
      margin-bottom: 6px;
  }

  .review__author {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      color: #4D4D4D;
  }

  .reviews__title {
    margin: 0;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
  }

  .reviews__subtitle {
    color: #4D4D4D;
    text-align: center;
    font-family: "KG HAPPY Solid", sans serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    margin: 0;
  }

  @media screen and (min-width: 750px) {
    .reviews {
      padding: 40px 0 65px;
    }
    .review__element img {
      /* max-width: none; */
    }
    .review__stars { 
      margin: 13px auto;
    }
    .reviews__heading {
      gap: 20px;
      margin-bottom: 30px;
    }
    .reviews__title {
      font-size: 32px;
    }
    .reviews__subtitle {
      font-size: 22px;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    {% if section.settings.display_type == 'grid' %}
      return;
    {% endif %}

    $("#shopify-section-{{section.id}}  .reviews__container").slick({
      slidesToShow: 5,
      // slidesToScroll: 1,
      autoplay: true,
      infinite: true,
      centerMode: true,
      autoplaySpeed: {{section.settings.rotation_speed | times: 1000 | json }},
      infinite: true,
      arrows: false,
      centerPadding: '120px',
      responsive: [
        {
          breakpoint: 768,
          settings: {
            arrows: false,
            centerMode: true,
            centerPadding: '60px',
            slidesToShow: 3
          }
        },
        {
          breakpoint: 480,
          settings: {
            arrows: false,
            centerMode: true,
            centerPadding: '60px',
            slidesToShow: 1
          }
        }
      ]
      // centerPadding: '10px',
      // variableWidth: true
    })
  })
</script>

{% schema %}
  {
    "name": "Testimonials",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Testimonials"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color"
      },
      {
        "type": "select",
        "id": "display_type",
        "label": "Display Type",
        "options": [
          {
            "value": "carousel",
            "label": "Carousel"
          },
          {
            "value": "grid",
            "label": "Grid"
          }
        ],
        "default": "carousel"
      },
      {
        "type": "range",
        "id": "rotation_speed",
        "min": 1,
        "max": 10,
        "step": 1,
        "unit": "sec",
        "label": "Animation Speed",
        "default": 3
      }
    ],
    "blocks": [
      {
        "type": "review",
        "name": "Review",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "textarea",
            "id": "review",
            "label": "Review"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author"
          },
          {
            "type": "text",
            "id": "stars",
            "label": "Stars",
            "info": "From 0 to 5",
            "default": "5"
          },
          {
            "type": "text",
            "id": "width",
            "label": "Width (px)",
            "info": "This is useful to make the review card wider.",
            "default": "260"
          },
          {
            "type": "number",
            "id": "mobile_width",
            "label": "Mobile Width (%)",
            "info": "This is useful to make the review card wider in \"Grid\" mode.",
            "default": 48
          },
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}