{% capture stars %}
{% for i in (0..4)%}
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 45 43">
    <path fill="#F3576B" d="m22.3421 0 6.9154 13.9884 15.4267 2.2264L33.5131 27.11l2.6401 15.3675-13.8111-7.2503-13.79143 7.2503L11.171 27.11 0 16.2148l15.4464-2.2264L22.3421 0Z"/>
  </svg>
{% endfor %}
{% endcapture %}
<div class="families-love-raddish">
  <h2 class="h2" {% if section.settings.header_color != blank %} style="color: {{section.settings.header_color}}" {% endif %}>{{section.settings.title}}</h2>
  <div class="blocks-container">
  {% for block in section.blocks %}
    <div class="families-block">
      {% if block.settings.image != blank %}
      <div class="families-block__image">
        {% render 'image', _image: block.settings.image, alt: block.settings.image.alt %}
      </div>
      {% endif %}
      <div style="background: {{block.settings.background_color}}" class="families-block__review-container {% if block.settings.image == blank %} families-block__review-container--no-image{% endif %}">
        <div class="families-block__stars hidden-desktop">{{stars}}</div>
        <div class="families-block__description"> {{block.settings.text}}</div>
        <div class="families-block__author"> {{block.settings.author}}</div>
      </div>
      <div class="families-block__stars hidden-mobile">{{stars}}</div>
    </div>
  {% endfor %}
  </div>
</div>

<style>
  .families-block__stars {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-36px);
}

.families-block__stars svg {
    width: 40px;
}
  .families-love-raddish .blocks-container {
    display: flex;
    grid-gap: 15px;
}

.families-love-raddish {
    padding: 50px 40px;
    max-width: 1380px;
    margin: 0 auto;
    text-align: center;
}

.families-block__image img {
    max-width: 250px;
    border-radius: 8px;
    width: 90%;
}

.families-block__review-container {
    background: #E7F3F5;
    padding: 24px 30px;
    border-radius: 8px;
    min-height: 210px;
    transform: translateY(-20px);
    display: flex;
    flex-direction: column;
}

.families-block {
    width: 33.333%;
    position: relative;
}

.families-block__description {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
/* or 179% */
    text-align: center;
}

.families-block__author {
    font-family: 'KGHAPPYSolid';
    font-size: 20px;
    margin-top: 6px;
}
.families-love-raddish .h2 {
  margin-bottom: 4rem;
}
@media screen and (min-width: 750px) {
  .families-love-raddish .h2 {
    margin-bottom: 7rem
  }
  .families-block__review-container--no-image + .families-block__stars {
    top: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -40px);
  }
  .families-block__review-container.families-block__review-container--no-image {
    padding-top: 3rem;
    min-height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 749px) {
  .families-love-raddish .blocks-container {
    flex-direction: column;
  }

  .families-block {
      width: 100%;
      display: flex;
  }

  .families-block__image img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      width: 100%;
  }

  .families-block__review-container {
      padding: 0 16px 9px;
      font-size: 12px;
      min-height: auto;
      transform: none;
      width: 65%;
      /* height: calc(100% - 0px); */
      /* display: inline-block; */
      border-top: 6px solid white;
      border-bottom: 6px solid white;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .families-block__review-container.families-block__review-container--no-image {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
  }

  .families-block__description {
      font-size: 16px;
      line-height: 22px;
  }

  .families-block__author {
      font-size: 14px;
  }
  .families-block__image {
      width: 35%;
  }
  .families-block:nth-child(even) {
    flex-direction: row-reverse;
  }

  .families-block:nth-child(even) .families-block__review-container {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  .families-love-raddish {
    padding: 30px 20px;
  }
  .families-block__stars.hidden-desktop svg {
      max-width: 20px;
  }

  .families-block__stars {
      transform: translateY(-8px);
  }
  .families-love-raddish .h2 {
    font-size: 18px;
  }
}
</style>

{% schema %}
  {
    "name": "Families Love Raddish",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Families Love Raddish"
      },
      {
        "type": "color",
        "id": "header_color",
        "label": "Header Color"
      }
    ],
    "blocks": [
      {
        "type": "review",
        "name": "Review",
        "settings": [
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "color",
            "id": "background_color",
            "label": "Background color",
            "default": "#E7F3F5"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Families Love Raddish",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}