{%- assign _section = section.settings -%}
{%- assign section_title = _section.title -%}
{%- assign section_text = _section.text -%}

<div class="section-faqs">
  <div class="section__inner">
    {% if section_title != blank %}
      <div class="section__head">
        <h2 class="section__title" {% if _section.header_color != blank %} style="color: {{_section.header_color}}" {% endif %}>
          {{- section_title  -}}
        </h2>
      </div>
    {% endif %}

    <div class="section__body">
      <ul class="list-faq">
        {%- for block in section.blocks -%}
          {%- assign _block = block.settings -%}
          {%- assign block_title = _block.title -%}
          {%- assign block_text = _block.text -%}

          <li class="q-a">
            <p class="question">
              <b>{{- block_title -}}</b>

              <span></span>
            </p>

            <div class="answer">
              {{- block_text -}}
            </div>
          </li>
        {%- endfor -%}
      </ul>
    </div>

    {% if section_text != blank %}
      <div class="section__foot">
        {{- section_text -}}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "FAQ",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "color",
      "id": "header_color",
      "label": "Header color"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ",
      "category": "Home Sections"
    }
  ]
}
{% endschema %}