<section id="{{ section.settings.section_id }}" class="featured-grid-wrapper color-{{ section.settings.color_scheme }} {% if section.settings.full_bleed %}featured-grid--bleed{% endif %}">
    <div class="featured-grid container">
      {% if section.settings.title != blank %}
        <h2 class="featured-grid__title">{{ section.settings.title | escape }}</h2>
      {% endif %}
      {% if section.settings.subtitle != blank %}
        <p class="featured-grid__subtitle">{{ section.settings.subtitle | escape }}</p>
      {% endif %}
      <div class="featured-grid__grid">
        {% for product in section.settings.collection.products limit: section.settings.limit %}
            {% render 'featured-product-card', product: product %}
        {% endfor %}
        {% for block in section.blocks %}
          {% if block.settings.product %}
            {% render 'featured-product-card', product: block.settings.product, settings: block.settings %}
          {% endif %}
        {% endfor %}
      </div>
  
      {% if section.settings.btn_label != blank and section.settings.btn_link != blank %}
        <div class="featured-grid__cta">
          <a class="featured-grid__button btn" href="{{ section.settings.btn_link }}">
            {{ section.settings.btn_label | escape }}
          </a>
        </div>
      {% endif %}
    </div>
  
    <style>
      /* Layout */
      .featured-grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      .featured-grid-wrapper {
        padding: 55px 20px;
        background-color: #E4F4F6;
      }
      .featured-grid.container { width: min(1310px, 92vw); margin-inline: auto; text-align: center; }
      .featured-grid__title {
        color: #01BCBE;
        text-align: center;
        font-family: "KG HAPPY Solid", sans serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        margin: 0;
      }
      .featured-grid__subtitle {
        color: #4D4D4D;
        text-align: center;
        font-family: "KG HAPPY Solid", sans serif;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px; /* 138.462% */
        margin: 0;
      }
      .featured-grid__grid {
        display: grid;
        grid-template-columns: repeat(4, minmax(0,1fr));
        gap: 50px;
        margin: 20px 0;
      }
  
      /* Card */
      .featured-grid-card {
        background-color: white;
        filter: drop-shadow(0 1.689px 3.377px rgba(77, 77, 77, 0.20));
        border-radius: 8px;
        overflow: hidden;
        text-align: left;
        display: flex;
        flex-direction: column;
      }
  
      .featured-grid-card__media {
        position: relative;
        display: block;
        aspect-ratio: 1/1;
        background: #f4f4f4;
        border-radius: 8px;
        filter: drop-shadow(0 1.689px 3.377px rgba(77, 77, 77, 0.20));
      }
      .featured-grid-card__img { border-radius: 8px; width: 100%; height: 100%; object-fit: cover; display: block; }
      .featured-grid-card__placeholder { width: 100%; height: 100%; background: #f2f2f2; }
  
      .featured-grid-card__quickadd {
        position: absolute; right: 9px; bottom: 6px; margin: 0;
      }
      .featured-grid-card__cart-btn {
        letter-spacing: 0;
        position: relative;
        border: 0;
        border-radius: 2px;
        background: #4D4D4D;
        color: #fff;
        display: grid;
        place-items: center;
        cursor: pointer;
        padding: 8px 11px 8px 10px;
        box-shadow: 0 6px 16px rgba(0,0,0,.18);
      }
      .featured-grid-card__cart-btn-icon {
        width: 20px;
        height: 17px;
      }
      .featured-grid-card__cart-icn { width: 22px; height: 22px; fill: currentColor; }
  
      .featured-grid-card__info { 
        padding: 20px 12px;
        display: flex;
        flex-direction: column;
        gap: 14px;
      }
      .featured-grid-card__title {
        color: #4D4D4D !important;
        font-family: "KG HAPPY Solid", sans serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        margin: 0;
        text-decoration: none;
        max-width: 205px;
      }
      .featured-grid-card__price { 
        color: #F3576B;
        font-family: Avenir;
        font-size: 17px;
        font-style: normal;
        font-weight: 800;
        line-height: 18px;
      }
  
      .featured-grid__button {
        min-width: 300px;
        letter-spacing: 0;
      }
  
      @media (max-width: 768px) {
        .featured-grid-wrapper {
          padding: 40px 20px;
          background-color: #E4F4F6;
        }
        .featured-grid__title {
          font-size: 20px;
          padding: 0 20px;
        }
        .featured-grid__subtitle {
          font-size: 16px;
        }
        .featured-grid__grid {
          gap: 20px;
          grid-template-columns: repeat(2, minmax(0,1fr));
          margin: 0;
        }
        .featured-grid-card__info { 
          padding: 12px 8px;
          gap: 7px;
        }
        .featured-grid-card__title {
          font-size: 12px;
          line-height: 15px;
        }
        .featured-grid-card__price { 
          font-size: 12px;
          line-height: 12px;
        }
        .featured-grid-card__cart-btn { 
          padding: 6px 7px 6px 6px;
        }
        .featured-grid-card__cart-btn-icon {
          width: 12px;
          height: 10px;
        }
      }
    </style>
  </section>
  
  {% schema %}
  {
    "name": "Featured Product Grid",
    "class": "section-featured-grid",
    "settings": [
      { "type": "text", "id": "title", "label": "Title", "default": "Gift an Individual Kit They’ll Love" },
      { "type": "text", "id": "subtitle", "label": "Subtitle", "default": "No Subscription Required" },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection (optional)"
      },
      {
        "type": "number",
        "id": "limit",
        "label": "Collection product display limit",
        "default": 4,
      },
      { "type": "checkbox", "id": "show_price", "label": "Show price", "default": true },
      { "type": "checkbox", "id": "quick_add", "label": "Enable quick add (cart icon on image)", "default": true },
      { "type": "checkbox", "id": "full_bleed", "label": "Edge-to-edge background", "default": true },
      { "type": "select", "id": "color_scheme", "label": "Color scheme", "options": [
          { "value": "background-1", "label": "Background 1" },
          { "value": "background-2", "label": "Background 2" },
          { "value": "inverse", "label": "Inverse" }
        ],
        "default": "background-2"
      },
      { "type": "text", "id": "btn_label", "label": "Button label", "default": "Shop All" },
      { "type": "url", "id": "btn_link", "label": "Button link" },
      {
          "type": "text",
          "id": "section_id",
          "label": "Section ID (for linking)",
          "info": "Set a unique ID to target this section via anchor links (e.g., #featured-product-grid)"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          { "type": "product", "id": "product", "label": "Product" },
          {
          "type": "image_picker",
          "id": "override_image",
          "label": "Override image (optional)"
          },
          { "type": "text", "id": "override_title", "label": "Override title (optional)" },
        ]
      }
    ],
    "max_blocks": 20,
    "presets": [
      {
        "name": "Featured Product Grid",
        "category": "Products",
        "blocks": [
          { "type": "product" },
          { "type": "product" },
          { "type": "product" },
          { "type": "product" }
        ]
      }
    ]
  }
  {% endschema %}
  