{%- assign _section = section.settings -%}
{%- assign _blocks = section.blocks -%}

{% if _blocks.size > 0 %}
  <section class="section-featured-products">
    <div class="page-width">
      {% if _section.title != blank or _section.content != blank  %}
        <header class="section__head">
          {%- if _section.title != blank -%}
            <h2 class="section__title">
              {{- _section.title -}}
            </h2><!-- /.section__title -->
          {%- endif -%}

          {%- if _section.content != blank -%}
            <div class="section__content">
              {{- _section.content -}}
            </div><!-- /.section__content -->
          {%- endif -%}
        </header><!-- /.section__head -->
      {% endif %}

      <div class="section__body">
        <ul>
          {%- for block in _blocks -%}
            {%- assign _block = block.settings -%}
            {%- assign product_item = '' -%}

            {%- if _block.product_handle != blank -%}
              {%- assign product_item = all_products[_block.product_handle] -%}
            {%- endif -%}

            {%- if product_item != '' -%}
              <li>
                {% render 'product-item-alt' with _product: product_item, info: _block.info, class: 'product-item--widget'  %}
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </div><!-- /.section__body -->

      {% if _section.footer_title != blank or _section.footer_btn_label != blank or _section.footer_btn_link != blank %}
        <footer class="section__foot">
          {% if _section.footer_title != blank %}
            <h2 class="section__title">
              {{- _section.footer_title -}}
            </h2><!-- /.section__title -->
          {% endif %}

          {% if _section.footer_btn_link != blank and _section.footer_btn_label != blank %}
            <div class="section__actions">
              <a href='{{ _section.footer_btn_link }}' class='btn'>{{ _section.footer_btn_label }}</a><!-- /.btn -->
            </div><!-- /.section__actions -->
          {% endif %}
        </footer><!-- /.section__foot -->
      {% endif %}
    </div><!-- /.page_width -->
  </section><!-- /.section-featured-products -->
{% endif %}

{% schema %}
{
  "name": "Featured products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "header",
      "content": "Footer"
    },
    {
      "type": "text",
      "id": "footer_title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "footer_btn_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "footer_btn_link",
      "label": "Button link"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "product_item",
      "name": "Product item",
      "settings": [
        {
          "type": "product",
          "id": "product_handle",
          "label": "Product"
        },
        {
          "type": "textarea",
          "id": "info",
          "label": "Info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured products",
      "category": "Taste the World"
    }
  ]
}
{% endschema %}
