{%- assign _section = section.settings -%}
{%- assign section_copyright = _section.copyright -%}
{%- assign section_right_menu = _section.right_menu -%}

<div class="footer">
  <div class="page-width">
    <div class="footer__top">
      <div class="flex">
        {%- for block in section.blocks -%}
          <div class="box box--{{block.type}}">
            {%- assign _block = block.settings -%}
            {%- case block.type -%}
              {% when "menu" %}
                {%- assign block_title = _block.title -%}
                {%- assign block_menu = _block.menu -%}
                {%- if block_title != blank -%}
                  <h6>{{ block_title }}</h6>
                {%- endif -%}
                <ul>
                  {%- for link in linklists[block_menu].links -%}
                    <li>
                      <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {%- endfor -%}
                </ul>
              {% when "social" %}
                {%- assign block_show_logo = _block.show_logo -%}
                {%- assign block_facebook = _block.facebook -%}
                {%- assign block_instagram = _block.instagram -%}
                {%- assign block_pinterest = _block.pinterest -%}
                {%- assign block_twitter = _block.twitter -%}
                {%- if block_show_logo -%}
                  <a href="/" class="foot-logo">
                    {{ 'logo.svg' | asset_url | img_tag }}
                  </a>
                {%- endif -%}

                <ul class="social-icons">
                  {%- if block_facebook != blank -%}
                    <li>
                      <a href="{{block_facebook}}" class="icon-facebook" title="Raddish Kids on Facebook"></a>
                    </li>
                  {%- endif -%}
                  {%- if block_instagram != blank -%}
                    <li>
                      <a href="{{block_instagram}}" class="icon-instagram" title="Raddish Kids on Instagram"></a>
                    </li>
                  {%- endif -%}
                  {%- if block_pinterest != blank -%}
                    <li>
                      <a href="{{block_pinterest}}" class="icon-pinterest" title="Raddish Kids on Pinterest"></a>
                    </li>
                  {%- endif -%}
                  {%- if block_twitter != blank -%}
                    <li>
                      <a href="{{block_twitter}}" class="icon-twitter" title="Raddish Kids on Twitter"></a>
                    </li>
                  {%- endif -%}
                </ul>
            {%- endcase -%}
          </div><!-- /.flex -->
        {%- endfor -%}
      </div><!-- /.flex -->
    </div><!-- /.footer__top -->
    <div class="footer__bottom">
      <div class="flex">
        {%- if section_copyright != blank -%}
          {%- assign current_year = 'now' | date: "%Y" -%}
          <p>{{ section_copyright | replace: '[year]', current_year }}</p>
        {%- endif -%}
        <ul>
          {%- for link in linklists[section_right_menu].links -%}
            <li>
              <a href="{{link.url}}">{{link.title}}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div><!-- /.flex -->
    </div><!-- /.footer__bottom -->
  </div><!-- /.page-width -->

  <a href="#" class="link-top js-scroll-top">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.57 34.07"><defs><style>.cls-1{fill:none;stroke:#4d4d4d;stroke-linecap:square;stroke-miterlimit:10;stroke-width:5px;}</style></defs><title>arrow-right</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><polyline class="cls-1" points="3.54 30.54 17.04 17.04 3.54 3.54"/></g></g></svg>
  </a><!-- /.link-top -->
</div><!-- /.footer -->



{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "textarea",
      "id": "copyright",
      "label": "Copyright"
    },
    {
      "type": "link_list",
      "id": "right_menu",
      "label": "Right Menu"
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Choose Menu"
        }
      ]
    },
    {
      "type": "social",
      "name": "Social",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_logo",
          "label": "Show Logo",
          "default": true
        },
        {
          "type": "url",
          "id": "facebook",
          "label": "Facebook"
        },
        {
          "type": "url",
          "id": "instagram",
          "label": "Instagram"
        },
        {
          "type": "url",
          "id": "pinterest",
          "label": "Pinterest"
        },
        {
          "type": "url",
          "id": "twitter",
          "label": "Twitter"
        }
      ]
    }
  ]
}
{% endschema %}
