{% assign _blocks = section.blocks %}

{% for block in _blocks %}
  {% assign _block = block.settings %}

  {%- case block.type -%}
    {%- when 'devider' -%}
      <div class="devider page-width page-width--larger" style="border-bottom: 6px dotted {{ _block.color }}; margin-top: 5px; margin-bottom: 5px"></div><!-- /.devider -->
    {%- when 'intro' -%}
      <section class="section-raya-intro" style="background-color: {{ _block.background }};;">
        <div class="page-width">
          <div class="section__inner">
            {%- if _block.title != blank -%}
              <h2 class="section__title">
                {{- _block.title -}}
              </h2><!-- /.section__title -->
            {%- endif -%}

            {%- if _block.subtitle != blank  -%}
              <div class="section__subtitle">
                {{- _block.subtitle -}}
              </div><!-- /.section__subtitle -->
            {%- endif -%}

            {%- if _block.image_desktop != blank -%}
              <div class="section__image">
                <img class="visible-md-block visible-lg-block" style="max-width: {{ _block.image_desktop_width }}px" src="{{ _block.image_desktop | img_url: 'master' }}" alt="{{ _block.image_desktop.alt }}" />

                <img src="{% if _block.image_mobile != blank %}{{ _block.image_mobile | img_url: '750x'}}{% else %}{{ _block.image_desktop | img_url: '1382x'}}{% endif %}" class="hidden-md hidden-lg" style="max-width: {{ _block.image_mobile_width }}px;" alt="_block.image_mobile.alt" />
              </div><!-- /.section__image -->
            {%- endif -%}

            {%- if _block.content != blank -%}
              <div class="section__content">
                {{- _block.content -}}
              </div><!-- /.section__content -->
            {%- endif -%}
          </div><!-- /.section__inner -->
        </div><!-- /.page-width -->
      </section><!-- /.section-raya-intro -->
    {%- when '50-50' -%}
      {% if _block != blank and _block.hidden != true %}
        {%- assign _block_title = _block.title -%}
        {%- assign _block_subtitle = _block.subtitle -%}
        {%- assign _block_entry = _block.entry -%}
        {%- assign _block_btn_text = _block.btn_text -%}
        {%- assign _block_btn_url = _block.btn_url -%}
        {%- assign _block_text_color = _block.text_color -%}
        {%- assign _block_background_color = _block.background_color -%}
        {%- assign _block_image_desktop = _block.image_desktop -%}
        {%- assign _block_image_mobile = _block.image_mobile -%}
        {%- assign _block_section_reverse = _block.section_reverse -%}

        <section class="section-raya-50-50 section-raya-50-50--alt {% if _block_section_reverse %}section-raya-50-50--reverse{% endif %}" style="color: {{ _block_text_color }};">
          {% if _block_title != blank or _block_entry != blank or _block_subtitle != blank %}
            <div class="section__content" style="background-color: {{- _block_background_color -}};{% if _block_image_desktop == blank %}flex-grow: 1{% endif %}">
              <div class="section__text">
                {% if _block_title != blank %}
                  <h2 class="section__title" {% if block.settings.title_color != blank %} style="color:{{block.settings.title_color}};" {% endif %}>{{- _block_title -}}</h2><!-- /.section__title -->
                {% endif %}

                {% if _block_subtitle != blank %}
                  <h3 class="section__subtitle" {% if block.settings.subtitle_color != blank %} style="color:{{block.settings.subtitle_color}};" {% endif %}>{{- _block_subtitle -}}</h3><!-- /.section__subtitle -->
                {% endif %}
                
                {% if _block_entry != blank %}
                  <div class="section__entry section__entry--alt" {% if block.settings.text_entry_color != blank %} style="color:{{block.settings.text_entry_color}}!important;" {% endif %}>
                    {{- _block_entry -}}
                  </div><!-- /.section__entry -->
                {% endif %}
              </div><!-- /.section__text -->

              {% if _block_btn_text != blank and _block_btn_url != blank %}
                <div class="section__actions">
                  <a href="{{ _block_btn_url }}" class="btn section__btn">{{ _block_btn_text }}</a><!-- /.btn -->
                </div><!-- /.section__actions -->
              {% endif %}
            </div><!-- /.section__content -->
          {% endif %}

          {% if _block_image_desktop != blank %}
            <div class="section__image-desktop visible-md-block visible-lg-block" style="background-image: url({{ _block_image_desktop | img_url: '1382x'}});background-size:cover;" role="image" area-label="{{ _block_image_desktop.alt }}"></div><!-- /.section__image -->

            <div class="section__image-mobile hidden-md hidden-lg">
              <img src="{% if _block_image_mobile != blank %}{{ _block_image_mobile | img_url: '750x'}}{% else %}{{ _block_image_desktop | img_url: '1382x'}}{% endif %}" alt="_block_image_mobile.alt" />
            </div><!-- /.section__image -->
          {% endif %}
        </section><!-- /.section-raya-50-50 -->
      {% endif %}

    {% when "cook" %}
      {% if _block.hidden != true %}
        {%- assign block_title = _block.title -%}
        {%- assign block_text = _block.text -%}
        {%- assign block_url_1 = _block.url_1 -%}
        {%- assign block_image_1 = _block.image_1 -%}
        {%- assign block_image_size_1 = _block.image_size_1 -%}
        {%- assign block_image_mobile_1 = _block.image_mobile_1 | default: block_image_1 -%}
        {%- assign block_title_1 = _block.title_1 -%}
        {%- assign block_text_1 = _block.text_1 -%}
        {%- assign block_url_2 = _block.url_2 -%}
        {%- assign block_image_2 = _block.image_2 -%}
        {%- assign block_image_size_2 = _block.image_size_2 -%}
        {%- assign block_image_mobile_2 = _block.image_mobile_2 | default: block_image_1 -%}
        {%- assign block_title_2 = _block.title_2 -%}
        {%- assign block_text_2 = _block.text_2 -%}
        {%- assign block_url_3 = _block.url_3 -%}
        {%- assign block_image_3 = _block.image_3 -%}
        {%- assign block_image_size_3 = _block.image_size_3 -%}
        {%- assign block_image_mobile_3 = _block.image_mobile_3 | default: block_image_1 -%}
        {%- assign block_title_3 = _block.title_3 -%}
        {%- assign block_text_3 = _block.text_3 -%}

        <div class="section-cook section-cook--alt">
          <div class="page-width">
            <div class="section__inner">
              {% if block_title != blank or block_text != blank %}
                <div class="section-head">
                  {% if block_title != blank %}
                    <h2 class="section-head__title">
                      {{ block_title }}
                    </h2><!-- /.section-head__title -->
                  {% endif %}

                  {% if block_text != blank %}
                    <div class="section-head__description">
                      {{ block_text }}
                    </div><!-- /.section-head__description -->
                  {% endif %}
                </div><!-- /.section-head -->
              {% endif %}

              <div class="section__body">
                {% for i in (1..3) %}
                  {% assign url_handle = 'url_' | append: i %}
                  {% assign title_handle = 'title_' | append: i %}
                  {% assign text_handle = 'text_' | append: i %}
                  {% assign image_handle = 'image_' | append: i %}
                  {% assign image_size_handle = 'image_size_' | append: i %}
                  {% assign image_mobile_handle = 'image_mobile_' | append: i %}

                  {% if _block[image_handle] != blank %}
                    {% assign _image = _block[image_handle] %}
                  {% else %}
                    {% assign _image = '' %}
                  {% endif %}

                  {% if _block[image_size_handle] != blank %}
                    {% assign image_size = _block[image_size_handle] %}
                  {% else %}
                    {% assign image_size = '' %}
                  {% endif %}

                  {% if _block[image_mobile_handle] != blank %}
                    {% assign mobile_image = _block[image_mobile_handle] %}
                  {% else %}
                    {% assign mobile_image = _image %}
                  {% endif %}

                  {% if _block[title_handle] != blank %}
                    {% assign _title = _block[title_handle] %}
                  {% else %}
                    {% assign _title = '' %}
                  {% endif %}

                  {% if _block[url_handle] != blank %}
                    {% assign _url = _block[url_handle] %}
                  {% else %}
                    {% assign _url = '' %}
                  {% endif %}

                  {% if _image != blank and _title != blank %}
                    <div class="section__block">
                      <div class="section__block-image" style="max-width: {{- image_size -}}px; margin-left: auto; margin-right: auto">
                        <img class="hidden-xs" src="{{- _image | img_url: '688x' -}}" alt="{{- _image.alt -}}">

                        <img class="visible-xs-block" src="{{- mobile_image | img_url: '688x' -}}" alt="{{- mobile_image.alt -}}">
                      </div><!-- /.section__image -->

                      <h3 class="section__block-title">
                        {% if _url != blank %}
                          <a href="{{ _article.url }}">{{- _title -}}</a>
                        {% else %}
                          {{- _title -}}
                        {% endif %}
                      </h3><!-- /.section__block-title -->

                      {% if _block[text_handle] != blank %}
                        <div class="section__block-text">
                          {{ _block[text_handle] }}
                        </div><!-- /.section__block-text -->
                      {% endif %}
                    </div><!-- /.section__block -->
                  {% endif %}
                {% endfor %}
              </div><!-- /.section__body -->
            </div><!-- /.section__inner -->
          </div><!-- /.page-width -->
        </div><!-- /.section-cook -->
      {% endif %}

    {% when '50-50-v2' %}
      {% if _block.hidden != true %}
        <section class="section-50-50-v2 section-50-50-v2--alt">
          <div class="page-width page-width--larger">
            <div class="section__inner">
              {% if _block.image != blank %}
                <div class="section__media">
                  {% if _block.contains_video %}
                    <div class="section__video">
                      <div
                      class="section__video-inner"
                      aria-label="{{- _block.image.alt | escape -}}"
                      role="img"
                      style="background-image: url({{- _block.image | img_url: '1680x' -}});"
                      >
                        <div class="section__video-content">
                          {%- if _block.video_type == 'youtube_vimeo' -%}
                            {%- if _block.video != blank and _block.video_play_icon != blank -%}
                              <a href="{{- _block.video -}}" class="section__video-btn js-video-play">
                                <img src="{{- _block.video_play_icon | img_url: '250x' -}}" alt="{{- _block.video_play_icon.alt | escape -}}">
                              </a>
                            {%- endif -%}
                          {%- endif -%}

                          {%- if _block.video_type == 'video_embed' -%}
                            <a href="#video-{{ block.id }}" class="section__video-btn js-video-mp4-play">
                              <img src="{{- _block.video_play_icon | img_url: '250x' -}}" alt="{{- _block.video_play_icon.alt | escape -}}">
                            </a>

                            <div id="video-{{ block.id }}" class="video-popup mfp-hide">
                              <div class="video-popup-inner">
                                {{- _block.video_embed_iframe -}}
                              </div><!-- /.video-popup-inner -->
                            </div><!-- /.video-popup mfp-hide -->
                          {%- endif -%}
                        </div><!-- /.section__video-content -->
                      </div><!-- /.section__video-inner -->
                    </div><!-- /.section__video -->
                  {% else %}
                    <div class="section__image">
                      {% include 'image', _image: _block.image, size: '546' %}
                    </div><!-- /.section__image -->
                  {% endif %}
                </div><!-- /.section__media -->
              {% endif %}

              <div class="section__content">
                {% if _block.title != blank %}
                  <h2 class="section__title">{{ _block.title | escape | newline_to_br }}</h2><!-- /.section__title -->
                {% endif %}

                {% if _block.description != blank %}
                  <div class="section__entry">
                    {{ _block.description }}
                  </div><!-- /.section__entry -->
                {% endif %}

                {% if _block.button_link != blank and _block.button_label != blank %}
                  <div class="section__actions">
                    <a href="{{ _block.button_link }}" class="btn btn--alt">{{ _block.button_label }}</a><!-- /.btn -->
                  </div><!-- /.section__actions -->
                {% endif %}
              </div><!-- /.section__content -->
            </div><!-- /.section__inner -->
          </div><!-- /.page-width page-width--larger -->
        </section><!-- /.section-50-50-v2 -->
      {% endif %}

    {% when 'video' %}
      {% if _block.image != blank and _block.hidden != true %}
        <section class="section-video-plus section-video-plus--raya-page section-video-plus--raya-page-alt{% if _block.video_overlay_hide %} secton-video--no-overlay{% endif %}">
          <div class="shell section__shell">
            <div class="section__container">
              {%- if _block.title != blank -%}
                <header class="section__head">
                  <h2 class="section__title">
                    {{- _block.title | newline_to_br -}}
                  </h2><!-- /.section__title -->
                </header><!-- /.section__head -->
              {%- endif -%}
              <div
              class="section__inner"
              aria-label="{{- _block.image.alt | escape -}}"
              role="img"
              style="background-image: url({{- _block.image | img_url: '1680x' -}});"
              >
                <div class="section__content">
                  {%- if _block.title_in_video != blank -%}
                    <h2 class="section__title">
                      {{- _block.title_in_video -}}
                    </h2><!-- /.section__title -->
                  {%- endif -%}

                  {%- if _block.video_type == 'youtube_vimeo' -%}
                    {%- if _block.video != blank and _block.video_play_icon != blank -%}
                      <a href="{{- _block.video -}}" class="section__video-btn js-video-play">
                        {%- unless _block.video_play_icon_hide -%}
                          <img src="{{- _block.video_play_icon | img_url: '250x' -}}" alt="{{- _block.video_play_icon.alt | escape -}}">
                        {%- endunless -%}
                      </a>
                    {%- endif -%}
                  {%- endif -%}

                  {%- if _block.video_type == 'video_embed' and _block.video_embed_iframe != blank -%}
                    <a href="#video-{{ block.id }}" class="section__video-btn js-video-mp4-play">
                      {%- unless _block.video_play_icon_hide -%}
                        <img src="{{- _block.video_play_icon | img_url: '250x' -}}" alt="{{- _block.video_play_icon.alt | escape -}}">
                      {%- endunless -%}
                    </a>

                    <div id="video-{{ block.id }}" class="video-popup mfp-hide">
                      <div class="video-popup-inner">
                        {{- _block.video_embed_iframe -}}
                      </div><!-- /.video-popup-inner -->
                    </div><!-- /.video-popup mfp-hide -->
                  {%- endif -%}
                </div><!-- /.section__content -->
              </div><!-- /.section__inner -->
            </div><!-- /.section__container -->

            {%- if _block.title_callout != blank or _block.btn_text != blank -%}
              <div class="section__callout">
                  <div class="section__callout-text">
                    {{- _block.title_callout -}}
                  </div><!-- /.section__callout-text -->

                {%- if _block.btn_text != blank and _block.btn_url != blank -%}
                  <div class="section__callout-actions">
                    <a href="{{- _block.btn_url -}}" class="btn btn--block">
                      {{- _block.btn_text -}}
                    </a>
                  </div><!-- /.section__callout-actions -->
                {%- endif -%}
              </div><!-- /.section__callout -->
            {%- endif -%}
          </div><!-- /.shell section__shell -->
        </section><!-- /.section-video-plus -->
      {% endif %}
    {%- else -%}
  {%- endcase -%}

{% endfor %}

<style>
  .section__entry a {
    color: inherit;
    text-decoration: underline;
  }
</style>

{% schema %}
{
  "name": "Disney's Raya",
  "class": "disneys_raya",
  "max_blocks": 9999,
  "blocks": [
    {
      "type": "intro",
      "name": "Intro",
      "settings": [
        {
          "type": "color",
          "id": "background",
          "label": "Background color",
          "default": "#F3576B"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "image_picker",
          "id": "image_desktop",
          "label": "Image for desktop"
        },
        {
          "type": "range",
          "id": "image_desktop_width",
          "min": 200,
          "max": 400,
          "step": 5,
          "unit": "px",
          "label": "Image max width on desktop",
          "default": 295
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "image for mobile"
        },
        {
          "type": "range",
          "id": "image_mobile_width",
          "min": 100,
          "max": 300,
          "step": 5,
          "unit": "px",
          "label": "Image max width on mobile",
          "default": 145
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    },
    {
      "type": "devider",
      "name": "Devider",
      "settings": [
        {
          "type": "color",
          "id": "color",
          "label": "Color",
          "default": "#a9dd61"
        }
      ]
    },
    {
      "type": "50-50",
      "name": "50-50",
      "settings": [
        {
          "type": "checkbox",
          "id": "hidden",
          "label": "Hide section",
          "default": false
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Title color"
        },
        {
          "type": "textarea",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "color",
          "id": "subtitle_color",
          "label": "Subtitle color"
        },
        {
          "type": "richtext",
          "id": "entry",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "text_entry_color",
          "label": "Text color"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button link"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background color",
          "default": "#01BCBE"
        },
        {
          "type": "image_picker",
          "id": "image_desktop",
          "label": "Image for desktop"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image for mobile"
        },
        {
          "type": "checkbox",
          "id": "section_reverse",
          "label": "Reverse layout",
          "default": false
        }
      ]
    },
    {
      "type": "cook",
      "name": "Cook",
      "settings": [
        {
          "type": "checkbox",
          "id": "hidden",
          "label": "Hide section",
          "default": false
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "header",
          "content": "Block - 1"
        },
        {
          "type": "url",
          "id": "url_1",
          "label": "URL - 1"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image - 1"
        },
        {
          "type": "range",
          "id": "image_size_1",
          "min": 150,
          "max": 370,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 305
        },
        {
          "type": "image_picker",
          "id": "image_mobile_1",
          "label": "Image Mobile - 1"
        },
        {
          "type": "text",
          "id": "title_1",
          "label": "Title - 1"
        },
        {
          "type": "richtext",
          "id": "text_1",
          "label": "Text - 1"
        },
        {
          "type": "header",
          "content": "Block - 2"
        },
        {
          "type": "url",
          "id": "url_2",
          "label": "URL - 2"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image - 2"
        },
        {
          "type": "range",
          "id": "image_size_2",
          "min": 150,
          "max": 370,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 305
        },
        {
          "type": "image_picker",
          "id": "image_mobile_2",
          "label": "Image Mobile - 2"
        },
        {
          "type": "text",
          "id": "title_2",
          "label": "Title - 2"
        },
        {
          "type": "richtext",
          "id": "text_2",
          "label": "Text - 2"
        },
        {
          "type": "header",
          "content": "Block - 3"
        },
        {
          "type": "url",
          "id": "url_3",
          "label": "URL - 3"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image - 3"
        },
        {
          "type": "range",
          "id": "image_size_3",
          "min": 150,
          "max": 370,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 305
        },
        {
          "type": "image_picker",
          "id": "image_mobile_3",
          "label": "Image Mobile - 3"
        },
        {
          "type": "text",
          "id": "title_3",
          "label": "Title - 3"
        },
        {
          "type": "richtext",
          "id": "text_3",
          "label": "Text - 3"
        }
      ]
    },
    {
      "type": "50-50-v2",
      "name": "50-50 v2",
      "settings": [
        {
          "type": "checkbox",
          "id": "hidden",
          "label": "Hide section",
          "default": false
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Image will be used as video banner if section contains video."
        },
        {
          "type": "checkbox",
          "id": "contains_video",
          "label": "Section contains video",
          "default": false
        },
        {
          "type": "select",
          "id": "video_type",
          "label": "Select Video Type",
          "options": [
            {
              "value": "video_embed",
              "label": "Custom Iframe"
            },
            {
              "value": "youtube_vimeo",
              "label": "Youtube/Vimeo - Link"
            }
          ],
          "default": "video_embed"
        },
        {
          "type": "html",
          "id": "video_embed_iframe",
          "label": "Video Iframe"
        },
        {
          "type": "video_url",
          "id": "video",
          "label": "Video Url",
          "accept": ["youtube", "vimeo"]
        },
        {
          "type": "image_picker",
          "id": "video_play_icon",
          "label": "Play Icon"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "checkbox",
          "id": "hidden",
          "label": "Hide section",
          "default": false
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "textarea",
          "id": "title_in_video",
          "label": "Title on video"
        },
        {
          "type": "select",
          "id": "video_type",
          "label": "Select Video Type",
          "options": [
              {
                "value": "video_embed",
                "label": "Custom Iframe"
              },
              {
                "value": "youtube_vimeo",
                "label": "Youtube/Vimeo - Link"
              }
            ],
            "default": "video_embed"
        },
        {
          "type": "html",
          "id": "video_embed_iframe",
          "label": "Video Iframe"
        },
        {
          "type": "video_url",
          "id": "video",
          "label": "Video Url",
          "accept": ["youtube", "vimeo"]
        },
        {
          "type": "image_picker",
          "id": "video_play_icon",
          "label": "Play Icon"
        },
        {
          "type": "checkbox",
          "id": "video_play_icon_hide",
          "label": "Hide play icon",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "video_overlay_hide",
          "label": "Hide video overlay",
          "default": false
        },
        {
          "type": "textarea",
          "id": "title_callout",
          "label": "Callout Title"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button Url"
        }
      ]
    }
  ]
}
{% endschema %}
