
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-547642066738348936.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-547642066738348936.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-547642066738348936.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-547642066738348936.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-547642066738348936.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-547642066738348936.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-547642066738348936.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-547642066738348936.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-547642066738348936.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-547642066738348936.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-547642066738348936.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-547642066738348936.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-547642066738348936.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-547642066738348936.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-547642066738348936.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-547642066738348936.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-547642066738348936.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-547642066738348936.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-547642066738348936.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-547642066738348936.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-547642066738348936.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-547642066738348936.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-547642066738348936.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-547642066738348936.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-547642066738348936.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-547642066738348936.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-547642066738348936.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-547642066738348936.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-547642066738348936.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-547642066738348936.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-547642066738348936.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-547642066738348936.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-547642066738348936.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-547642066738348936.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-547642066738348936.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-547642066738348936.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-547642066738348936.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-547642066738348936.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-547642066738348936.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-547642066738348936.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-547642066738348936.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-547642066738348936.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-547642066738348936.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-547642066738348936.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-547642066738348936.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-547642066738348936.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-547642066738348936.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-547642066738348936.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-547642066738348936.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-547642066738348936.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-547642066738348936.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-547642066738348936.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-547642066738348936.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-547642066738348936.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-547642066738348936.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-547642066738348936.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-547642066738348936.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-547642066738348936.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-547642066738348936.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-547642066738348936.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-547642066738348936.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-547642066738348936.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-547642066738348936.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-547642066738348936.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-547642066738348936.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-547642066738348936.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-547642066738348936.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-547642066738348936.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-547642066738348936.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-547642066738348936.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-547642066738348936.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-547642066738348936.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-547642066738348936.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-547642066738348936.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-547642066738348936.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-547642066738348936.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-547642066738348936.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-547642066738348936.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-547642066738348936.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-547642066738348936.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-547642066738348936.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-547642066738348936 .-gp-translate-x-1\/2,.gps-547642066738348936 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-547642066738348936 .gp-g-heading-2{font-family:var(--g-h2-ff);font-size:var(--g-h2-size);font-style:var(--g-h2-fs);font-weight:var(--g-h2-weight);letter-spacing:var(--g-h2-ls);line-height:var(--g-h2-lh)}.gps-547642066738348936 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-547642066738348936 .gp-visible{visibility:visible}.gps-547642066738348936 .gp-invisible{visibility:hidden}.gps-547642066738348936 .gp-absolute{position:absolute}.gps-547642066738348936 .gp-relative{position:relative}.gps-547642066738348936 .gp-left-1\/2{left:50%}.gps-547642066738348936 .gp-top-1\/2{top:50%}.gps-547642066738348936 .gp-z-1{z-index:1}.gps-547642066738348936 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-547642066738348936 .gp-mb-0{margin-bottom:0}.gps-547642066738348936 .gp-flex{display:flex}.gps-547642066738348936 .gp-inline-flex{display:inline-flex}.gps-547642066738348936 .gp-grid{display:grid}.gps-547642066738348936 .\!gp-hidden{display:none!important}.gps-547642066738348936 .gp-hidden{display:none}.gps-547642066738348936 .gp-h-full{height:100%}.gps-547642066738348936 .gp-w-\[68px\]{width:68px}.gps-547642066738348936 .gp-w-full{width:100%}.gps-547642066738348936 .\!gp-max-w-none{max-width:none!important}.gps-547642066738348936 .gp-max-w-full{max-width:100%}.gps-547642066738348936 .gp-shrink-0{flex-shrink:0}.gps-547642066738348936 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-547642066738348936 .-gp-translate-x-1\/2,.gps-547642066738348936 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-547642066738348936 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-547642066738348936 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-547642066738348936 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-547642066738348936 .gp-flex-col{flex-direction:column}.gps-547642066738348936 .gp-items-center{align-items:center}.gps-547642066738348936 .gp-justify-center{justify-content:center}.gps-547642066738348936 .gp-overflow-hidden{overflow:hidden}.gps-547642066738348936 .gp-break-words{overflow-wrap:break-word}.gps-547642066738348936 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-547642066738348936 .gp-bg-cover{background-size:cover}.gps-547642066738348936 .gp-bg-center{background-position:50%}.gps-547642066738348936 .gp-text-center{text-align:center}.gps-547642066738348936 .gp-no-underline{text-decoration-line:none}.gps-547642066738348936 .gp-opacity-100{opacity:1}.gps-547642066738348936 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547642066738348936 .gp-duration-200{transition-duration:.2s}.gps-547642066738348936 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547642066738348936 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-547642066738348936 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-547642066738348936 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-547642066738348936 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-547642066738348936 .tablet\:\!gp-hidden{display:none!important}.gps-547642066738348936 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-547642066738348936 .mobile\:\!gp-hidden{display:none!important}.gps-547642066738348936 .mobile\:gp-hidden{display:none}}.gps-547642066738348936 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-547642066738348936 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-547642066738348936 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-547642066738348936 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-547642066738348936 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-547642066738348936 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-547642066738348936 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-547642066738348936 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-547642066738348936 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:var(--g-ct-p, 15px);--pr:none;--pr-tablet:none;--pr-mobile:var(--g-ct-p, 15px)"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gLfIjRIWlD"}' data-id="gLfIjRIWlD" id="gLfIjRIWlD" data-same-height-subgrid-container class="gLfIjRIWlD gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g-MVLqcOBX gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCQJtXyw69"
        class="gCQJtXyw69"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-mobile:var(--g-s-3xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761209690751"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--size:25px;--size-tablet:41px;--size-mobile:26px;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCQJtXyw69_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"https://form.jotform.com/250028458118152","target":"_blank"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--mb-mobile:7px;--ta:center" >
        <style>[data-id="ggMaEVoHrS"].gp-button-base::before, [data-id="ggMaEVoHrS-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #121212;
  
    
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
  
    }
  
      
  [data-id="ggMaEVoHrS"]:hover::before, [data-id="ggMaEVoHrS-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="ggMaEVoHrS" dataId="ggMaEVoHrS" data-state="idle" aria-label="<p><span style='font-size:14px;'>Click Here to Share Your Video&nbsp;</span></p>"
          
          href="https://form.jotform.com/250028458118152" target="_blank"
          style="--w:283px;--w-tablet:283px;--w-mobile:100%;--h:36px;--h-tablet:36px;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--shadow:2.4492935982947064e-16px 4px 12px 0px rgba(0, 0, 0, 0.20);--bgi:;--hvr-bgi:;--hvr-bg:#272727;--bg:#dfb52c;--hvr-c:#FFFFFF;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold"
          class="ggMaEVoHrS gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;word-break:break-word;--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817602427027816">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,144v64a12,12,0,0,1-12,12H40a12,12,0,0,1-12-12V144a12,12,0,0,1,24,0v52H204V144a12,12,0,0,1,24,0ZM96.49,80.49,116,61v83a12,12,0,0,0,24,0V61l19.51,19.52a12,12,0,1,0,17-17l-40-40a12,12,0,0,0-17,0l-40,40a12,12,0,1,0,17,17Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gggMaEVoHrS_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-ggMaEVoHrS">
        button.ggMaEVoHrS {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJp8TAtvTN"
        class="gJp8TAtvTN"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--pos-mobile:static;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761209690755"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--weight:bold;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJp8TAtvTN_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g2Wtla4BNh"}' data-id="g2Wtla4BNh" id="g2Wtla4BNh" data-same-height-subgrid-container class="g2Wtla4BNh gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:48px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gt3w9IsjeZ gp-relative gp-flex gp-flex-col"
    >
      
    <div
       data-id="giFNM3DQFf" class="giFNM3DQFf !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--aspect:9/16">
      
    <gp-lite-youtube-embed gp-data='{"lazy":true,"style":{"--aspect":"9/16"},"title":"Video","iframeSrc":"https://www.youtube-nocookie.com/embed/RZQziz7jcP0?autoplay=true&state=1&controls=0"}'>
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-youtube-embed-article"
        data-title="Video"
        style="background-image:url(https://i.ytimg.com/vi/RZQziz7jcP0/hqdefault.jpg);--aspect:9/16"
      >
        
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="https://i.ytimg.com/vi/RZQziz7jcP0/hqdefault.jpg" isNotLazyload="true" srcset loading="eager" fetchpriority="high"
      id="gp-video-giFNM3DQFf"
      
      class="gp-invisible gp-w-full gp-h-full gp_lazyforbg"
    />
        <button type="button" aria-label="Play" class="gp-absolute gp-left-1/2 gp-top-1/2 gp-w-[68px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-lite-youtube-embed-button gp-visible gp-opacity-100">
          <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
            <path
              d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
              fill="#f00"
            ></path>
            <path d="M 45,24 27,14 27,34" fill="#fff"></path>
          </svg>
        </button>
        
      </article>
    </gp-lite-youtube-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-youtube-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gLqOzDqFz5 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWQJ6MRgVg"
        class="gWQJ6MRgVg"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--mb-mobile:var(--g-s-2xl);--mb-tablet:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761209690799"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggWQJ6MRgVg_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_d8qNJ19l"
        class="g_d8qNJ19l"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--mb-mobile:var(--g-s-2xl);--mb-tablet:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761209690800"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-heading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:32px;--size-tablet:41px;--size-mobile:36px;--c:#B4B4B4;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_d8qNJ19l_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gWmEAd1IKl"}' data-id="gWmEAd1IKl" id="gWmEAd1IKl" data-same-height-subgrid-container class="gWmEAd1IKl gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-3xl);--mb-mobile:var(--g-s-3xl);--mb-tablet:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gOrimnM03q gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gVTHuXQkMB"
        class="gVTHuXQkMB"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761209690809"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:28px;--size-tablet:24px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVTHuXQkMB_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gQFT5HBFNo"
        class="gQFT5HBFNo"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761209690809"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQFT5HBFNo_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gmSqzoHFdG"}' data-id="gmSqzoHFdG" id="gmSqzoHFdG" data-same-height-subgrid-container class="gmSqzoHFdG gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-3xl);--mb-mobile:var(--g-s-3xl);--mb-tablet:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g6C-59lRud gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUt-I3Ob5u"
        class="gUt-I3Ob5u"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761209690813"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:28px;--size-tablet:24px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUt-I3Ob5u_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvpcWtfKqP"
        class="gvpcWtfKqP"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761209690814"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvpcWtfKqP_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gO4bv8gY14"}' data-id="gO4bv8gY14" id="gO4bv8gY14" data-same-height-subgrid-container class="gO4bv8gY14 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:var(--g-s-3xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gpJ6d9bASg gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCUFr1b_Z3"
        class="gCUFr1b_Z3"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761209690817"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:28px;--size-tablet:24px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCUFr1b_Z3_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLy7OuY3RZ"
        class="gLy7OuY3RZ"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761209690818"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLy7OuY3RZ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    <gp-button
      gp-data='{"btnLink":{"link":"https://form.jotform.com/250028458118152","target":"_blank"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--mb-mobile:7px;--ta:center" >
        <style>[data-id="g3DdkFVhpu"].gp-button-base::before, [data-id="g3DdkFVhpu-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #121212;
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="g3DdkFVhpu"]:hover::before, [data-id="g3DdkFVhpu-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="g3DdkFVhpu" dataId="g3DdkFVhpu" data-state="idle" aria-label="<p><span style='font-size:14px;'>Click Here to Share Your Video&nbsp;</span></p>"
          
          href="https://form.jotform.com/250028458118152" target="_blank"
          style="--w:283px;--w-tablet:283px;--w-mobile:100%;--h:36px;--h-tablet:36px;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:2.4492935982947064e-16px 4px 12px 0px rgba(0, 0, 0, 0.20);--bgi:;--hvr-bgi:;--hvr-bg:#272727;--bg:#dfb52c;--hvr-c:#FFFFFF;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold"
          class="g3DdkFVhpu gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;word-break:break-word;--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817602427027816">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,144v64a12,12,0,0,1-12,12H40a12,12,0,0,1-12-12V144a12,12,0,0,1,24,0v52H204V144a12,12,0,0,1,24,0ZM96.49,80.49,116,61v83a12,12,0,0,0,24,0V61l19.51,19.52a12,12,0,1,0,17-17l-40-40a12,12,0,0,0-17,0l-40,40a12,12,0,1,0,17,17Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg3DdkFVhpu_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-g3DdkFVhpu">
        button.g3DdkFVhpu {

}
      </style>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-547642066738348936 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/47d43a/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=547641945573295196&sectionId=547642066738348936)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggCQJtXyw69_text","label":"ggCQJtXyw69_text","default":"<span style=\"font-size:28px;\">SHARE A VIDEO.&nbsp;</span><br><span style=\"font-size:26px;\"><strong>GET 2 CUSTOM FREE RUGS.</strong></span><br>&nbsp;"},{"type":"html","id":"gggMaEVoHrS_label","label":"gggMaEVoHrS_label","default":"<p><span style=\"font-size:14px;\">Click Here to Share Your Video&nbsp;</span></p>"},{"type":"html","id":"ggJp8TAtvTN_text","label":"ggJp8TAtvTN_text","default":"<p>Watch This Example Video&nbsp;</p>"},{"type":"html","id":"ggWQJ6MRgVg_text","label":"ggWQJ6MRgVg_text","default":"<p><span style=\"color:#050505;\"><strong>Share a Video review, reaction, or unboxing video of you or someone seeing their custom rug for the first time. Share it with us. Earn up to 2 FREE RUGS if your video gets accepted.</strong></span></p>"},{"type":"html","id":"gg_d8qNJ19l_text","label":"gg_d8qNJ19l_text","default":"<p><span style=\"color:#050505;\"><strong>How it works&nbsp;</strong></span></p>"},{"type":"html","id":"ggVTHuXQkMB_text","label":"ggVTHuXQkMB_text","default":"01. Record"},{"type":"html","id":"ggQFT5HBFNo_text","label":"ggQFT5HBFNo_text","default":"<p>Record a testimonial of the rug in your space.</p>"},{"type":"html","id":"ggUt-I3Ob5u_text","label":"ggUt-I3Ob5u_text","default":"02. Upload"},{"type":"html","id":"ggvpcWtfKqP_text","label":"ggvpcWtfKqP_text","default":"<p>Click on the link below and upload the video.</p>"},{"type":"html","id":"ggCUFr1b_Z3_text","label":"ggCUFr1b_Z3_text","default":"03. Win"},{"type":"html","id":"ggLy7OuY3RZ_text","label":"ggLy7OuY3RZ_text","default":"<p>We’ll take it from here, you will hear from our team in 3~5 business days if your video gets approved.</p><p>&nbsp;</p>"},{"type":"html","id":"gg3DdkFVhpu_label","label":"gg3DdkFVhpu_label","default":"<p><span style=\"font-size:14px;\">Click Here to Share Your Video&nbsp;</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  