{%- assign _section = section.settings -%}
{%- assign _blocks = section.blocks -%}
{%- assign section_background_color = _section.background_color -%}
{%- assign section_text_color = _section.text_color -%}
{%- assign section_special_color = _section.special_color -%}
{% assign section_promo_text_mobile = _section.promo_text_mobile | default: _section.promo_text %}

<div class="header__inner">
  {% if section.settings.promo_text != blank %}
    <div class="promo-bar">
      <style>
        .promo-bar { background-color: {{section_background_color}}; color: {{section_text_color}}; }
        .promo-bar a,
        .promo-bar strong { color: {{section_special_color}}; }
      </style>
      <div class="page-width text-center promo-content">
        <div class="promo-content header-desktop">
          {{ section.settings.promo_text }}
        </div>
        <div class="promo-content header-mobile">
          {{ section_promo_text_mobile }}
        </div>
      </div>
    </div>
  {% endif %}
  <div data-section-id="{{ section.id }}" data-section-type="header-section">

    <header role="banner" class="site-header">
      <div class="page-width">
        <a class="mobile-menu-trigger" href="#">
          <span>Main Menu</span>
          <span></span>
        </a>
        <div class="flex flex-center logo-nav">
          {% if template.name == 'index' %}
            <h1 class="logo" itemscope itemtype="http://schema.org/Organization">
          {% else %}
            <div class="logo" itemscope itemtype="http://schema.org/Organization">
          {% endif %}
            <a href="/" itemprop="url" class="site-logo">
              <img src="{{ 'logo-standard.svg' | asset_url }}"
                alt="{{ section.settings.logo.alt | default: shop.name }}"
                itemprop="logo">
            </a>
          {% if template.name == 'index' %}
            </h1>
          {% else %}
            </div>
          {% endif %}

          <nav class="flex nav-wrapper" role="navigation">
            {% render 'site-nav', menu: _section.main_linklist, _blocks: _blocks %}
          </nav>

          <div class="cart-account flex flex-center">
			<a href="#" class="search-toggle">{% include 'ico-search' %}</i></a>

            <a href="/cart" class="cart-link-mobile" id="cart-icon-bubble-mobile">
              {{ 'cart.svg' | asset_url | img_tag }}
              <span class="cart-count" style="right: -17px;text-align: center; width: 30px">{{ cart.item_count }}</span>
            </a>

            <a href="/pages/cooking-kits" class="join-button btn">Join Now</a>
          </div>

        </div>

      </div>
    </header>
    <form action="/search" method="get" role="search" id="search-box">
      <input type="hidden" name="type" value="article,product,page">
      <div class="page-width">
        <div class="flex align-center">
          <label for="Search" class="label-hidden">
            {{ 'general.search.placeholder' | t }}
          </label>
          <input type="search"
                name="q"
                id="Search"
                value="{{ search.terms | escape }}"
                placeholder="{{ 'general.search.placeholder' | t }}">
          <button type="submit" class="btn">
            <i class="fa fa-search"></i>
            <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

{% include 'mobile-menu-alt' %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Promo Bar"
      },
      {
        "type": "richtext",
        "id": "promo_text",
        "label": "Promo Text"
      },
      {
        "type": "richtext",
        "id": "promo_text_mobile",
        "label": "Promo Text Mobile (optional)",
        "info": "If empty, \"Promo Text\" will be shown for mobile."
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#E4F4F6"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#4D4D4D"
      },
      {
        "type": "color",
        "id": "special_color",
        "label": "Link & Bold Color",
        "default": "#F3576B"
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      }
    ],
    "blocks": [
      {
        "type": "item_settings",
        "name": "Menu Item Settings",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Menu Item Title",
            "info": "Should be the exact text of the menu item."
          },
          {
            "type": "color",
            "id": "color",
            "label": "Text Color",
          }
        ]
      },
      {
        "type": "menu_item",
        "name": "Menu item",
        "settings": [
          {
            "type": "header",
            "content": "Main data"
          },
          {
            "type": "text",
            "id": "menu_title",
            "label": "Menu link title",
            "info": "Title of the menu link containing the featured content."
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Illustration"
          },
          {
            "type": "color",
            "id": "background_color",
            "label": "Background color",
            "default": "#01BCBE"
          },
          {
            "type": "image_picker",
            "id": "illustration_image",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Full bleed image"
          },
          {
            "type": "image_picker",
            "id": "image_full",
            "label": "Image",
            "info": "588x370px image recommended. Image take precedence over illustration"
          }
        ]
      }
    ]

  }
{% endschema %}
