{%- assign _section = section.settings -%}
{%- assign section_title = _section.title -%}
{%- assign section_subtitle = _section.subtitle -%}

{%- assign section_cta_text = _section.cta_text -%}
{%- assign section_cta_url = _section.cta_url -%}

{%- assign section_desktop_image_1 = _section.desktop_image_1 -%}
{%- assign section_desktop_image_2 = _section.desktop_image_2 -%}
{%- assign section_desktop_image_3 = _section.desktop_image_3 -%}

{%- assign section_mobile_image_1 = _section.mobile_image_1 -%}
{%- assign section_mobile_image_2 = _section.mobile_image_2 -%}
{%- assign section_mobile_image_3 = _section.mobile_image_3 -%}
{%- assign section_mobile_image_4 = _section.mobile_image_4 -%}

{%- assign section_overlay = _section.overlay -%}
{%- assign section_overlay_mobile = _section.overlay_mobile -%}
{%- assign section_overlay_opacity = _section.overlay_opacity -%}
{%- assign section_overlay_color = _section.overlay_color -%}

<style type="text/css" media="screen">
  .hero-callout .hero-callout__image:before {
    background-color: {{ section_overlay_color }};
    {%- if section_overlay_opacity < 100 -%}
      opacity: 0.{{ section_overlay_opacity }};
    {%- else -%}
      opacity: {{ section_overlay_opacity }};
    {%- endif -%}
  }
</style>

<section class="hero-callout">
  <div class="hero-callout__images hero-callout__images--desktop {% if section_overlay %}hero-callout__images--overlay{% endif %}">
    {% if section_desktop_image_1 != blank %}
      <div class="hero-callout__image" style="background-image: url({{ section_desktop_image_1 | img_url: '960x' }});"></div><!-- /.hero-callout__image -->
    {% endif %}

    {% if section_desktop_image_2 != blank %}
      <div class="hero-callout__image" style="background-image: url({{ section_desktop_image_2 | img_url: '960x' }});"></div><!-- /.hero-callout__image -->
    {% endif %}

    {% if section_desktop_image_3 != blank %}
      <div class="hero-callout__image" style="background-image: url({{ section_desktop_image_3 | img_url: '960x' }});"></div><!-- /.hero-callout__image -->
    {% endif %}
  </div><!-- /.hero-callout__images hero-callout__images-/-desktop -->

  <div class="hero-callout__images hero-callout__images--mobile {% if section_overlay_mobile %}hero-callout__images--overlay{% endif %}">
    {% if section_mobile_image_1 != blank %}
      <div class="hero-callout__image" style="background-image: url({{ section_mobile_image_1 | img_url: '374x' }});"></div><!-- /.hero-callout__image -->
    {% endif %}

    {% if section_mobile_image_2 != blank %}
      <div class="hero-callout__image" style="background-image: url({{ section_mobile_image_2 | img_url: '374x' }});"></div><!-- /.hero-callout__image -->
    {% endif %}

    {% if section_mobile_image_3 != blank %}
      <div class="hero-callout__image" style="background-image: url({{ section_mobile_image_3 | img_url: '374x' }});"></div><!-- /.hero-callout__image -->
    {% endif %}

    {% if section_mobile_image_4 != blank %}
      <div class="hero-callout__image" style="background-image: url({{ section_mobile_image_4 | img_url: '374x' }});"></div><!-- /.hero-callout__image -->    
    {% endif %}
  </div><!-- /.hero-callout__images hero-callout__images-/-mobile -->

  <div class="hero-callout__body">
    <div class="hero-callout__head">
      {%- if section_title != blank -%}
        <h2 class="hero-callout__title">{{ section_title }}</h2><!-- /.hero-callout__title -->
      {%- endif -%}

      {%- if section_subtitle != blank -%}
        <h3 class="hero-callout__subtitle">{{ section_subtitle }}</h3><!-- /.hero-callout__subtitle -->
      {%- endif -%}
    </div><!-- /.hero-callout__head -->

    {%- if section_cta_text != blank and section_cta_url != blank -%}
      <div class="hero-callout__actions">
        <a href="{{ section_cta_url }}" class="btn">{{ section_cta_text }}</a>
      </div><!-- /.hero-callout__actions -->
    {%- endif -%}
  </div><!-- /.hero-callout__body -->
</section><!-- /.hero-callout -->

{% schema %}
{
  "name": "Hero Callout",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },  
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA text"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "CTA url"
    },
    {
      "type": "header",
      "content": "Desktop images"
    },
    {
      "type": "image_picker",
      "id": "desktop_image_1",
      "label": "Desktop image 1"
    },
    {
      "type": "image_picker",
      "id": "desktop_image_2",
      "label": "Desktop image 2"
    },
    {
      "type": "image_picker",
      "id": "desktop_image_3",
      "label": "Desktop image 3"
    },
    {
      "type": "header",
      "content": "Mobile images"
    },
    {
      "type": "image_picker",
      "id": "mobile_image_1",
      "label": "Mobile image 1"
    },
    {
      "type": "image_picker",
      "id": "mobile_image_2",
      "label": "Mobile image 2"
    },
    {
      "type": "image_picker",
      "id": "mobile_image_3",
      "label": "Mobile image 3"
    },
    {
      "type": "image_picker",
      "id": "mobile_image_4",
      "label": "Mobile image 4"
    },
    {
      "type": "header",
      "content": "Overlay options"
    },
    {
      "type": "checkbox",
      "id": "overlay",
      "label": "Show Overlay for desktop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "overlay_mobile",
      "label": "Show Overlay for mobile",
      "default": false
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Overlay opacity",
      "default": 0
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay color",
      "default": "#393939"
    }
  ],
  "presets": [
    {
      "name": "Hero Callout",
      "category": "Home Sections"
    }
  ]
}
{% endschema %}
