{%- assign _section = section.settings -%}

<div class="hero-text-media">
  <div class="hero__shell shell">
    {%- if _section.title != blank -%}
      <header class="hero__head">
        <h1 class="hero__title">
          {{- _section.title -}}
        </h1><!-- /.hero__title -->
      </header><!-- /.hero__head -->
    {%- endif -%}

    <div class="hero__body">
      {% if _section.background_image != blank %}
        <div
        class="hero__background"
        aria-label="{{- _section.background_image.alt | escape -}}"
        role="img"
        style="background-image: url({{- _section.background_image | img_url: '2080x' -}});"
        >
        </div><!-- /.hero__background -->
      {% endif %}
      
      {% if _section.background_image_mobile != blank %}
        <div
        class="hero__background-mobile"
        aria-label="{{- _section.background_image_mobile.alt | escape -}}"
        role="img"
        style="background-image: url({{- _section.background_image_mobile | img_url: '700x' -}});"
        >
        </div><!-- /.hero__background-mobile -->
      {% endif %}

      {%- if _section.subtitle != blank -%}
        <div class="hero__entry">
          <h2 class="hero__subtitle">
            {{- _section.subtitle -}}
          </h2><!-- /.hero__subtitle -->
        </div><!-- /.hero__entry -->
      {%- endif -%}

      <div class="hero__media">
        <div class="video-default">
          <div class="video__content">
            {%- if _section.subtitle != blank -%}
              <div class="hero__entry-mobile">
                <p>{{- _section.subtitle -}}</p>
              </div><!-- /.hero__entry-mobile -->
            {%- endif -%}
            
            {%- if _section.video_text != blank -%}
              <div class="video__text">
                {{- _section.video_text -}}
              </div><!-- /.video__text -->
            {%- endif -%}
            
            {%- if _section.video_type == 'youtube_vimeo' -%}
              {%- if _section.video != blank and _section.video_play_icon != blank -%}
                <a href="{{- _section.video -}}" class="video__btn js-video-play">
                  <img src="{{- _section.video_play_icon | img_url: '200x' -}}" alt="{{- _section.video_play_icon.alt | escape -}}">
                </a>
              {%- endif -%}
            {%- endif -%}

            {%- if _section.video_type == 'video_embed' -%}
              <a href="#video-02" class="video__btn js-video-mp4-play">
                <img src="{{- _section.video_play_icon | img_url: '200x' -}}" alt="{{- _section.video_play_icon.alt | escape -}}">
              </a>

              <div id="video-02" class="video-popup mfp-hide">
                <div class="video-popup-inner">
                  {{- _section.video_embed_iframe -}}
                </div><!-- /.video-popup-inner -->
              </div><!-- /.video-popup mfp-hide -->
            {%- endif -%}
          </div><!-- /.video__content -->
        </div><!-- /.video-default -->
      </div><!-- /.hero__media -->
    </div><!-- /.hero__body -->
  </div><!-- /.shell -->
</div><!-- /.hero-text-media -->

{% schema %}
{
  "name": "Hero Grandparents",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "Background Image Mobile"
    },
    {
      "type": "richtext",
      "id": "video_text",
      "label": "Video Text"
    },
    {
      "type": "image_picker",
      "id": "video_play_icon",
      "label": "Play Icon"
    },
    {
      "type": "select",
      "id": "video_type",
      "label": "Select Video Type",
      "options": [
          {
            "value": "video_embed",
            "label": "Custom Iframe"
          },
          {
            "value": "youtube_vimeo",
            "label": "Youtube/Vimeo - Link"
          }
        ],
        "default": "video_embed"
    },
    {
      "type": "html",
      "id": "video_embed_iframe",
      "label": "Video Iframe"
    },
    {
      "type": "video_url",
      "id": "video",
      "label": "Video URL",
      "accept": ["youtube", "vimeo"]
    }
  ]
}
{% endschema %}