{% assign _section = section.settings %}
<script type="text/javascript" src="{{ 'custom-api-services.js' | asset_url }}"></script>
<script>
  async function onClickGetRadPlus(buttonId, customerEmail) {
    try {
      var buttonEl = document.querySelector('[data-id=' + buttonId +']');
      var prevText = buttonEl.innerText;
      buttonEl.disabled = true;
      buttonEl.innerText = 'Redirecting...';

      await apiServices.goToCheckout(customerEmail);
    } catch (error) {
      console.error(error);
    } finally {
      buttonEl.disabled = false;
      buttonEl.innerText = prevText;
    }  
  }
</script>
<div class="page-width hero__shell">
  <div class="hero__inner">
    {% if _section.image != blank %}
      <div class="hero__image {% if _section.image_mobile %}hero__image--hidden{% endif %}">
        <img src="{{ _section.image | img_url: '1382x'}}" alt="{{ _section.image.alt }}">
      </div><!-- /.hero__image -->
    {% endif %}

    {% if _section.image_mobile != blank %}
      <div class="hero__image hero__image--mobile">
        <img src="{{ _section.image_mobile | img_url: '600x'}}" alt="{{ _section.image_mobile.alt}}">
      </div><!-- /.hero__image -->
    {% endif %}

    <div class="hero__content">
      {% if _section.logo != blank %}
        <div class="hero__logo">
          {% if _section.small_title != blank %}
            <h6>{{ _section.small_title }}</h6>
          {% endif %}

          <img src="{{ _section.logo | img_url: '520x'}}" alt="{{ _section.logo.alt }}">
        </div><!-- /.hero__logo -->
      {% endif %}

      {% if _section.description != blank %}
        <div class="hero__entry">
          {{ _section.description }}
        </div><!-- /.hero__entry -->
      {% endif %}

      {% if _section.landing_page_button_label != blank and _section.landing_page_button_url != blank %}
        <div class="hero__actions">
          <a class="btn" href="{{_section.landing_page_button_url}}">{{ _section.landing_page_button_label }}</a>
        </div><!-- /.hero__actions -->
      {% elsif _section.button_label != blank and _section.button_url != blank  %}
        <div class="hero__actions">
          {% if customer.email == nil %}
          <a class="btn" href="https://plus.raddishkids.com/">{{ _section.button_label }}</a>
          {% else %}
          <button data-id="hero-get-rad-plus-button" 
                  class="btn"
                  style="padding: 16px 20px;"
                  onclick="onClickGetRadPlus('hero-get-rad-plus-button', '{{customer.email}}')">
            {{ _section.button_label }}
          </button>
          {% endif %}
        </div><!-- /.hero__actions -->
      {% endif %}
    </div><!-- /.hero__content -->
  </div><!-- /.hero__inner -->
</div><!-- /.page-width -->

{% schema %}
{
  "name": "Hero marketing",
  "tag": "section",
  "class": "hero-marketing",
  "presets": [
    {
      "name": "Hero Marketing",
      "category": "Homepage"
    }
  ],
  "settings": [
  {
    "type": "image_picker",
    "id": "image",
    "label": "Image"
  },
  {
    "type": "image_picker",
    "id": "image_mobile",
    "label": "Image mobile"
  },
  {
    "type": "text",
    "id": "small_title",
    "label": "Small title"
  },
  {
   "type": "image_picker",
   "id": "logo",
   "label": "Logo"
  },
  {
    "type": "richtext",
    "id": "description",
    "label": "Description"
  },
  {
    "type": "text",
    "id": "landing_page_button_label",
    "label": "DTC Button label"
  },
  {
    "type": "url",
    "id": "landing_page_button_url",
    "label": "DTC Button link"
  },
  {
    "type": "text",
    "id": "button_label",
    "label": "Button label"
  },
  {
    "type": "url",
    "id": "button_url",
    "label": "Button link"
  }
]
}
{% endschema %}