{%- assign _section = section.settings -%}
{%- assign section_aside_foot = _section.aside_foot -%}
{% for block in section.blocks %}
  <div class="q-a" {{ block.shopify_attributes }}>
    <div class="question flex space">
      <!-- HC - Added the custom id control for FAQ accordions - 21 Feb '18 -->
      <div id="{{ block.settings.custom_id }}">{{ block.settings.title }}</div>
      {% if _section.initial_collapse == true %}
        <span></span>
      {% else %}
        <span{% if forloop.first %} class="open"{% endif %}></span>
      {% endif %}
    </div>
    {% if _section.initial_collapse == true %}
      <div class="answer rte" style="display: none;">{{ block.settings.answer | replace: '[numlist]', '<ol><li>' | replace: '[/numlist]', '</li></ol>' | replace: '[list]', '<ul><li>' | replace: '[/list]', '</li></ul>' | replace: '*', '</li><li>' }}
      </div>
    {% else %}
      <div class="answer rte{% if forloop.first %} expanded{% endif %}"{% unless forloop.first %} style="display: none;"{% endunless %}>{{ block.settings.answer | replace: '[numlist]', '<ol><li>' | replace: '[/numlist]', '</li></ol>' | replace: '[list]', '<ul><li>' | replace: '[/list]', '</li></ul>' | replace: '*', '</li><li>' }}
      </div>
    {% endif %}
  </div>
{% endfor %}
  <div class="section__aside-foot section__aside-foot2">
    {{- section_aside_foot -}}
  </div>
  <style>
    @media (max-width: 700px){ .section__aside-foot2 { display:none } }
  </style>
{% schema %}
  {
    "name": "FAQ",
    "class": "faq-page section__content",
    "settings": [
        {
          "type": "richtext",
          "id": "aside_foot",
          "label": "Footer"
        },
        {
          "type": "checkbox",
          "id": "initial_collapse",
          "label": "Initially collapse all questions"
        }
      ],
    "blocks": [
      {
        "type": "block",
        "name": "Q/A",
        "settings": [
          {
            "type": "text",
            "id": "custom_id",
            "label": "Accordion ID"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Question"
          },
          {
            "type": "richtext",
            "id": "answer",
            "label": "Answer"
          }
        ]
      }
    ]
  }
{% endschema %}
