<div class="page-width">
  <h2 class="heading text-center">{{ section.settings.heading }}</h2>
  <div class="flex flex-start wrap steps">
    <div class="step step-1">
      {{ section.settings.step-1-image | img_url: '400x' | img_tag: section.settings.step-1-title }}
      <h3>{{ section.settings.step-1-title }}</h3>
      <p>{{ section.settings.step-1-description }}</p>
    </div>
    <div class="step step-2">
      {{ section.settings.step-2-image | img_url: '400x' | img_tag: section.settings.step-2-title }}
      <h3>{{ section.settings.step-2-title }}</h3>
      <p>{{ section.settings.step-2-description }}</p>
    </div>
    <div class="step step-3">
      {{ section.settings.step-3-image | img_url: '400x' | img_tag: section.settings.step-3-title }}
      <h3>{{ section.settings.step-3-title }}</h3>
      <p>{{ section.settings.step-3-description }}</p>
    </div>
  </div>
  <div class="cta"><a class="btn homepage" id="howItWorksJoin" href="{{ section.settings.url }}">{{ section.settings.cta }}</a></div>
</div>

{% schema %}
  {
    "name": "How It Works",
    "class": "how-it-works",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "cta",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Button URL"
      },
      {
        "type": "header",
        "content": "Step 1"
      },
      {
        "type": "image_picker",
        "id": "step-1-image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "step-1-title",
        "label": "Heading"
      },
      {
        "type": "textarea",
        "id": "step-1-description",
        "label": "Description"
      },
      {
        "type": "header",
        "content": "Step 2"
      },
      {
        "type": "image_picker",
        "id": "step-2-image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "step-2-title",
        "label": "Heading"
      },
      {
        "type": "textarea",
        "id": "step-2-description",
        "label": "Description"
      },
      {
        "type": "header",
        "content": "Step 3"
      },
      {
        "type": "image_picker",
        "id": "step-3-image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "step-3-title",
        "label": "Heading"
      },
      {
        "type": "textarea",
        "id": "step-3-description",
        "label": "Description"
      }
    ],
    "presets": [
      {
        "name": "How It Works",
        "category": "Old Home Sections"
      }
    ]
  }
{% endschema %}


