{% capture svg_1_1200 %}
<svg width="514" height="223" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#svg-a)" stroke="#54B9BD" stroke-linecap="round" stroke-linejoin="round"><path d="M63.333 9.099c-15.407.715-30.323 9.707-39.811 22.21-11.52 15.14-16.074 34.553-17.248 53.553-1.111 18.063.888 37.159 11.06 52.124 10.17 14.965 30.259 24.211 47.015 17.428 4.347-1.764 8.854-5.926 7.426-10.406-1.365-4.274-7.585-5.179-11.25-2.605-3.666 2.573-8.124 7.18-9.029 11.565-2.713 13.075-1.206 27.706 8.442 36.936 5.458 5.227 15.93 8.436 23.15 10.676 17.407 5.402 35.448 8.42 53.426 11.359 38.431 6.291 77.212 12.344 116.103 10.58 38.891-1.747 78.354-11.835 109.629-35.045 10.583-7.848 20.278-17.364 26.086-29.184 12.884-26.276 14.3-57.923 20.203-86.598C413.343 48.323 436.5 6.5 476 9.5" stroke-width="4" stroke-dasharray="0.5 7"/><path d="M512.032 5.1c.127.031.254.079.381.11" stroke-width="2"/></g><defs><clipPath id="svg-a"><path fill="#fff" d="M0 0h514v223H0z"/></clipPath></defs></svg>
{% endcapture %}

{% capture svg_2_1200 %}
<svg width="467" height="306" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#svg-b)"><path d="M26 251.5c71-36.5 62.5 58 261.072 52.474 22.508.611 45.125 1.222 67.479-1.429 17.187-2.041 34.453-6.137 49.065-15.044 12.379-7.536 22.385-18.275 30.312-30.116 16.66-24.917 24.23-54.467 28.155-83.839a386.382 386.382 0 0 0 3.04-67.202c-.977-22.892-4.421-46.812-18.351-65.415-14.628-19.526-38.936-30.429-63.384-35.701-30.714-6.598-64.361-5.154-91.647 9.86-5.801 3.187-11.572 7.342-13.837 13.375-2.265 6.047.683 14.179 7.213 15.534 8.206 1.683 14.567-8.832 11.542-16.354-3.01-7.521-11.418-11.647-19.484-13.88-19.67-5.467-40.689-3.68-60.933-.641C191.873 16.786 107 28.462 124.5 71" stroke="#54B9BD" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0.5 7"/></g><defs><clipPath id="svg-b"><path fill="#fff" d="M0 0h467v306H0z"/></clipPath></defs></svg>
{% endcapture %}

{% capture svg_1000 %}
<svg width="594" height="46" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 38.004c20.64 5.384 44.69 6.085 65.889 3.777 14.885-1.62 28.758-5.657 42.389-11.777C117.348 26.828 130 20.96 130 11.78c0-12.354-11.988-9.321-14.778.445-1.86 6.51.225 13.706 6.445 16.722 7.672 3.72 17.018 3.978 25.333 4.556 15.464 1.073 31.064.5 46.556.5 23.535 0 45.672-2.973 68.444-9 24.267-6.424 49.587-7.737 73.944-14 20.123-5.175 39.98-8.844 60.834-9 18.512-.14 33.871 3.86 50.778 11.055 9.167 3.901 18.047 9.397 26.444 14.722 2.376 1.507 4.842 3.372 3.778 6.445-2.334 6.74-15.439 5.728-20.667 4.778-5.523-1.005-6.55-5.997-3.111-10.223 9.829-12.076 29.109-10.652 43-9.222 17.946 1.847 32.616 11.038 49.667 16.445 10.251 3.25 20.132 5.381 30.889 4.5 4.469-.367 17.929-.5 13.444-.5" stroke="#01BCBE" stroke-width="4" stroke-linecap="round" stroke-dasharray="0.5 7"/></svg>
{% endcapture %}

{% capture svg_800 %}
<svg width="490" height="43" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 36.213c17.005 5.038 36.818 5.695 54.284 3.535 12.263-1.516 23.692-5.294 34.922-11.02 5.825-2.97 16.249-8.462 16.249-17.05 0-11.56-9.876-8.722-12.175.416-1.533 6.092.185 12.825 5.309 15.646 6.321 3.481 14.021 3.723 20.871 4.263 12.741 1.005 25.593.468 38.356.468 19.39 0 37.628-2.781 56.389-8.421 19.992-6.01 40.853-7.24 60.92-13.1 16.578-4.841 32.938-8.274 50.119-8.42 15.251-.131 27.905 3.612 41.834 10.344 7.552 3.65 14.868 8.792 21.786 13.775 1.958 1.41 3.989 3.154 3.113 6.03-1.923 6.307-12.72 5.36-17.027 4.47-4.55-.94-5.397-5.611-2.563-9.565 8.098-11.299 23.982-9.967 35.426-8.629 14.785 1.729 26.871 10.328 40.919 15.387 8.445 3.041 16.586 5.035 25.448 4.21 3.683-.342 14.771-.467 11.077-.467" stroke="#01BCBE" stroke-width="4" stroke-linecap="round" stroke-dasharray="0.5 7"/></svg>
{% endcapture %}
<div class="how-it-works-v4 page-width">
  <div class="how-it-works-v4__container light-background raddish-card how-it-works-v4__container--desktop">
    <h1 class="h1">{{ section.settings.title }}</h1>
    <div class="how-it-works-v4__blocks-container">
      {% for block in section.blocks %}
        <div class="how-it-works-v4__block">
          <div class="block-title"> <h3 class="h3"> {{ block.settings.title }} </h3> </div>
          <div class="block-description"> {{ block.settings.description }} </div>
          <div class="block-img">
            {% render 'image', _image: block.settings.image, alt: block.settings.image.alt %}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="svgs--1200"> 
      <div class="how-it-works-v4__svg-1">
        {{ svg_1_1200 }}
      </div>
  
      <div class="how-it-works-v4__svg-2">
        {{ svg_2_1200 }}
      </div>
    </div>
    <div class="svgs--1000"> 
      {{ svg_1000 }}
    </div>

    <div class="svgs--800"> 
      {{ svg_800 }}
    </div>
  </div>
  <div class="how-it-works-v4__container raddish-card how-it-works-v4__container--mobile">
    <h1 class="h1">{{ section.settings.title }}</h1>
    <div class="how-it-works-v4__blocks-container"> 
      {% for block in section.blocks %}
        <div class="how-it-works-v4__block">
          <div class="block-header"> 
            <div class="block-img">
              {% render 'image', _image: block.settings.image, alt: block.settings.image.alt %}
            </div>
            <div class="block-title"> 
              <h3 class="h3"> {{ block.settings.title | remove: "<br>" }} </h3> 
              <div class="block-description"> {{ block.settings.description }} </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<style>
  .how-it-works-v4__container {
    margin: 38px 0;
  }
  .raddish-card.light-background {
    background-color: #e4f4f6;
  }
  .how-it-works-v4__block .block-title {
    padding: 18px 3px 18px 78px;
    background: #01BCBE;
    max-width: 260px;
    border-radius: 16px;
    top: 20px;
    position: relative;
    /* min-width: calc(100% - 50px); */
    width: 100%;
}

.how-it-works-v4__block .block-title h3 {
    color: white;
    font-size: 22px;
    margin-bottom: 0;
    line-height: 1.25;
}

.how-it-works-v4__blocks-container {
    display: flex;
    padding: 12px 77px 48px;
    justify-content: space-between;
}

.how-it-works-v4__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 28%;
}

.how-it-works-v4__block .block-description {
    padding: 38px 25px 20px;
    background: white;
    border-radius: 16px;
    font-weight: 300;
    font-size: 16px;
    max-width: 320px;
}

.how-it-works-v4.page-width {
    max-width: 1300px;
}
.how-it-works-v4__container light-background raddish-card h1 {
  font-size: 32px;
}

.how-it-works-v4__container h1 {
  font-size: 32px;
  text-align: center;
  margin-top: 4rem;
  color: #4D4D4D;
}
.how-it-works-v4__block .block-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 90px;
  position: absolute;
  left: -30px;
  top: 0;
  box-shadow: 0px 4px 4px 0px #00000040;
  min-width: 120px;
  min-height: 120px;
  z-index: 10;
}

.how-it-works-v4__container--mobile .how-it-works-v4__blocks-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap:14px;
}

.how-it-works-v4__container--mobile .how-it-works-v4__block {
  width: 100%;
  max-width: none;
}

.how-it-works-v4__container--mobile div.block-title {
  background: transparent;
  padding: 0;
}

.how-it-works-v4__container--mobile .block-description {
  max-width: none;
  background: transparent;
}

.how-it-works-v4__container--mobile h3 {
  color: #01BCBE !important;
}

.how-it-works-v4__container--mobile div.block-description {
  text-align: left;
  padding-left: 0 !important;
}

.how-it-works-v4__block .block-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 250px;
  gap: 10px;
}

.how-it-works-v4__container--mobile .block-header {
  width: 100%;
  max-width: none;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
}

.how-it-works-v4__container--mobile .block-img {
  position: relative;
  background: none;
  box-shadow: none;
  height: auto;
  left: auto;
  top: auto;
  max-width: 70px;
}
.how-it-works-v4__container--mobile .how-it-works-v4__block .block-title {
  top: 0;
}

.how-it-works-v4__container--mobile .how-it-works-v4__block .block-description {
  padding: 10px 39px;
}
.how-it-works-v4__container--mobile .how-it-works-v4__block .block-title h3 {
  font-size: 18px;
}
.how-it-works-v4__container--mobile h1 {
  font-size: 24px;
}
.how-it-works-v4__container--mobile {
  display: none;
}
.how-it-works-v4__svg-1 {
  position: absolute;
  bottom: 50px;
}

.svgs--1000 {
  display: none;
  position: absolute;
  top: 120px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 120px;
}

.svgs--800 {
  display: none;
  position: absolute;
  top: 130px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 120px;
}

@media screen and (max-width: 1200px) {
  .how-it-works-v4__svg-1 svg {
      transform: scaleX(0.85)
  }   
 }
 
 @media screen and (max-width: 1100px) {
    .how-it-works-v4__svg-1{
      left: -10px;
      bottom: 65px;
    }
    .how-it-works-v4__svg-1 svg {
      transform: scaleX(0.8)
    }
 }
 @media screen and (max-width: 1000px) and (min-width: 851px) {
  .how-it-works-v4__block .block-img {
    left: 50%;
    transform: translateX(-50%);
    top: -60px;
  }
  .how-it-works-v4__block .block-title {
    text-align: center;
  }
  .how-it-works-v4__blocks-container {
    margin-top: 75px;
  }
}
 @media screen and (max-width: 1000px) {
  .how-it-works-v4__block .block-title {
    padding: 28px 18px 22px 18px;
  }
  .svgs--1200 {
    display: none;
  }
  .svgs--1000 {
    display: flex;
  }
  .how-it-works-v4__svg-1{
      left: -20px;
      bottom: 90px;
  }
  .how-it-works-v4__svg-1 svg {
      transform: scaleX(0.75)
  }
 }
 @media screen and (max-width: 950px) {
  .svgs--800 {
    display: flex;
  }
  .svgs--1000 {
    display: none;
  }
 }
 @media screen and (max-width: 900px) {
  .how-it-works-v4__svg-1{
      left: -40px;
      bottom: 90px;
  }
  .how-it-works-v4__svg-1 svg {
      transform: scaleX(0.6)
  }
 }
 
 
 .how-it-works-v4__block:nth-child(2) .block-description {
     z-index: 5;
 }
 
 .how-it-works-v4__block .block-title {
     z-index: 6;
 }

 .online-cooking-club {
  margin-top: 5rem;
  margin-bottom: 5rem;
}


 .how-it-works-v4__svg-2 {
    position: absolute;
    right: 45px;
    bottom: 68px;
  }

@media screen and (max-width: 1200px) {
  .how-it-works-v4__svg-2 {
    right: 45px;
    bottom: 70px;
  }
  .how-it-works-v4__svg-2 svg {
    transform: scaleX(0.8)
  }
}

@media screen and (max-width: 1100px) {
  .how-it-works-v4__svg-2 {
    right: 45px;
    bottom: 95px;
  }
  .how-it-works-v4__svg-2 svg {
    transform: scaleX(1)
  }
}

@media screen and (max-width: 1050px) {
  .how-it-works-v4__svg-2 {
    right: 30px;
    bottom: 95px;
  }
  .how-it-works-v4__svg-2 svg {
    transform: scaleX(0.9)
  }
}

@media screen and (max-width: 1000px) {
  .how-it-works-v4__svg-2 {
    right: 15px;
    bottom: 110px;
  }
  .how-it-works-v4__svg-2 svg {
    transform: scaleX(0.7) scaleY(1.3);
  }
}

@media screen and (max-width: 900px) {
  .how-it-works-v4__svg-2 {
    right: 10px;
    bottom: 130px;
  }
  .how-it-works-v4__svg-2 svg {
    transform: scaleX(0.7) scaleY(1.4);
  }
}







@media screen and (max-width: 1200px) {
  .how-it-works-v4__block .block-img {
    min-width: 100px;
    min-height: 100px;
  }
} 

@media screen and (max-width: 900px) {
  .how-it-works-v4__block .block-title {
    padding: 28px 18px 22px 18px;
    width: 100%;
  }
  .how-it-works-v4__block .block-img {
    min-width: 80px;
    min-height: 80px;
    top: -51px;
  }
  .how-it-works-v4__block .block-img img {
    max-width: 70px;
    max-height: 70px;
    padding: 5px;
  }
} 

@media screen and (max-width: 850px) {
  .shopify-section.light-background-mobile .how-it-works-v4 {
    padding: 15px 0;
  }
  .how-it-works-v4__container--mobile {
    display: block;
  }
  .how-it-works-v4__container:not(.how-it-works-v4__container--mobile) {
    display: none;
  }
  .light-background-mobile {
    background-color: #e4f4f6;
  }
  .how-it-works-v4__container {
    margin: 38px 25px;
  }
}
.how-it-works-v4__container--mobile .how-it-works-v4__block .block-img {
  top: -10px;
}
</style>
<script>
</script>

{% schema %}
  {
    "name": "How it Works V4",
    "class": "light-background-mobile",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "How it works"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "How it Works V4",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}