{%- for block in section.blocks -%}
	{%- assign _block = block.settings -%}
	{%- case block.type -%}
		{% when "intro" %}
			{%- assign block_glimpse_text = _block.glimpse_text -%}
			{%- assign block_glimpse_image = _block.glimpse_image -%}
			{%- assign block_subtitle = _block.subtitle -%}
			{%- assign block_title = _block.title -%}
			{%- assign block_text = _block.text | newline_to_br -%}

      {% if block_glimpse_text != blank %}
        <div class="glimpse">
          {% if block_glimpse_image != blank %}
            <div class="glimpse__image">
              <img src="{{- block_glimpse_image | img_url: '156x156' -}}" alt="{{- block_glimpse_image.alt -}}">
            </div><!-- /.glimpse__image -->
          {% endif %}

          <div class="glimpse__text">
            {{ block_glimpse_text }}
          </div><!-- /.glimpse__text -->
        </div><!-- /.glimpse -->
      {% endif %}

      {% if block_title != blank or block_text != blank or block_btn_text != blank %}
        <div class="section-head section-head--sm">
          {% if block_subtitle != blank %}
            <h3 class="section-head__subtitle">
              {{ block_subtitle }}
            </h3><!-- /.section-head__subtitle -->
          {% endif %}

          {% if block_title != blank %}
            <h1 class="section-head__title section-head__title--lg">
              {{ block_title }}
            </h1><!-- /.section-head__title -->
          {% endif %}

          {% if block_text != blank %}
            <div class="section-head__description">
              {{ block_text }}
            </div><!-- /.section-head__description -->
          {% endif %}        
        </div><!-- /.section-head -->
      {% endif %}

		{% when "50-50" %}
			{%- assign block_image = _block.image -%}
			{%- assign block_mobile = _block.mobile | default: block_image -%}
			{%- assign block_title = _block.title -%}
			{%- assign block_text = _block.text | replace: '<p>', '' | replace: '</p>', '<br />' -%}
			{%- assign block_btn_text = _block.btn_text -%}
			{%- assign block_btn_url = _block.btn_url -%}

      <div class="section-50-50">
        {% if block_image != blank %}
          <div class="section__image" style="background-image: url({{ block_image | img_url: '2160x' }})">
            <img class="visible-xs-block" src="{{ block_mobile | img_url: '1536x' }}" alt="{{- block_mobile.alt -}}">
          </div><!-- /.section__image -->
        {% endif %}

        {% if block_title != blank or block_text != blank or block_btn_text != blank %}
          <div class="section__content">
            <div class="section__content-inner">
              {% if block_title != blank %}
                <h2 class="section__title">
                  {{- block_title -}}
                </h2><!-- /.section__title -->
              {% endif %}
  
              {% if block_text != blank %}
                <div class="section__description">
                  {% assign block_text_arr = block_text | split: '<br />' %}
  
                  <ul>
                    {% for item in block_text_arr %}
                      <li>
                        <p>
                          {{ item }}
                        </p>
                      </li>
                    {% endfor %}
                  </ul>
                </div><!-- /.section__description -->
              {% endif %}
  
              {% if block_btn_text != blank and block_btn_url != blank %}
                <a href="{{- block_btn_url -}}" class="btn section__btn">
                  {{- block_btn_text -}}
                </a>
              {% endif %}
            </div><!-- /.section__content-inner -->
          </div><!-- /.section__content -->
        {% endif %}
      </div><!-- /.section-50-50 -->
		{% when "cook" %}
			{%- assign block_title = _block.title -%}
			{%- assign block_text = _block.text -%}
			{%- assign block_url_1 = _block.url_1 -%}
			{%- assign block_image_1 = _block.image_1 -%}
			{%- assign block_image_mobile_1 = _block.image_mobile_1 | default: block_image_1 -%}
			{%- assign block_title_1 = _block.title_1 -%}
			{%- assign block_text_1 = _block.text_1 -%}
			{%- assign block_url_2 = _block.url_2 -%}
			{%- assign block_image_2 = _block.image_2 -%}
			{%- assign block_image_mobile_2 = _block.image_mobile_2 | default: block_image_1 -%}
			{%- assign block_title_2 = _block.title_2 -%}
			{%- assign block_text_2 = _block.text_2 -%}
			{%- assign block_url_3 = _block.url_3 -%}
			{%- assign block_image_3 = _block.image_3 -%}
			{%- assign block_image_mobile_3 = _block.image_mobile_3 | default: block_image_1 -%}
			{%- assign block_title_3 = _block.title_3 -%}
			{%- assign block_text_3 = _block.text_3 -%}

      <div class="section-cook">
        <div class="page-width">
          <div class="section__inner">
            {% if block_title != blank or block_text != blank %}
              <div class="section-head">
                {% if block_title != blank %}
                  <h2 class="section-head__title">
                    {{ block_title }}
                  </h2><!-- /.section-head__title -->
                {% endif %}
    
                {% if block_text != blank %}
                  <div class="section-head__description">
                    {{ block_text }}
                  </div><!-- /.section-head__description -->
                {% endif %}        
              </div><!-- /.section-head -->
            {% endif %}
    
            <div class="section__body">
              {% for i in (1..3) %}
                {% assign url_handle = 'url_' | append: i %}
                {% assign title_handle = 'title_' | append: i %}
                {% assign text_handle = 'text_' | append: i %}
                {% assign image_handle = 'image_' | append: i %}
                {% assign image_mobile_handle = 'image_mobile_' | append: i %}
  
                {% if _block[image_handle] != blank %}
                  {% assign _image = _block[image_handle] %}
                {% else %}
                  {% assign _image = '' %}
                {% endif %}

                {% if _block[image_mobile_handle] != blank %}
                  {% assign mobile_image = _block[image_mobile_handle] %}
                {% else %}
                  {% assign mobile_image = _image %}
                {% endif %}
  
                {% if _block[title_handle] != blank %}
                  {% assign _title = _block[title_handle] %}
                {% else %}
                  {% assign _title = '' %}
                {% endif %}

                {% if _block[url_handle] != blank %}
                  {% assign _url = _block[url_handle] %}
                {% else %}
                  {% assign _url = '' %}
                {% endif %}
  
                <div class="section__block">
                  {% if _image != blank %}
                    <div class="section__block-image">
                      <img class="hidden-xs" src="{{- _image | img_url: '688x' -}}" alt="{{- _image.alt -}}">

                      <img class="visible-xs-block" src="{{- mobile_image | img_url: '688x' -}}" alt="{{- mobile_image.alt -}}">
                    </div><!-- /.section__image -->
                  {% endif %}
  
                  {% if _title != blank %}
                    <h3 class="section__block-title">
                      {% if _url != blank %}  
                        <a href="{{ _article.url }}">{{- _title -}}</a>
                      {% else %}
                        {{- _title -}}
                      {% endif %}
                    </h3><!-- /.section__block-title -->
                  {% endif %}
  
                  {% if _block[text_handle] != blank %}
                    <div class="section__block-text">
                      {{ _block[text_handle] }}
                    </div><!-- /.section__block-text -->
                  {% endif %}
                </div><!-- /.section__block -->
              {% endfor %}
            </div><!-- /.section__body -->
          </div><!-- /.section__inner -->
        </div><!-- /.page-width -->
      </div><!-- /.section-cook -->

		{% when "collect" %}
			{%- assign block_title = _block.title -%}
			{%- assign block_text = _block.text -%}
			{%- assign block_image_1 = _block.image_1 -%}
			{%- assign block_title_1 = _block.title_1 -%}
			{%- assign block_image_2 = _block.image_2 -%}
			{%- assign block_title_2 = _block.title_2 -%}
			{%- assign block_image_3 = _block.image_3 -%}
			{%- assign block_title_3 = _block.title_3 -%}

      <div class="section-collect">
        <div class="section__inner">
          {% if block_title != blank or block_text != blank %}
            <div class="section-head">
              {% if block_title != blank %}
                <h2 class="section-head__title">
                  {{ block_title }}
                </h2><!-- /.section-head__title -->
              {% endif %}
  
              {% if block_text != blank %}
                <div class="section-head__description">
                  {{ block_text }}
                </div><!-- /.section-head__description -->
              {% endif %}        
            </div><!-- /.section-head -->
          {% endif %}
  
          <div class="section__body section__cols">
            {% for i in (1..3) %}
              {% assign title_handle = 'title_' | append: i %}
              {% assign image_handle = 'image_' | append: i %}
  
              {% if _block[title_handle] != blank or _block[image_handle] != blank %}
                {% assign _title = _block[title_handle] %}
                {% assign _image = _block[image_handle] %}
  
                <div class="section__col">
                  <div class="section__block">
                    <h3 class="section__block-title">
                      {{- _title -}}
                    </h3><!-- /.section__block-title -->
    
                    {% if _image != blank %}
                      <div class="section__block-image" style="background-image: url({{ _image | img_url: '500x' }})">
                      </div><!-- /.section__image -->
                    {% endif %}
                  </div><!-- /.section__block -->
                </div><!-- /.section__col -->
              {% endif %}
            {% endfor %}
          </div><!-- /.section__body -->
        </div><!-- /.section__inner -->
      </div><!-- /.section-collect -->

		{% when "bonus-bites" %}
			{%- assign block_title = _block.title -%}
			{%- assign block_article_1 = _block.article_1 -%}
			{%- assign block_image_1 = _block.image_1 -%}
			{%- assign block_title_1 = _block.title_1 -%}
			{%- assign block_btn_text_1 = _block.btn_text_1 -%}
			{%- assign block_btn_url_1 = _block.btn_url_1 -%}
			{%- assign block_article_2 = _block.article_2 -%}
			{%- assign block_image_2 = _block.image_2 -%}
			{%- assign block_title_2 = _block.title_2 -%}
			{%- assign block_btn_text_2 = _block.btn_text_2 -%}
			{%- assign block_btn_url_2 = _block.btn_url_2 -%}
			{%- assign block_article_3 = _block.article_3 -%}
			{%- assign block_image_3 = _block.image_3 -%}
			{%- assign block_title_3 = _block.title_3 -%}
			{%- assign block_btn_text_3 = _block.btn_text_3 -%}
			{%- assign block_btn_url_3 = _block.btn_url_3 -%}
			{%- assign block_article_4 = _block.article_4 -%}
			{%- assign block_image_4 = _block.image_4 -%}
			{%- assign block_title_4 = _block.title_4 -%}
			{%- assign block_btn_text_4 = _block.btn_text_4 -%}
			{%- assign block_btn_url_4 = _block.btn_url_4 -%}

      <div class="section-bonus-bites">
        <div class="page-width page-width--larger">
          <div class="section__inner">
            {% if block_title != blank or block_text != blank %}
              <div class="section-head">
                {% if block_title != blank %}
                  <h2 class="section-head__title">
                    {{ block_title }}
                  </h2><!-- /.section-head__title -->
                {% endif %}
              </div><!-- /.section-head -->
            {% endif %}
  
            <div class="section__body">
              <div class="section__cols">
                {% for i in (1..4) %}
                  {% assign article_handle = 'article_' | append: i %}
                  {% assign title_handle = 'title_' | append: i %}
                  {% assign image_handle = 'image_' | append: i %}
                  {% assign btn_text_handle = 'btn_text_' | append: i %}
                  {% assign btn_url_handle = 'btn_url_' | append: i %}
      
                  {% if _block[article_handle] != blank %}
                    {% assign _article = articles[_block[article_handle]] %}
      
                    {% if _block[image_handle] != blank %}
                      {% assign _image = _block[image_handle] %}
                    {% elsif _article.image != blank %}
                      {% assign _image = _article.image %}
                    {% else %}
                      {% assign _image = '' %}
                    {% endif %}
      
                    {% if _block[title_handle] != blank %}
                      {% assign _title = _block[title_handle] %}
                    {% else %}
                      {% assign _title = _article.title %}
                    {% endif %}
      
                    <div class="section__col">
                      <div class="section__block">
                        {% if _image != blank %}
                          <div class="section__block-image">
                            <img src="{{- _image | img_url: '688x' -}}" alt="{{- _image.alt -}}">
                          </div><!-- /.section__image -->
                        {% endif %}
        
                        <h3 class="section__block-title">
                          {{- _title -}}
                        </h3><!-- /.section__block-title -->
        
                        {% if _block[btn_text_handle] != blank and _block[btn_url_handle] != blank %}
                          <a href="{{- _block[btn_url_handle] -}}" class="btn section__btn">
                            {{- _block[btn_text_handle] -}}
                          </a>
                        {% endif %}
                      </div><!-- /.section__block -->
                    </div><!-- /.section__col -->
                  {% endif %}
                {% endfor %}
              </div><!-- /.section__cols -->
            </div><!-- /.section__body -->
          </div><!-- /.section__inner -->
        </div><!-- /.page-width -->
      </div><!-- /.section-bonus-bites -->

		{% when "outro" %}
			{%- assign block_title = _block.title -%}
			{%- assign block_text = _block.text -%}
			{%- assign block_btn_text = _block.btn_text -%}
			{%- assign block_btn_url = _block.btn_url -%}
			{%- assign block_quote_content = _block.quote_content -%}
			{%- assign block_quote_author = _block.quote_author -%}
			{%- assign block_quote_color = _block.quote_color -%}
			{%- assign block_pattern_image = _block.pattern_image -%}
			{%- assign block_pattern_image_mobile = _block.pattern_image_mobile -%}
			{%- assign block_pattern_background = _block.pattern_background -%}
			{%- assign block_image_1 = _block.image_1 -%}
			{%- assign block_image_2 = _block.image_2 -%}
			{%- assign block_image_3 = _block.image_3 -%}
			{%- assign block_image_4 = _block.image_4 -%}

      {% if block_pattern_image_mobile != blank %}
        {% assign mobile_pattern = block_pattern_image_mobile | img_url: '1024x' %}
      {% else %}
        {% assign mobile_pattern = block_pattern_image | img_url: '1024x' %}
      {% endif %}

      {% if block_title != blank or block_text != blank or block_btn_text != blank %}
        <div class="section-head section-head--secondary">
          {% if block_title != blank %}
            <h2 class="section-head__title">
              {{ block_title }}
            </h2><!-- /.section-head__title -->
          {% endif %}

          {% if block_text != blank %}
            <div class="section-head__description section-head__description--sm">
              {{ block_text }}
            </div><!-- /.section-head__description -->
          {% endif %}

          {% if block_btn_text != blank and block_btn_url != blank %}
            <a href="{{- block_btn_url -}}" class="btn section-head__btn">
              {{ block_btn_text }}
            </a><!-- /.section-head__btn -->
          {% endif %}            
        </div><!-- /.section-head -->
      {% endif %}

      <section class="section-referrals-outro section-referrals-outro--monthly-kit">
        <div class="page-width">
          <div class="section__inner" style="background-color: {{ block_pattern_background }}">
            <div class="section__body">
              <div class="section__images section__images--left">
                {% for i in (1..2) %}
                  {% assign image_handle = 'image_' | append: i %}

                  {% if _block[image_handle] != blank %}
                    <figure>
                      {% include 'image', _image: _block[image_handle], size: '300' %}
                    </figure>
                  {% endif %}
                {% endfor %}
              </div><!-- /.section__images section__images--left -->

              {% if block_quote_author != blank and block_quote_content != blank %}
                <div class="section__content">
                  <blockquote style="color: {{ block_quote_color }};">
                    {{ block_quote_content | escape | newline_to_br }}
                  </blockquote>

                  <span>{{ block_quote_author | escape }}</span>
                </div><!-- /.section__content -->
              {% endif %}

              <div class="section__images section__images--right">
                {% for i in (3..4) %}
                  {% assign image_handle = 'image_' | append: i %}

                  {% if _block[image_handle] != blank %}
                    <figure>
                      {% include 'image', _image: _block[image_handle], size: '300' %}
                    </figure>
                  {% endif %}
                {% endfor %}
              </div><!-- /.section__images section__images--right -->
            </div><!-- /.section__body -->
          </div><!-- /.section__inner -->
        </div><!-- /.page-width -->
      </section><!-- /.section-referrals-outro -->

      <style>
        .section-referrals-outro .section__inner {
          background-image: url('{{ block_pattern_image | img_url: "2048x" }}'); 
        }

        @media(max-width: 767px) {
          .section-referrals-outro .section__inner {
            background-image: url('{{ mobile_pattern }}'); 
          }
        }
      </style>
	{%- endcase -%}
{%- endfor -%}

{% schema %}
{
  "name": "Monthly Kit",
  "blocks": [
    {
      "type": "intro",
      "name": "Intro",
      "settings": [
        {
          "type": "header",
          "content": "Upper Content"
        },
        {
          "type": "text",
          "id": "glimpse_text",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "glimpse_image",
          "label": "Image"
        },
        {
          "type": "header",
          "content": "Lower Content"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "50-50",
      "name": "Image w/ text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "mobile",
          "label": "Image - Mobile"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "info": "Newline converts to bullet point"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button URL"
        }
      ]
    },
    {
      "type": "cook",
      "name": "Cook",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "header",
          "content": "Block - 1"
        },
        {
          "type": "url",
          "id": "url_1",
          "label": "URL - 1"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image - 1"
        },
        {
          "type": "image_picker",
          "id": "image_mobile_1",
          "label": "Image Mobile - 1"
        },
        {
          "type": "text",
          "id": "title_1",
          "label": "Title - 1"
        },
        {
          "type": "richtext",
          "id": "text_1",
          "label": "Text - 1"
        },
        {
          "type": "header",
          "content": "Block - 2"
        },
        {
          "type": "url",
          "id": "url_2",
          "label": "URL - 2"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image - 2"
        },
        {
          "type": "image_picker",
          "id": "image_mobile_2",
          "label": "Image Mobile - 2"
        },
        {
          "type": "text",
          "id": "title_2",
          "label": "Title - 2"
        },
        {
          "type": "richtext",
          "id": "text_2",
          "label": "Text - 2"
        },
        {
          "type": "header",
          "content": "Block - 3"
        },
        {
          "type": "url",
          "id": "url_3",
          "label": "URL - 3"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image - 3"
        },
        {
          "type": "image_picker",
          "id": "image_mobile_3",
          "label": "Image Mobile - 3"
        },
        {
          "type": "text",
          "id": "title_3",
          "label": "Title - 3"
        },
        {
          "type": "richtext",
          "id": "text_3",
          "label": "Text - 3"
        }
      ]
    },
    {
      "type": "collect",
      "name": "Collect",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "header",
          "content": "Block - 1"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image - 1"
        },
        {
          "type": "text",
          "id": "title_1",
          "label": "Title - 1"
        },
        {
          "type": "header",
          "content": "Block - 2"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image - 2"
        },
        {
          "type": "text",
          "id": "title_2",
          "label": "Title - 2"
        },
        {
          "type": "header",
          "content": "Block - 3"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image - 3"
        },
        {
          "type": "text",
          "id": "title_3",
          "label": "Title - 3"
        }
      ]
    },
    {
      "type": "bonus-bites",
      "name": "Bonus Bites",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "header",
          "content": "Block - 1"
        },
        {
          "type": "article",
          "id": "article_1",
          "label": "Article - 1"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image - 1"
        },
        {
          "type": "text",
          "id": "title_1",
          "label": "Title - 1"
        },
        {
          "type": "text",
          "id": "btn_text_1",
          "label": "Button Text - 1"
        },
        {
          "type": "url",
          "id": "btn_url_1",
          "label": "Button URL - 1"
        },
        {
          "type": "header",
          "content": "Block - 2"
        },
        {
          "type": "article",
          "id": "article_2",
          "label": "Article - 2"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image - 2"
        },
        {
          "type": "text",
          "id": "title_2",
          "label": "Title - 2"
        },
        {
          "type": "text",
          "id": "btn_text_2",
          "label": "Button Text - 2"
        },
        {
          "type": "url",
          "id": "btn_url_2",
          "label": "Button URL - 2"
        },
        {
          "type": "header",
          "content": "Block - 3"
        },
        {
          "type": "article",
          "id": "article_3",
          "label": "Article - 3"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image - 3"
        },
        {
          "type": "text",
          "id": "title_3",
          "label": "Title - 3"
        },
        {
          "type": "text",
          "id": "btn_text_3",
          "label": "Button Text - 3"
        },
        {
          "type": "url",
          "id": "btn_url_3",
          "label": "Button URL - 3"
        },
        {
          "type": "header",
          "content": "Block - 4"
        },
        {
          "type": "article",
          "id": "article_4",
          "label": "Article - 4"
        },
        {
          "type": "image_picker",
          "id": "image_4",
          "label": "Image - 4"
        },
        {
          "type": "text",
          "id": "title_4",
          "label": "Title - 4"
        },
        {
          "type": "text",
          "id": "btn_text_4",
          "label": "Button Text - 4"
        },
        {
          "type": "url",
          "id": "btn_url_4",
          "label": "Button URL - 4"
        }
      ]
    },
    {
      "type": "outro",
      "name": "Outro",
      "settings": [
        {
          "type": "header",
          "content": "Header"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button - Text"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button - URL"
        },
        {
          "type": "header",
          "content": "Quote Block"
        },
        {
          "type": "textarea",
          "id": "quote_content",
          "label": "Quote"
        },
        {
          "type": "text",
          "id": "quote_author",
          "label": "Author"
        },
        {
          "type": "color",
          "id": "quote_color",
          "label": "Quote Color",
          "default": "#01bcbe"
        },
        {
          "type": "image_picker",
          "id": "pattern_image",
          "label": "Pattern Image"
        },
        {
          "type": "image_picker",
          "id": "pattern_image_mobile",
          "label": "Pattern Image - Mobile"
        },
        {
          "type": "color",
          "id": "pattern_background",
          "label": "Pattern Background",
          "default": "#01bcba"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image 1"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image 2"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image 3"
        },
        {
          "type": "image_picker",
          "id": "image_4",
          "label": "Image 4"
        }
      ]
    }
  ]
}
{% endschema %}