<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --section-blocks-count: {{ section.blocks.size }};
  }

  .section-number-counter .flickity-button {
    display: none !important;
  }

  #shopify-section-{{ section.id }} .multicolumn {
    gap: {% if section.settings.gap == 'small' %}var(--sp-4){% elsif section.settings.gap == 'medium' %}var(--sp-6){% else %}100px{% endif %};
  }

  @media screen and (max-width: 768px) {
    #shopify-section-{{ section.id }} .multicolumn {
      gap: 40px;
    }
  }
  
  #shopify-section-{{ section.id }} .counter-heading {
    {%- if section.settings.color_highlight != blank and section.settings.color_highlight != 'rgba(0,0,0,0)' -%}
      --color-highlight: {{ section.settings.color_highlight.rgb }};
      color: rgb(var(--color-highlight));
    {%- endif -%}
    {%- if section.settings.gradient_highlight != blank and section.settings.gradient_highlight != 'rgba(0,0,0,0)' -%}
      --gradient-highlight: {{ section.settings.gradient_highlight }};
      background-image: var(--gradient-highlight);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    {%- endif -%}
  }
</style>

<div class="section section-number-counter section--padding{% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}" style="background-color: {{ section.settings.color_background }}; color: {{ section.settings.color_text }}; width: 100%; max-width: 100%;
    background-image: url({{ section.settings.background_image | image_url: width: 800 }});
  background-repeat: repeat-x;
  background-position: center;
  background-size: auto;">
  <div class="page-width{% if section.settings.full_width %} page-width--full{% endif %} relative">
    <div class="grid slider{% if section.settings.swipe_on_mobile %} slider--tablet{% endif %}" selector=".card-grid>.card"{% if section.settings.swipe_on_mobile %} tabindex="0"{% endif %}>
      <div class="multicolumn with-{{ section.blocks.size }} card-grid card-grid--{{ section.settings.columns }} mobile:card-grid--{{ section.settings.columns_mobile }} grid relative z-1">
        {%- for block in section.blocks -%}
          <div class="counter-card card flex gap-2 w-full flex-col items-start xl:flex-row md:text-{{ section.settings.text_alignment }} text-{{ section.settings.text_alignment_mobile }}" {{ block.shopify_attributes }}>
            <div class="grid w-full">
              {%- if block.settings.number != blank -%}
                <p class="counter-heading heading title-lg font-bold leading-none tracking-tight whitespace-nowrap" style="margin-bottom: 0;">
                  <number-counter data-duration="{{ block.settings.duration }}">{{ block.settings.number | escape }}</number-counter>
                  {{- block.settings.unit | escape -}}
                </p>
              {%- endif -%}
              {%- if block.settings.title != blank -%}
                <p class="heading text-md leading-none tracking-tight" style="margin-bottom: 0;">{{ block.settings.title }}</p>
              {%- endif -%}
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Number Counter",
  "settings": [
    {
      "type": "select",
      "id": "gap",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "large",
      "label": "Gap"
    },
    {
      "type": "range",
      "id": "columns",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "Columns"
    },
    {
      "type": "text_alignment",
      "id": "text_alignment",
      "default": "center",
      "label": "Text Alignment"
    },
    {
      "type": "header",
      "content": "Header Mobile"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "1",
      "label": "Columns Mobile"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "label": "Swipe On Mobile",
      "default": true
    },
    {
      "type": "text_alignment",
      "id": "text_alignment_mobile",
      "default": "center",
      "label": "Text Alignment Mobile"
    },
    {
      "type": "header",
      "content": "Header Colors",
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Text Color"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "Background Color"
    },
    {
       "type": "image_picker",
       "id": "background_image",
       "label": "Background Image"
    },
    {
      "type": "color_background",
      "id": "gradient_background",
      "label": "Gradient Background"
    },
    {
      "type": "color",
      "id": "color_highlight",
      "label": "Color Highlight"
    },
    {
      "type": "color_background",
      "id": "gradient_highlight",
      "label": "Gradient Highlight"
    },
    {
      "type": "header",
      "content": "Header Section"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 72
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "Divider",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "rounded",
      "default": false,
      "label": "Rounded"
    }
  ],
  "blocks": [
    {
      "type": "counter",
      "name": "Counter",
      "settings": [
        {
          "type": "textarea",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "number",
          "label": "Number",
          "default": "100"
        },
        {
          "type": "text",
          "id": "unit",
          "label": "Unit"
        },
        {
          "type": "range",
          "id": "duration",
          "label": "Duration",
          "min": 0.5,
          "max": 5,
          "step": 0.1,
          "unit": "s",
          "default": 2
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Number Counter",
      "category": "t:categories.storytelling",
      "blocks": [
        {
          "type": "counter",
          "settings": {
            "title": "Example title",
            "number": "150",
            "unit": "K+",
            "duration": 2
          }
        },
        {
          "type": "counter",
          "settings": {
            "title": "Example title",
            "number": "16",
            "unit": "",
            "duration": 2
          }
        },
        {
          "type": "counter",
          "settings": {
            "title": "Example title",
            "number": "95",
            "unit": "%",
            "duration": 2
          }
        },
        {
          "type": "counter",
          "settings": {
            "title": "Example title",
            "number": "32",
            "unit": "",
            "duration": 2
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "footer",
      "header",
      "custom.overlay"
    ]
  }
}
{% endschema %}
