
<div class="online-cooking-club raddish-card light-background">
  <div class="page-width">
    <div class="online-cooking-club--col-1">
      {% render 'image', _image: section.settings.logo, alt: section.settings.logo.alt %}
      <h1 class="h1"> {{ section.settings.title }} </h1>
      <p> {{ section.settings.description }} </p>
    </div>
    <div class="online-cooking-club--col-2">
      {% render 'image', _image: section.settings.middle_image, alt: section.settings.middle_image.alt %}
    </div>
    <div class="online-cooking-club--col-3">
      <h2 class="h2"> {{ section.settings.text_right_column }} </h2>
      <a href="{{ section.settings.button_link }}" class="btn"> {{ section.settings.button_label }} </a>
    </div>
  </div>
</div>

<div class="online-cooking-club online-cooking-club--mobile raddish-card">
  <div class="page-width">
    <div class="online-cooking-club--col-1">
      {% render 'image', _image: section.settings.logo, alt: section.settings.logo.alt %}
      <h1 class="h1"> {{ section.settings.title }} </h1>
    </div>
    <div class="online-cooking-club--col-2">
      {% render 'image', _image: section.settings.middle_image, alt: section.settings.middle_image.alt %}
      <p> {{ section.settings.description }} </p>
    </div>
    <div class="online-cooking-club--col-3">
      <a href="{{ section.settings.button_link }}" class="btn"> {{ section.settings.button_label }} </a>
      <h2 class="h2"> {{ section.settings.text_right_column }} </h2>
    </div>
  </div>
</div>

<style>
.online-cooking-club .page-width {
    display: flex;
}

.online-cooking-club--col-1, .online-cooking-club--col-3 {
    width: 40%;
}

.online-cooking-club--col-2 {
    width: 20%;
}

.online-cooking-club--col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.online-cooking-club--col-1 h1 {
    font-size: 32px;
    color: #4D4D4D;
    margin-bottom: 0;
}

.online-cooking-club--col-3 h2 {
    font-size: 22px;
    text-align: center;
    justify-content: center;
    text-transform: none;
}

.online-cooking-club--col-3 .btn {
    width: 100%;
    max-width: 310px;
    margin: 0 auto;
    padding: 16px;
}

.online-cooking-club--col-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.online-cooking-club--col-1 p {
  margin-top: 0;
}
.online-cooking-club--mobile .page-width {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.online-cooking-club--mobile .online-cooking-club--col-1,
.online-cooking-club--mobile .online-cooking-club--col-2,
.online-cooking-club--mobile .online-cooking-club--col-3{
  width: 100%;
}

.online-cooking-club--mobile .online-cooking-club--col-3 {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  gap: 14px;
}

@media screen and (min-width: 416px) and (max-width: 750px) {
  .online-cooking-club--mobile .online-cooking-club--col-3 {
    padding-top: 20px;
  }
}

.online-cooking-club--mobile .online-cooking-club--col-2 picture {
  position: absolute;
  width: 160px;
  z-index: 4;
  top: -18px;
}

.online-cooking-club--mobile .online-cooking-club--col-2 > p {
  height: auto;
  background: #E4F4F6;
  padding-left: 140px;
  padding-top: 17px;
  padding-bottom: 14px;
  vertical-align: middle;
  text-align: center;
  margin-top: 2rem;
  position: relative;
  margin-bottom: 3rem;
}

.online-cooking-club--mobile .online-cooking-club--col-2 {
  position: relative;
}

.online-cooking-club.online-cooking-club--mobile.raddish-card .page-width {
  padding: 0;
}

.online-cooking-club--col-3 {
  display: flex;
  flex-direction: column;
}

.online-cooking-club--mobile .online-cooking-club--col-3 h2 {
  font-size: 16px;
}

.online-cooking-club--mobile .online-cooking-club--col-1 {
  padding-top: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.online-cooking-club--mobile .online-cooking-club--col-1 h1 {
  text-align: center;
  font-size: 18px;
}

.online-cooking-club--mobile {
  margin: 40px 5px;
}

.online-cooking-club {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.online-cooking-club--mobile {
  display: none;
}
@media screen and (max-width: 750px) {
  .online-cooking-club:not(.online-cooking-club--mobile) {
    display: none; 
  }
  .online-cooking-club--desktop {
    display: none;
  }

  .online-cooking-club--mobile {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
  }
}
</style>
<script>
</script>

{% schema %}
  {
    "name": "Online Cooking Club",
    "class": "light-background--desktop",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Online Cooking Club"
      },
      {
        "type": "html",
        "id": "description",
        "label": "Title",
        "default": "<div> Included <span> FREE</span> with all memberships! </div>"
      },
      {
        "type": "image_picker",
        "id": "middle_image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "text_right_column",
        "label": "Text Right Column"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label",
        "default": "Learn More"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Online Cooking Club",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}