{% assign _section = section.settings %}
{%- assign _product = all_products[_section.product_handle] -%}

{%- if _product != blank -%}
  {%- assign product_tags = _product.tags | join: '||' | append: '||' -%}

  {%- if product_tags contains '||value:' -%}
    {%- assign product_value = product_tags | split: 'value:' | last | split: '||' | first -%}
  {%- endif -%}

  <section class="section-product-overview">
    <div class="page-width">
      <div class="section__inner" style="background-color: {{ _section.border_color }}">
        <div class="section__content">
          <div class="section__image">
            {%- if _section.image != blank -%}
              {% include 'image', _image: _section.image, size: '1000', alt: _section.image.alt %}
            {%- else -%}
              {% include 'image', _image: _product.featured_image, size: '1000', alt: _product.featured_image.alt %}
            {%- endif -%}
          </div><!-- /.section__image -->

          <div class="section__aside">
            <h2 class="section__title">
              {% if _section.title != blank %}
                {{- _section.title -}}
              {%- else -%}
                {{- _product.title -}}
              {%- endif -%}
            </h2><!-- /.section__title -->

            {%- if _section.content != blank -%}
              <div class="section__entry">
                {{- _section.content -}}
              </div><!-- /.section__entry -->
            {% elsif _product.description != '' %}
              <div class="section__entry">
                {{- _product.description | replace: '----', '' -}}
              </div><!-- /.section__entry -->
            {%- endif -%}

            <div class="section__price">
              {% render 'price' with _product as product %}
            </div><!-- /.section__price -->

            <div class="section__actions">
              <div class="section__add-to-cart">
                <form method="post" action="/cart/add" data-productid="{{ product.id }}" data-product-handle="{{_product.handle}}">
                  <select name="id" data-productid="{{ product.id }}" class="hidden">
                    <option value="{{- _product.variants.first.id -}}"></option>
                  </select>

                  <input type="hidden" name="quantity" value="1"/>
                  <button type="submit" name="add" class="btn product__btn"
                    {% unless _product.available %}
                      disabled
                    {% endunless %}
                  >
                    {%- unless _product.available -%}
                      {{ 'products.product.sold_out' | t }}
                    {%- else -%}
                      {{ 'products.product.add_to_cart' | t }}
                    {%- endunless -%}
                  </button>
                </form>
              </div><!-- /.section__add-to-cart -->

              <div class="section__view-more">
                <a href="{{ _product.url | within: 'collection' }}">
                  {{- 'products.product.view_more_details' | t -}}
                </a>
              </div><!-- /.section__view-more -->
            </div><!-- /.section__actions -->

            {% if _section.info != blank %}
              <div class="section__info">
                {{- _section.info -}}
              </div><!-- /.section__info -->
            {% endif %}
          </div><!-- /.section__aside -->
        </div><!-- /.section__content -->
      </div><!-- /.section__shell -->
    </div><!-- /.page-width -->
  </section><!-- /.section-product-overview -->
{%- endif -%}


{% schema %}
{
  "name": "Product overview",
  "settings": [
    {
      "type": "color",
      "id": "border_color",
      "label": "Border color",
      "default": "#AEDFE5"
    },
    {
      "type": "product",
      "id": "product_handle",
      "label": "Product"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "info": "Default: Product title"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title color",
      "default": "#01BCBE"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Default: Product featured image"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "info": "Default: Product description"
    },
    {
      "type": "text",
      "id": "info",
      "label": "Additional info"
    }
  ],
  "presets": [
    {
      "name": "Product overview",
      "category": "Taste the World"
    }
  ]
}
{% endschema %}
