<div class="page-width footer">
  {{ section.settings.content }}
</div>

<div class="cta text-center">
  <a class="btn" href="{{ section.settings.url }}">{{ section.settings.cta }}</a>
  <a class="text-link" href="{{ section.settings.link-url }}">{{ section.settings.link-cta }}</a>
</div>

{% schema %}
  {
    "name": "Our Story: Footer",
    "class": "our-story-page our-story-footer",
    "settings": [
      {
        "type": "richtext",
        "id": "content",
        "label": "Footer Paragraph"
      },
      {
        "type": "text",
        "id": "cta",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Button URL"
      }
    ]
  }
{% endschema %}
