<div class="cta text-center">
  <a class="btn" href="{{ section.settings.url }}">{{ section.settings.cta }}</a>
  <div class="hiw-footer-link">{{ section.settings.link-cta }}</div>
</div>

<div class="testimonial-block">
  <div class="page-width">
    <h2 class="heading">{{ section.settings.title }}</h2>
    <div class="testimonial">
      <p>{{ section.settings.testimonial }}</p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "How It Works: Footer",
    "class": "how-it-works-page hiw-footer",
    "settings": [
      {
        "type": "text",
        "id": "cta",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Button URL"
      },
      {
        "type": "richtext",
        "id": "link-cta",
        "label": "Text Link"
      },
      {
        "type": "header",
        "content": "Testimonial Section"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Testimonial Heading"
      },
      {
        "type": "textarea",
        "id": "testimonial",
        "label": "Testimonial"
      }
    ]
  }
{% endschema %}
