<div class="alternate desktop-intro">
  <div class="page-width">
    {% comment %} Intro {% endcomment %}

    <div class="flex space flex-center wrap">
      <div>
        <h2>{{ section.settings.intro-heading }}</h2>
        <p>{{ section.settings.intro-content }}</p>
      </div>
      <div>
        {% include 'image', _image: section.settings.intro-image, size: '1024', alt: 'About Us' %}
      </div>
    </div>
  </div>
</div>

<div class="page-width">

    {% comment %} Content Section #1 {% endcomment %}

    <div class="flex space flex-start wrap content-section content-section-1">
      <div>
        {% include 'image', _image: section.settings.illustration-1, size: '1024', alt: 'About Us' %}
      </div>
      <div>
        {{ section.settings.cs-paragraph }}
      </div>
    </div>


    {% comment %} Highlight Box {% endcomment %}
    <div class="highlight-box">
      <div class="flex space flex-center wrap">
        <div>
          {{ section.settings.box-content }}
          <div class="text-center">
            <a class="btn" href="{{ section.settings.url-1 }}">{{ section.settings.cta-1 }}</a>
          </div>
        </div>
        <div>
          {% include 'image', _image: section.settings.illustration-2, size: '1024', alt: 'About Us' %}
        </div>
      </div>
    </div>

    {% comment %} Content Section #2 {% endcomment %}

    <div class="flex space flex-start content-section content-section-2 wrap">
      <div>
        {{ section.settings.cs-2-paragraph | replace: 'href=', 'target="_blank" href=' }}
      </div>
      <div>
        {% include 'image', _image: section.settings.team-picture, size: '1024', alt: 'About Us' %}
      </div>
    </div>

    {% comment %} Footer {% endcomment %}

    <div class="text-center dt-footer">
      <h3>{{ section.settings.footer-heading }}</h3>
      <a class="btn" href="{{ section.settings.url-2 }}">{{ section.settings.cta-2 }}</a>
    </div>

  </div>

{% schema %}
  {
    "name": "Our Story: Desktop",
    "class": "our-story-desktop",
    "settings": [
      {
        "type": "header",
        "content": "Intro"
      },
      {
        "type": "image_picker",
        "id": "intro-image",
        "label": "Introduction Image"
      },
      {
        "type": "textarea",
        "id": "intro-heading",
        "label": "Heading"
      },
      {
        "type": "textarea",
        "id": "intro-content",
        "label": "Sub-heading"
      },
      {
        "type": "header",
        "content": "Content Section #1"
      },
      {
        "type": "image_picker",
        "id": "illustration-1",
        "label": "Illustration"
      },
      {
        "type": "richtext",
        "id": "cs-paragraph",
        "label": "Paragraph Text",
        "info": "Bold text will be turned pink, centered, and slightly larger."
      },
      {
        "type": "header",
        "content": "Highlight Box"
      },
      {
        "type": "image_picker",
        "id": "illustration-2",
        "label": "Illustration"
      },
      {
        "type": "richtext",
        "id": "box-content",
        "label": "Box Content",
        "info": "Bold text will be turned green, centered, and slightly larger."
      },
      {
        "type": "text",
        "id": "cta-1",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "url-1",
        "label": "Button Link"
      },
      {
        "type": "header",
        "content": "Content Section #2"
      },
      {
        "type": "richtext",
        "id": "cs-2-paragraph",
        "label": "Paragraph Text",
        "info": "Bold text will be turned pink, centered, and slightly larger."
      },
      {
        "type": "image_picker",
        "id": "team-picture",
        "label": "Team Picture"
      },
      {
        "type": "header",
        "content": "Footer"
      },
      {
        "type": "text",
        "id": "footer-heading",
        "label": "Footer Text"
      },
      {
        "type": "text",
        "id": "cta-2",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "url-2",
        "label": "Button Link"
      }
    ]
  }
{% endschema %}
