{% assign is_dev = false %}

{% if shop.permanent_domain == "raddish-kids-test.myshopify.com" %}
  {% assign is_dev = true %}
{% endif %}


{%- assign _section = section.settings -%}
{%- assign section_title = _section.title -%}
{%- assign section_text = _section.text -%}
{%- assign section_note = _section.note -%}
{% assign free_gift_block = section.blocks | where: "type", "free-gift" | first %}

{% if free_gift_block != blank %}
  {% assign qualifying_product_blocks = section.blocks | where: "type", "qualifying-product" %}
  {% assign qualifying_product_handles = qualifying_product_blocks | map: "settings" | map: "qualifying_product"  %}
  {% assign blocks_with_badge = free_gift_block.settings["blocks_with_badge"] | split: "," %}
  {% render "gift-with-purchase", free_gift_block: free_gift_block, qualifying_product_blocks: qualifying_product_blocks %}
{% endif %}

<div class="builder-widget-container" id="builder-widget-container">
  {% unless template.suffix == 'join-b' %}<div class="h2">Join the Club!</div>{% endunless %}
  <div class="builder-widget" rv-data-selected-subscription="state.selectedPlan">
    <span class="overlay"></span>
    {% include 'loading-roller', loading_text: "Updating Cart...", extraClass: "" %}
    {% comment %} Builder Widget - STEP 1 {% endcomment %}
    <div class="bw-header bw-step1-header" rv-class-bw-closed="state.currentStep | eq 1 | not" step="1" data-cart-view="data-cart-view" id="stepScroll-1">
      <label class="number-icon">
        {% include 'icon-checkmark' %}1
      </label>
      Pick your Plan
      <button rv-if="state.currentStep | eq 1 | not" data-step="1" class="btn step-change"><span >Edit</span></button>
    </div>
    <div class="bw-content bw-step1-content" rv-class-bw-closed="state.currentStep | eq 1 | not" step="1">
      {% if free_gift_block != blank and free_gift_block.settings.placement == "step_1" %}
       {%- assign gift_with_purchase = all_products[free_gift_block.settings.gift_item] -%}
        <div class="gwp__info-container">
          <div class="gwp__inner-container">
            {% if free_gift_block.settings.description_image != blank %}
            <div class="gwp__icon-container">
              <img src="{{ free_gift_block.settings.description_image | img_url: "300x" }}" alt="Icon">
            </div>
            {% endif %}
            <div {% if free_gift_block.settings.description_image == blank %}style="text-align: center;" {% endif %}>
              <h3>{{free_gift_block.settings.free_gift_title}}</h3>
              <div>{{free_gift_block.settings.free_gift_short_description}}</div>
            </div>
          </div>
          {% if free_gift_block.settings.free_gift_description != blank %}
          <a onclick="openFreeGiftModal()" href="javascript:void(0);">View details</a>
          {% endif %}
          {%- comment -%}
          {%- endcomment -%}
        </div>
      {% endif %}
      <div class="bw-step-picker-mobile-container">
        <div class="bw-step-picker-mobile">
          {%- comment -%}          {%- endcomment -%}
          {% assign blockCount = 0 %}
          {% for block in section.blocks %}
            {% if block.type == 'plan' %}
              {% if block.settings.title contains "Monthly" %}
                {% assign blockCount = 1 %}
              {% elsif block.settings.title contains "3" %}
                {% assign blockCount = 2 %}
              {% elsif block.settings.title contains "6" %}
                {% assign blockCount = 3 %}
              {% elsif block.settings.title contains "12" %}
                {% assign blockCount = 4 %}
              {% endif %}

              {% if blockCount == 1 %}
                {% assign productID = plan_0_0_sibling %}
                {% assign subID = 265802 %}
                {% assign netsuiteID = 2159 %}
              {% elsif blockCount == 2 %}
                {% assign productID = plan_1_0_sibling %}
                {% assign subID = 269619 %}
                {% assign netsuiteID = 2163 %}
              {% elsif blockCount == 3 %}
                {% assign productID = plan_2_0_sibling %}
                {% assign subID = 267212 %}
                {% assign netsuiteID = 2167 %}
              {% elsif blockCount == 4 %}
                {% assign productID = plan_3_0_sibling %}
                {% assign subID = 272920 %}
                {% assign netsuiteID = 2171 %}
              {% endif %}

              <div class="bw-step-picker-step" data-subscription-id="{{subID}}" rv-on-click="methods.selectSubscription" rv-class-plan-selected="state.selectedPlan | eq {{blockCount}}" data-plan="{{blockCount}}">
                {{block.settings.title | replace: "nthly", "." | replace: "nth", "."}}
              </div>
            {% endif %}
          {% endfor %}

        </div>
      </div>


      {% comment %} Logic to assign the proper Product ID's for each Plan Type based on Cut-off Date {% endcomment %}
      {% assign month = "now" | date: "%m" | times: 1 %}
      {% assign year = "now" | date: "%Y" | times: 1 %}
      {% assign day = "now" | date: "%d" | times: 1 %}

      {% assign month_year = 'plan-period: ' | append: month | append: '-' | append: year %}

      {% comment %} Iterates over Plan Collection to find Subscription Products corresponding to the given Cut-off Date {% endcomment %}
      {% for product in collections.plans-monthly.products %}
        {% assign product_type = product.type | handleize %}
          {% if product_type == 'monthly-plan' %}
            {% assign plan_0_0_sibling = product.selected_or_first_available_variant.id %}
            {% assign plan_0_0_price = product.selected_or_first_available_variant.price %}
          {% elsif product_type == 'monthly-plan-1-sibling' %}
            {% assign plan_0_1_sibling = product.selected_or_first_available_variant.id %}
            {% assign plan_0_1_price = product.selected_or_first_available_variant.price %}
          {% elsif product_type == 'monthly-plan-2-sibling' %}
            {% assign plan_0_2_sibling = product.selected_or_first_available_variant.id %}
            {% assign plan_0_2_price = product.selected_or_first_available_variant.price %}
          {% elsif product_type == 'monthly-plan-3-sibling' %}
            {% assign plan_0_3_sibling = product.selected_or_first_available_variant.id %}
            {% assign plan_0_3_price = product.selected_or_first_available_variant.price %}
          {% endif %}

          
      {% endfor %}

      {% comment %} Iterates over Plan Collection to find Subscription Products corresponding to the given Cut-off Date {% endcomment %}
      {% for product in collections.plans-3-month.products %}
        {% assign product_type = product.type | handleize %}

        {% if product_type == '3-month-plan' %}
          {% assign plan_1_0_sibling = product.selected_or_first_available_variant.id %}
        {% assign plan_1_0_price = product.selected_or_first_available_variant.price %}
        {% elsif product_type == '3-month-plan-1-sibling' %}
          {% assign plan_1_1_sibling = product.selected_or_first_available_variant.id %}
        {% assign plan_1_1_price = product.selected_or_first_available_variant.price %}
        {% elsif product_type == '3-month-plan-2-sibling' %}
          {% assign plan_1_2_sibling = product.selected_or_first_available_variant.id %}
        {% assign plan_1_2_price = product.selected_or_first_available_variant.price %}
        {% elsif product_type == '3-month-plan-3-sibling' %}
          {% assign plan_1_3_sibling = product.selected_or_first_available_variant.id %}
        {% assign plan_1_3_price = product.selected_or_first_available_variant.price %}
        {% endif %}

        {% if free_gift_block != blank %}
          {% if qualifying_product_handles contains product.handle %}
            {% assign qualifying_product_ids = qualifying_product_ids | append: product.id | append: "," %}
          {% endif %}
        {% endif %}
      {% endfor %}

      {% comment %} Iterates over Plan Collection to find Subscription Products corresponding to the given Cut-off Date {% endcomment %}
      {% for product in collections.plans-6-month.products %}
        {% assign product_type = product.type | handleize %}

          {% if product_type == '6-month-plan' %}
            {% assign plan_2_0_sibling = product.selected_or_first_available_variant.id %}
            {% assign plan_2_0_price = product.selected_or_first_available_variant.price %}
          {% elsif product_type == '6-month-plan-1-sibling' %}
            {% assign plan_2_1_sibling = product.selected_or_first_available_variant.id %}
            {% assign plan_2_1_price = product.selected_or_first_available_variant.price %}
          {% elsif product_type == '6-month-plan-2-sibling' %}
            {% assign plan_2_2_sibling = product.selected_or_first_available_variant.id %}
            {% assign plan_2_2_price = product.selected_or_first_available_variant.price %}
          {% elsif product_type == '6-month-plan-3-sibling' %}
            {% assign plan_2_3_sibling = product.selected_or_first_available_variant.id %}
            {% assign plan_2_3_price = product.selected_or_first_available_variant.price %}
          {% endif %}

          {% if free_gift_block != blank %}
            {% if qualifying_product_handles contains product.handle %}
              {% assign qualifying_product_ids = qualifying_product_ids | append: product.id | append: "," %}
            {% endif %}
          {% endif %}
      {% endfor %}

      {% comment %} Iterates over Plan Collection to find Subscription Products corresponding to the given Cut-off Date {% endcomment %}
      {% for product in collections.plans-12-month.products %}
        {% assign product_type = product.type | handleize %}

          {% if product_type == '12-month-plan' %}
            {% assign plan_3_0_sibling = product.selected_or_first_available_variant.id %}
            {% assign plan_3_0_price = product.selected_or_first_available_variant.price %}
          {% elsif product_type == '12-month-plan-1-sibling' %}
            {% assign plan_3_1_sibling = product.selected_or_first_available_variant.id %}
            {% assign plan_3_1_price = product.selected_or_first_available_variant.price %}
          {% elsif product_type == '12-month-plan-2-sibling' %}
            {% assign plan_3_2_sibling = product.selected_or_first_available_variant.id %}
            {% assign plan_3_2_price = product.selected_or_first_available_variant.price %}
          {% elsif product_type == '12-month-plan-3-sibling' %}
            {% assign plan_3_3_sibling = product.selected_or_first_available_variant.id %}
            {% assign plan_3_3_price = product.selected_or_first_available_variant.price %}
          {% endif %}

        {% if free_gift_block != blank %}
          {% if qualifying_product_handles contains product.handle %}
            {% assign qualifying_product_ids = qualifying_product_ids | append: product.id | append: "," %}
          {% endif %}
        {% endif %}
      {% endfor %}
      {% assign qualifying_product_ids = qualifying_product_ids | split: "," | compact %}
      {% comment %} PLANS {% endcomment %}
      <div class="bw-plans">

      {% assign blockCount = 0 %}
      {% for block in section.blocks %}
        {% if block.type == 'plan' %}
        {% if block.settings.title contains "Monthly" %}
          {% assign blockCount = 1 %}
        {% elsif block.settings.title contains "3" %}
          {% assign blockCount = 2 %}
        {% elsif block.settings.title contains "6" %}
          {% assign blockCount = 3 %}
        {% elsif block.settings.title contains "12" %}
          {% assign blockCount = 4 %}
        {% endif %}

        {% if blockCount == 1 %}
          {% assign productID = plan_0_0_sibling %}
          {% assign subID = 265802 %}
          {% assign netsuiteID = 2159 %}
        {% elsif blockCount == 2 %}
          {% assign productID = plan_1_0_sibling %}
          {% assign subID = 269619 %}
          {% assign netsuiteID = 2163 %}
        {% elsif blockCount == 3 %}
          {% assign productID = plan_2_0_sibling %}
          {% assign subID = 267212 %}
          {% assign netsuiteID = 2167 %}
        {% elsif blockCount == 4 %}
          {% assign productID = plan_3_0_sibling %}
          {% assign subID = 272920 %}
          {% assign netsuiteID = 2171 %}
        {% endif %}

        <div
            rv-class-plan-selected="state.selectedPlan | eq {{blockCount}}"
            rv-class-plan-queued="state.selectedPlan | eq {{blockCount}}" 
            class="bw-plan bw-plan-{{ blockCount }} container-box{% if blockCount == 3 %} plan-queued{% endif %}"  
            plan="{{ blockCount }}">
          {% assign block_count_string = blockCount | append: "" %}
          {% if blocks_with_badge contains block_count_string %}
            <img class="free-gift-badge" src="{{ free_gift_block.settings.badge | img_url: "100x" }}" alt="Badge">
          {% endif %}
          <label>{{ block.settings.title }}</label>
          <div class="bw-plan-price">
            <span>{{ block.settings.plan_cost }}</span> /per kit
          </div>
          <div class="bw-plan-description">
            {{ block.settings.upfront_cost }}<br>
            {% if block.settings.savings != "" %}
              {{ block.settings.savings }}
            {% endif %}
            {% if block.settings.free_apron %}
              <div class="bw-plan-apron">Free Apron Included!</div>
            {% endif %}
          </div>
            <button
              class="button-primary bw-plan-atc"
              rv-on-click="methods.selectSubscription"
              data-product-id="{{ productID }}"
              data-addon-apron-id="{{ block.settings.addon_apron_id }}" 
              data-subscription-id="{{ subID }}" 
              data-plan="{{ blockCount }}" netsuite-id="{{ netsuiteID }}">
              <span class="bw-plan-atc-text1">Select</span>
              <span class="bw-plan-atc-text2">Selected</span>
            </button>
        </div>
        {% endif %}
      {% endfor %}
      </div> <!-- END .bw-plans -->

      <div class="step-2-trigger-container">
        <button rv-if="state.selectedPlan | not" class="button-primary disabled step-2-trigger">Select A Plan</button>
        <button rv-if="state.selectedPlan" class="button-primary step-2-trigger"  rv-on-click="methods.moveToNextStep">Next</button>
      </div>

      {% if section.settings.widget-1-text != "" %}
      <div class="bw-widget-info">
        <div class="widget-1">
          {% if section.settings.widget-1-img != "" %}<img src="{{ section.settings.widget-1-img | img_url: "master" }}" alt="Icon">{% endif %}
          {{ section.settings.widget-1-text }}
        </div>
        {% if section.settings.widget-2-text != "" %}
          <img src="https://cdn.shopify.com/s/files/1/0300/1545/files/divider.png?v=1620126050" class="widget-divider">
          <div class="widget-2">
            {% if section.settings.widget-2-img != "" %}
              <img src="{{ section.settings.widget-2-img | img_url: "master" }}" alt="Icon">
            {% endif %}
            {{ section.settings.widget-2-text }}
          </div>
          {% endif %}
      </div>
      {% endif %}

    </div>

    {% comment %} Builder Widget - STEP 2 {% endcomment %}
    <div class="bw-header bw-step2-header" rv-class-bw-closed="state.currentStep | eq 2 | not" step="2" id="stepScroll-2">
      <label class="number-icon">{% include 'icon-checkmark' %}2</label>Add-Ons
      <button rv-if="state.currentStep | eq 2 | not" data-step="2" class="btn step-change"><span >Edit</span></button>
    </div>
    <div class="bw-content bw-step2-content" rv-class-bw-closed="state.currentStep | eq 2 | not" step="2">
      {% if free_gift_block != blank and free_gift_block.settings.placement == "step_2" %}
        {%- assign gift_with_purchase = all_products[free_gift_block.settings.gift_item] -%}
        <div class="gwp__info-container">
          <div class="gwp__inner-container">
            {% if free_gift_block.settings.description_image != blank %}
            <div class="gwp__icon-container">
              <img src="{{ free_gift_block.settings.description_image | img_url: "300x" }}" alt="Icon">
            </div>
            {% endif %}
            <div {% if free_gift_block.settings.description_image == blank %}style="text-align: center;" {% endif %}>
              <h3>{{free_gift_block.settings.free_gift_title}}</h3>
              <div>{{free_gift_block.settings.free_gift_short_description}}</div>
            </div>
          </div>
          {%- comment -%}
          <a onclick="openFreeGiftModal()" href="javascript:void(0);" style="display:none">View details</a>
          {%- endcomment -%}
        </div>
      {% endif %}
      {% comment %} OPTIONS {% endcomment %}
      <div class="bw-options">
        {% include 'plan-builder-options' %}
      </div>
    </div>

    {% comment %} Builder Widget - STEP 3 {% endcomment %}
    <div class="bw-header bw-step3-header" rv-class-bw-closed="state.currentStep | eq 3 | not" step="3" id="stepScroll-3">
      <label class="number-icon">{% include 'icon-checkmark' %}3</label>Customize
      <button rv-if="state.currentStep | eq 3 | not" data-step="3" class="btn step-change"><span >Edit</span></button>
    </div>
    <div class="bw-content bw-step3-content" rv-class-bw-closed="state.currentStep | eq 3 | not" step="3">
      <div class="bw-personalize">
        {% include 'plan-builder-personalize' %}
        <div class="bw-cart-summary">
          <div class="bw-cart-total">
            Today's subtotal: <span data-cart-render="tota_price_money_with_currency"></span>
          </div>
          <a class="button-primary" rv-on-click="methods.addPlanToCart" rv-class-disabled="state.selectedPlan | not">Checkout</a>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
  var plans = [
    {
      plan: 1,
      type: 'monthly',
      prod_id_siblings: ['{{ plan_0_0_sibling }}', '{{ plan_0_1_sibling }}', '{{ plan_0_2_sibling }}', '{{ plan_0_3_sibling }}'],
      prod_id_prices: ['{{ plan_0_0_price }}', '{{ plan_0_1_price }}', '{{ plan_0_2_price }}', '{{ plan_0_3_price }}'],
      netsuite_id_siblings: [2159, 2160, 2161, 2162]
    },
    {
      plan: 2,
      type: '3-month',
      prod_id_siblings: ['{{ plan_1_0_sibling }}','{{ plan_1_1_sibling }}','{{ plan_1_2_sibling }}','{{ plan_1_3_sibling }}'],
      prod_id_prices: ['{{ plan_1_0_price }}','{{ plan_1_1_price }}','{{ plan_1_2_price }}','{{ plan_1_3_price }}'],
      netsuite_id_siblings: [2163, 2164, 2165, 2166]
    },
    {
      plan: 3,
      type: '6-month',
      prod_id_siblings: ['{{ plan_2_0_sibling }}','{{ plan_2_1_sibling }}','{{ plan_2_2_sibling }}','{{ plan_2_3_sibling }}'],
      prod_id_prices: ['{{ plan_2_0_price }}','{{ plan_2_1_price }}','{{ plan_2_2_price }}','{{ plan_2_3_price }}'],
      netsuite_id_siblings: [2167,2168,2169,2170]
    },
    {
      plan: 4,
      type: '12-month',
      prod_id_siblings: ['{{ plan_3_0_sibling }}', '{{ plan_3_1_sibling }}', '{{ plan_3_2_sibling }}', '{{ plan_3_3_sibling }}'],
      prod_id_prices: ['{{ plan_3_0_price }}','{{ plan_3_1_price }}','{{ plan_3_2_price }}','{{ plan_3_3_price }}'],
      netsuite_id_siblings: [2171,2172,2173,2174]
    }
  ];

  var $netsuite_id = 2159;

  var $active_plan = false;
  var $active_plan_id;
  var $active_siblings;
  {% if is_dev%}
  var $apron_id = 40515825893551;
  {% else %}
  var $apron_id = 39566017265823;
  {% endif %}
  var step1_filled = false;
  var step2_filled = false;
  var step3_filled = false;
</script>


<script>
  class PlanBuilder {
    constructor(plans, $container, items, note, qualifyingProductIds) {
      this.plans = plans;
      this.$container = $container
      this.settings = {
        {% if is_dev%}
        appronId: 40515825893551,
        siblingProductId: 40515830907055,
        raddishPlusSubId: 2120631, // Not resolved
        raddishPlusProductId: 40707586818223,
        qualifyingProductIds: qualifyingProductIds
        {% else %}
        appronId: 39566017265823,
        siblingProductId: 3281911493,
        raddishPlusSubId: 2120631,
        raddishPlusProductId: 41393224974495,
        qualifyingProductIds: qualifyingProductIds
        {% endif %}
      }
      this.state = {
        selectedPlan: null,
        currentStep: 1,
        raddishPlus: 0,
        extraItems: { },
        buyNowShipLater: false,
        parentFirstName: "",
        parentLastName: "",
        parentEmail: "",
        note:""
      }
      this.bindView.bind(this);
      this.selectSubscription.bind(this);
      // this.setInitialState.bind(this);
      this.bindView();
      if(items && items.length) {
        // this.setInitialState(items, note);
      } else if(isMobile()) {
        this.state.selectedPlan = 3
      }

      $(document).on("click",".step-change", this.moveToStep.bind(this))
      $(document).on("touchstart",".step-change", this.moveToStep.bind(this))

    }

    moveToStep(event) {
      event.preventDefault();
      event.stopPropagation();
      this.state.currentStep = parseInt($(event.currentTarget).data("step"))
      setTimeout(() => {
        const step = parseInt($(event.currentTarget).data("step"));
        const id = "stepScroll-" + step;
        const yOffset = -150; 
        const element = document.getElementById(id);
        const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset;
        window.scrollTo({top: y, behavior: 'smooth'});
      }, 200)
    }

    setInitialState(items, note) {
      for (const item of items) {
        if(!item.properties._membership_timestamp) continue;

        if(item.properties.plan) {
          this.state.selectedPlan = parseInt(item.properties.plan)
          this.state.parentFirstName = item.properties.parent_first_name
          this.state.parentLastName = item.properties.parent_last_name
          this.state.parentEmail = item.properties.secondary_email
          if(item.properties.Holiday_hold2022 && item.properties.Holiday_hold2022 == "True") {
            this.state.buyNowShipLater = true
          }
          const siblingsCount = this.plans[item.properties.plan - 1].prod_id_siblings.findIndex(el => item.variant_id.toString() == el);
          this.state.extraItems[this.settings.siblingProductId] = siblingsCount
        }

        const { option1, option2, option3, option4 } = item.properties;
        if(option1 || option2 || option3 || option4) {
          this.state.extraItems[item.variant_id] = item.quantity
        }

        if(item.properties.digital_plan && item.properties.digital_plan == "Raddish Plus") {
          this.state.raddishPlus = item.quantity
        }

        if(note) {
          this.state.note = note
        }
        this.recalculateTotal();
      }
    }

    selectSubscription(event, binding) {
      console.log('selected', $(event.currentTarget).data("plan"), $(event.currentTarget).data("subscription-id"), $(event.currentTarget).data("sbo-enabled"))
      this.state.selectedPlan = $(event.currentTarget).data("plan")
      this.state.selectedSubscriptionId = $(event.currentTarget).data("subscription-id");
      this.recalculateTotal();
    }

    moveToNextStep(event, binding) {
      if(this.state.currentStep < 3) {
        this.state.currentStep++;
      }
    }

    recalculateTotal() {
      var optionsTotal = 0;
      for (const variantId in this.state.extraItems) {
        if (variantId == this.settings.siblingProductId) continue;
        var cont = $(`.container-box[data-option-id="${variantId}"]`).data("option-price");
        var quantity = this.state.extraItems[variantId]
        if(cont && quantity) {
          var lineTotal = cont * quantity
          optionsTotal = optionsTotal + lineTotal;
        }
      }
      console.log(this.state.extraItems)
      var raddishPlus = $(`.container-box[data-option-id="${this.settings.raddishPlusProductId}"]`).data("option-price") * this.state.raddishPlus;

      var plan = this.state.selectedPlan
      var siblingsCount = this.state.extraItems[this.settings.siblingProductId] || 0;
      var selectedPlan = this.plans[plan - 1];
      var subscriptionPrice = (parseInt(selectedPlan.prod_id_prices[siblingsCount]) / 100);
      console.log(optionsTotal, raddishPlus, subscriptionPrice)
      const total = optionsTotal + raddishPlus + subscriptionPrice;
      $('[data-cart-render="tota_price_money_with_currency"]').text(`$${total.toFixed(2)}`)
      console.log(total);
    }

    generateHash(length) {
     var result = "";
     var timestamp = Date.now();
     var characters =
       "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
     var charactersLength = characters.length;
     for (var i = 0; i < length; i++) {
       result += characters.charAt(Math.floor(Math.random() * charactersLength));
     }
     result += timestamp;
     return result;
   }

    addPlanToCart(event, binding) {
      const timestamp = new Date().getTime()
      var itemsToAdd = [];
      var plan = this.state.selectedPlan

      var siblingsCount = this.state.extraItems[this.settings.siblingProductId] || 0;
      var selectedPlan = this.plans[plan - 1];
      var productId = selectedPlan.prod_id_siblings[siblingsCount];
      var hash = this.generateHash(10);
      var properties = {
        // _activation_date: new Date().toLocaleString("en-US", {timeZone: "America/Los_Angeles"}).split(",")[0],
        _membership_timestamp: timestamp,
        shipping_interval_frequency: "1",
        shipping_interval_unit_type: "Months",
        subscription_id: this.state.selectedSubscriptionId,
        subscription_hash: hash,
        subscription_item: selectedPlan.netsuite_id_siblings[siblingsCount],
        plan: plan,
        ...(this.state.buyNowShipLater ? { 'Holiday_hold2022': "True" } : {}),
        ...(this.state.parentEmail ? {secondary_email: this.state.parentEmail} : {}),
        ...(this.state.parentFirstName ? {parent_first_name: this.state.parentFirstName} : {}),
        ...(this.state.parentLastName ? {parent_last_name: this.state.parentLastName} : {}),
        ...(plan > 1 ? {
          charge_interval_frequency: plan == 2 ? "3" : plan == 3 ? "6" : "12",
          charge_interval_unit_type: "Months",
        } : {})
      }
      var planItem =   {
        id: productId,
        quantity: 1,
        properties: properties
      }
      itemsToAdd.push(planItem);

      // Add extra items
      var index = 0;
      for (const variantId in this.state.extraItems) {
        var key = `option${index}`;
        index++;
        if(!this.state.extraItems[variantId]) continue;
        if (variantId == this.settings.siblingProductId) continue;
        itemsToAdd.push({
          id: variantId,
          quantity: this.state.extraItems[variantId],
          properties: {
            [`${key}`]: "true",
            _membership_timestamp: timestamp,
          }
        })
      }

      // Add raddish plus
      if(this.state.raddishPlus > 0) {
        itemsToAdd.push({
          id: this.settings.raddishPlusProductId,
          quantity: 1,
          properties: {
            _membership_timestamp: timestamp,
            "shipping_interval_frequency": 1,
            "shipping_interval_unit_type": "Months",
            "subscription_id": this.settings.raddishPlusSubId,
            // Adding this parameter to not show quantity in cart page
            "digital_plan": "Raddish Plus"
          }
        })
      } 

      // Add free apron
      if(plan > 1) {
        itemsToAdd.push({
          id: this.settings.appronId,
          quantity: 1, 
          properties: {
            _membership_timestamp: timestamp,
            gift_product: "Free Apron"
          }
        })
      }

      // Add free gift
      var giftItemId = $("[data-free-gift-with-purchase]").html();
      if(giftItemId) {
        itemsToAdd.push({
          id: parseInt(giftItemId),
          quantity: 1, 
          properties: {
            _is_gift_with_purchase: true,
            _membership_timestamp: timestamp,
            gift_product: true,
            _required_products: this.settings.qualifyingProductIds.join(",")
          }
        })
      }
      

      var self = this;
      if(this.state.note) {
        CartJS.setNote(this.state.note);
      }
      CartJS.addItems(itemsToAdd.reverse(), {
        "success": function(response) {
          console.log(response);
          // history.pushState('', 'Cart', window.location + "/cart")
          history.pushState({page: 1}, "Home", "/")
          self.reChargeProcessCart();
        }
      })
    }

    reChargeProcessCart() {
      var token
      function get_cookie(name){ return( document.cookie.match('(^|; )'+name+'=([^;]*)')||0 )[2] }
      do { 
        token=get_cookie('cart');
      } while(token == undefined);	
      var myshopify_domain='{{ shop.permanent_domain }}'
      try { var ga_linker = ga.getAll()[0].get('linkerParam') } catch(err) { var ga_linker ='' }
      var checkout_url= "https://checkout.raddishkids.com/r/checkout?myshopify_domain="+myshopify_domain+"&cart_token="+token+"&"+ga_linker;
      console.log(checkout_url)
      // window.location.href = checkout_url
    }

    bindView() {
      rivets.bind(this.$container, {
        settings: this.settings,
        state: this.state,
        methods: {
          selectSubscription: this.selectSubscription.bind(this),
          moveToNextStep: this.moveToNextStep.bind(this),
          addPlanToCart: this.addPlanToCart.bind(this),
          moveToStep: this.moveToStep.bind(this),
          changeRaddishPlus: (quantity) => {
            this.state.raddishPlus = this.state.raddishPlus + quantity
            this.recalculateTotal();

          },
          addExtraItem: (itemId) => {
            this.state.extraItems[`${itemId}`] || this.state.extraItems[`${itemId}`] > 0
              ? this.state.extraItems[`${itemId}`]++ 
              : this.state.extraItems[`${itemId}`] = 1
            this.recalculateTotal();
          },
          removeExtraItem: (itemId) => {
            this.state.extraItems[`${itemId}`]--;
            this.recalculateTotal();
          }
        }
      });
    }
  }

  function additionalFormaters() {
    rivets.formatters.eq = function(a, b){
      return a === b
    }
    rivets.formatters.sizeGte = function(a, b){
      return a.length >= b
    }
    rivets.formatters.gt = function(a, b){
      return a > b
    }
    rivets.formatters.maxLength = function(a, b){
      return b - a.length
    }
    rivets.formatters.not = function(a){
      return !a
    }
    rivets.formatters.args = function(fn) {
      let args = Array.prototype.slice.call(arguments, 1)
      return () => fn.apply(null, args)
    }
  }

  window.addEventListener('DOMContentLoaded', () => { 
    additionalFormaters();
    var $container = $("#builder-widget-container")
    new PlanBuilder(plans, $container, {{cart.items | json }}, {{cart.note | json }}, {{qualifying_product_ids | json }});
   })
</script>

<style>
  .quick-add-container .quick-add-qty-container {
    display: block !important;
  }
  .bw-step-picker-mobile .bw-step-picker-step.plan-selected {
    border-color: #f3576b !important;
    transition: border-color .2s !important;
    background: #fff !important;
  }
  .bw-cart-summary button.disabled {
    background: #d3d3d3;
    color: #4d4d4d;
    pointer-events: none;
    opacity: .5;
  }
  .bw-header:not(.bw-closed) .step-change {
    displaY: none !important;
  }

  button.step-change,
  span.step-change {
    opacity: 1;
    pointer-events: all;
    width: 100%;
    max-width: 135px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: 0 0;
    border: 2px solid #f3576b;
    padding: 3px;
    line-height: 1.15;
    max-width: 77px;
    font-weight: 400;
    text-transform: capitalize;
    transition: box-shadow .2
  }

  .step-change span {
    color: #f3576b;
  }

  .btn.step-change {
    box-shadow: 0 2px 4px 0 hsl(0deg 0% 57% / 40%);
    transition: box-shadow .2s;
    outline: 0;
    background: 0 0;
  }

  div.quick-switch-qty-container {
    display: block;
  }

  .plan-buy-now-ship-later {
    border-bottom: 6px dotted #a9dd61;
    max-width: 620px;
    margin: 0 auto 3rem;
    padding-bottom: 3rem;
  }
  .plan-buy-now-ship-later input[type="checkbox"]{
    border: 1px solid #f3576b;
    width: 24px;
    height: 24px;
    display: block;
    min-height: auto;
    border-radius: 2px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
  }

  .plan-buy-now-ship-later .form-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .plan-buy-now-ship-later .form-row {
    max-width: 400px;
    margin: 0 auto;
  }

  [for="buy-now-ship-later"] { max-width: 340px; }

  input#buy-now-ship-later:checked:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    background: #f3576b;
    border: 2px solid white;
  }
  .free-gift-badge {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-20%, -40%);
    max-width: 70px;
    z-index: 20;
  }
  .plan-builder .bw-widget-info img {
    object-fit: contain;
  }

  @media(max-width: 767px) { 
    .free-gift-badge {
      margin-left: 8px;
    }

    [for="buy-now-ship-later"] {
      max-width: 280px;
      text-align: left;
    }
    .plan-buy-now-ship-later .form-row {
      max-width: 380px;
      margin: 0 auto;
    }
    .plan-personalize-name {
      padding: 1rem 0;
    }

    .plan-personalize-gift-note {
      max-width: 324px;
      padding: 1rem 0;
    }
  }
</style>

{% schema %}
{
  "name": "Plan Builder",
  "class": "plan-builder",
  "settings": [
  {
    "type": "text",
    "id": "pb-title",
    "label": "Title"
  },
  {
    "type": "image_picker",
    "id": "widget-1-img",
    "label": "Widget 1 Image"
  },
  {
    "type": "richtext",
    "id": "widget-1-text",
    "label": "Widget 1 Text"
  },
  {
    "type": "image_picker",
    "id": "widget-2-img",
    "label": "Widget 2 Image"
  },
  {
    "type": "richtext",
    "id": "widget-2-text",
    "label": "Widget 2 Text"
  },
  {
    "type": "checkbox",
    "id": "show_buy_now_ship_later",
    "label": "Show Buy Now Ship Later section",
    "default": true
  }
  ],
  "blocks":[
  {
    "type": "plan",
    "name": "Plan",
    "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Plan Duration"
    },
    {
      "type": "number",
      "id": "plan_cost",
      "label": "Plan Cost"
    },
    {
      "type": "text",
      "id": "upfront_cost",
      "label": "Upfront Cost"
    },
    {
      "type": "richtext",
      "id": "savings",
      "label": "Savings"
    },
    {
      "type": "checkbox",
      "id": "free_apron",
      "label": "Free Apron Text"
    }
    ]
  },
  {
    "type": "pb-option-1",
    "name": "Sibling Bundle",
    "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Sibling Bundle ($5/mo)"
    },
    {
      "type": "image_picker",
      "id": "pb_option_img",
      "label": "Product Image"
    },
    {
      "type": "product",
      "id": "pb_option_prod",
      "label": "Product"
    },
    {
      "type": "text",
      "id": "pb_option_desc",
      "label": "Description",
      "default": "Add a tool and patch to each kit for additional siblings."
    },
    {
      "type": "text",
      "id": "pb_option_price",
      "label": "Price"
    }
    ]
  },
  {
    "type": "pb-option-2",
    "name": "Add-on 1",
    "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Raddish Apron ($15)"
    },
    {
      "type": "image_picker",
      "id": "pb_option2_img",
      "label": "Product Image"
    },
    {
      "type": "product",
      "id": "pb_option2_prod",
      "label": "Product"
    },
    {
      "type": "number",
      "id": "pb_option2_var",
      "label": "Product Variant ID",
      "info": "Add the specific variant ID of the variant that should get added to cart",
      "default": 36636337995935
    },
    {
      "type": "text",
      "id": "pb_option2_desc",
      "label": "Description",
      "default": "Add an apron to your first kit."
    },
    {
      "type": "text",
      "id": "pb_option_price",
      "label": "Price"
    }
    ]
  },
  {
    "type": "pb-option-3",
    "name": "Add-on 2",
    "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Create-A-Cookbook ($20)"
    },
    {
      "type": "image_picker",
      "id": "pb_option3_img",
      "label": "Product Image"
    },
    {
      "type": "product",
      "id": "pb_option3_prod",
      "label": "Product"
    },
    {
      "type": "number",
      "id": "pb_option3_var",
      "label": "Product Variant ID",
      "info": "Add the specific variant ID of the variant that should get added to cart",
      "default": 36636813885599
    },
    {
      "type": "text",
      "id": "pb_option3_desc",
      "label": "Description",
      "default": "Store 6 months of recipes in a collectible binder."
    },
    {
      "type": "text",
      "id": "pb_option_price",
      "label": "Price"
    }
    ]
  },
  {
    "type": "pb-option-4",
    "name": "Raddish Plus",
    "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Raddish+ ($7/mo)"
    },
    {
      "type": "image_picker",
      "id": "pb_option_img",
      "label": "Product Image"
    },
    {
      "type": "product",
      "id": "pb_option_prod",
      "label": "Product"
    },
    {
      "type": "text",
      "id": "pb_option_desc",
      "label": "Description",
      "default": "Get digital access to each month's kit + 100s of past recipes!"
    },
    {
      "type": "text",
      "id": "pb_option_price",
      "label": "Price"
    }
    ]
  },
  {
    "type": "qualifying-product",
    "name": "Qualifying Product",
    "settings": [
      {
        "type": "product",
        "id": "qualifying_product",
        "label": "Product"
      }
    ]
  },
  {
    "type": "free-gift",
    "name": "Free Gift",
    "settings": [
      {
        "type": "select",
        "id": "placement",
        "label": "Placement",
        "options": [
          {
            "value": "step_1",
            "label": "Step 1"
          },
          {
            "value": "step_2",
            "label": "Step 2"
          }
        ],
        "default": "step_2"
      },
      {
        "type": "product",
        "id": "gift_item",
        "label": "Free Gift with Purchase"
      },
      {
        "type": "text",
        "id": "free_gift_title",
        "label": "Title",
        "default": "Free Gift With Purchase"
      },
      {
        "type": "html",
        "id": "free_gift_short_description",
        "label": "Short description",
        "default": "<p>Get a <b>FREE Gingerbread Cookie Cook-Along Kit</b> ($15 value) with purchase of a new 6 or 12 month membership. Product will be automatically added at checkout. </p>"
      },
      {
        "type": "image_picker",
        "id": "description_image",
        "label": "Icon"
      },
      {
        "type": "image_picker",
        "id": "badge",
        "label": "Badge"
      },
      {
        "type": "text",
        "id": "blocks_with_badge",
        "label": "Memberships with badge",
        "info": "Separated with comma",
        "default": "3,4"
      },
      {
        "type": "richtext",
        "id": "free_gift_description",
        "label": "Description",
        "default": "<p>With purchase of a 6 month or 12 month plan. Limited quantity available.</p>"
      },
      {
        "type": "image_picker",
        "id": "free_gift_image",
        "label": "Image"
      }
    ]
  }
  ],
  "presets": [
  {
    "name": "Plan Builder Widget",
    "category": "Plan Builder"
  }
  ]
}
{% endschema %}
