{%- unless template.name == '404' -%}
  {% unless request.path contains "account" or request.path contains "tools/recurring/portal" %}
    <div class="spacer"></div><!-- /.spacer -->
  {% endunless %}
{%- endunless -%}

<div class="pre-footer">
  <div class="page-width">
    <div class="blocks">
      {%- for block in section.blocks -%}
        {%- assign _block = block.settings -%}
        <div class="block block--{{block.type}} block--{{block.id}} block--{{forloop.index}}-{{section.blocks.size}}">
          {%- case block.type -%}
            {% when "newsletter" %}
              {%- assign block_title = _block.title -%}
              {%- assign block_newsletter = _block.newsletter -%}
              {%- assign block_background_color = _block.background_color -%}
              {%- if block_title != blank -%}
                <h3>{{block_title}}</h3>
              {%- endif -%}
              {%- if _block.copy != blank -%}
                <div style="margin-bottom: 10px;color: {{_block.text_color}};">{{_block.copy}}</div>
              {%- endif -%}
              {{ block_newsletter }}
            {% when "link_box" %}
              {%- assign block_title = _block.title -%}
              {%- assign block_description = _block.description -%}
              {%- assign block_link = _block.link -%}
              {%- assign block_background_color = _block.background_color -%}
              <a href="{{block_link}}">
                {%- if block_title != blank -%}
                  <h3>{{block_title}}</h3>
                {%- endif -%}
                {%- if block_description != blank -%}
                  <p>{{block_description}}</p>
                {%- endif -%}
              </a>
          {%- endcase -%}
          <style type="text/css" media="screen">
            .blocks .block--{{block.id}},
            .blocks .block--{{block.id}}:before,
            .blocks .block--{{block.id}}:after { background-color: {{block_background_color}} }
          </style>
        </div><!-- /.block -->
        {%- unless forloop.last -%}
          <div class="divider"></div><!-- /.divider -->
        {%- endunless -%}
      {%- endfor -%}
    </div><!-- /.blocks -->
  </div><!-- /.page-width -->
</div><!-- /.pre-footer -->

{% schema %}
{
  "name": "Pre-Footer",
  "max_blocks": 3,
  "blocks": [
    {
      "type": "newsletter",
      "name": "Newsletter",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "copy",
          "label": "Description"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color"
        },
        {
          "type": "html",
          "id": "newsletter",
          "label": "Newsletter Code"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color"
        }
      ]
    },
    {
      "type": "link_box",
      "name": "Link Box",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color"
        }
      ]
    }
  ]
}
{% endschema %}

