<div class="product">
  <div class="page-width">
    {% render 'breadcrumbs', divider: '/' %}

    <div class="flex space wrap product-page" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">

      {%- assign current_variant = product.selected_or_first_available_variant -%}
      {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

      <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
      <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
      <meta itemprop="brand" content="{{ product.vendor }}">
      <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
      <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

      <div class="product-images">
        <div class="flex baseline wrap space">
          {% if product.images.size > 1 %}
            <ul class="thumbnails" data-slick='{"responsive":[{"breakpoint": 1024,"settings": {"vertical": false,"verticalSwiping":false}}]}'>
              {% for image in product.images %}
                {% unless image.alt contains 'feature' %}
                  <li>
                    <div class="thumbnails__image">
                      <img src="{{ image.src | img_url: '160x160' }}" alt="{{ image.alt | escape }}">
                    </div>
                  </li>
                {% endunless %}
              {% endfor %}
            </ul>
          {% endif %}
          <div class="featured{% if product.images.size > 1 %} has-thumbnails{% endif %}">
            {% for image in product.images %}
              {% unless image.alt contains 'feature' %}
                <div>
                  <a data-fancybox="gallery" href="{{ image.src | img_url: 'master' }}">
                    <img src="{{ image.src | img_url: '550x' }}" alt="{{ image.alt | escape }}" class="product-gallery">
                  </a>
                </div>
              {% endunless %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="product-column">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
        <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">
        <product-form>
          {% render "form-error" %}
          <form action="/cart/add" data-productid="{{ product.id }}" class="add-to-cart-form" method="post" enctype="multipart/form-data">
          <!-- Begin ReCharge code -->
          {% if product.available %}{% include 'subscription-product' %}{% endif %}
          <!-- End ReCharge code -->
          <grid-badges 
            data-compare-at-price="{{product.compare_at_price}}" 
            data-price="{{product.price}}"
            data-available="{{product.available}}"
            data-tags="{{product.tags | join: ","}}"
          /></grid-badges>
          <h1 class="product-title heading">{{ product.title }}</h1>

          <div data-price-wrapper class="product__price" style="display:flex; flex-direction: row; gap: 12px; align-items: center;">
            <span data-product-price style="display: block">
              {% render 'price' with product as product %}
            </span>
            {% render 'junip-product-summary', product: product %}
          </div>

          <div class="product-description rte">
            {% if product.description contains "---" %}
              {{ product.description | split: "---" | first }}
            {% else %}
              {{ product.description }}
            {% endif %}
          </div>
          {% unless product.tags contains "OOS" %}
          {% unless product.has_only_default_variant or product.variants.size == 1 %}
            {% for option in product.options_with_values %}
              <div class="selector-wrapper js">
                <label for="SingleOptionSelector-{{ forloop.index0 }}">
                  {{ option.name }}
                </label>

                <select
                  id="SingleOptionSelector-{{ forloop.index0 }}"
                  data-single-option-selector
                  data-index="option{{ option.position }}">
                  {% for value in option.values %}
                    <option
                      value="{{ value | escape }}"
                      {% if option.selected_value == value %}selected="selected"{% endif %}>
                        {{ value }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            {% endfor %}
          {% endunless %}

          <select name="id" data-productid="{{ product.id }}" class="no-js" data-product-select>
            {% for variant in product.variants %}
              <option
                {% if variant == current_variant %}selected="selected"{% endif %}
                {% unless variant.available %}disabled="disabled"{% endunless %}
                value="{{ variant.id }}">
                  {{ variant.title }}
              </option>
            {% endfor %}
          </select>

          {%- assign product_tags = product.tags | join: '|' | prepend: '|' | append: '|' -%}
		  {% unless product.tags contains "hidden" or product.tags contains "Hidden" %}
          <div class="flex space add-to-cart">
            {%- if product_tags contains '|subscription|' -%}
              <input type="hidden" name="quantity" value="1">
            {% else %}
              {% render 'quantity' %}
            {%- endif -%}

            <button
              class="btn"
              type="submit"
              name="add"
              data-add-to-cart
              {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                <span data-add-to-cart-text>
                  {% if current_variant.available %}
                    {{ 'products.product.add_to_cart' | t }}
                  {% else %}
                    {{ 'products.product.sold_out' | t }}
                  {% endif %}
                </span>
                <div class="loading-overlay__spinner hidden">
                  <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                  </svg>
                </div>
            </button>
          </div>
          {% endunless %}
          {% else %}
                {% render "klaviyo-bis", product: product %}
          {% endunless %}
        </form>
      </product-form>
      </div>
      {% unless product == empty %}
        <script type="application/json" data-product-json>
          {{ product | json }}
        </script>
      {% endunless %}
    </div>
  </div>


  {% if product.description contains "---" %}
{% comment %}
    <div class="secondary-description">
      <div class="product-description page-width rte">
        {% for image in product.images %}
          {% if image.alt contains 'feature' %}
            <div class="feature-image"><img src="{{ image.src | img_url: '800x550' }}" alt="{{ image.alt | escape }}"></div>
          {% endif %}
        {% endfor %}
        {{ product.description | split: "---" | last }}
      </div>
    </div> {% endcomment %}
  {% endif %}
</div><!-- /.product -->

{% schema %}
  {
    "name": "Product pages",
    "settings": [
    ]
  }
{% endschema %}