{%- assign _section = section.settings -%}
{%- assign is_banner_visible = _section.banner_toggle -%}

{%- if is_banner_visible -%}
  <section class="section-promo-banner" style="background-color: {{ _section.background_color }};">
    <div class="section__cols">
      {%- if _section.left_title != blank -%}
        <div class="section__col">
          <div class="section__inner">
            {%- if _section.left_image != blank and _section.left_image_toggle -%}
              <img class="section__image" src="{{- _section.left_image | img_url: '120x' -}}" width="75" alt="{{- _section.left_image.alt | escape -}}">
            {%- endif -%}

            <div class="section__content">
              <h2 style="color: {{ _section.title_color }};">{{- _section.left_title | newline_to_br | remove: '<p>' | remove: '</p>' -}}</h2>

              {%- if _section.left_subtitle != blank -%}
                <p style="color: {{ _section.subtitle_color }};">{{- _section.left_subtitle | newline_to_br | remove: '<p>' | remove: '</p>' -}}</p>
              {%- endif -%}
            </div>
          </div>
        </div>
      {%- endif -%}

      {%- if _section.right_title != blank -%}
        <div class="section__col">
          <div class="section__inner">
            {%- if _section.right_image != blank and _section.right_image_toggle -%}
              <img class="section__image" src="{{- _section.right_image | img_url: '120x' -}}" width="75" alt="{{- _section.right_image.alt | escape -}}">
            {%- endif -%}

            <div class="section__content">
              <h2 style="color: {{ _section.title_color }};">{{- _section.right_title | newline_to_br | remove: '<p>' | remove: '</p>' -}}</h2>

              {%- if _section.right_subtitle != blank -%}
                <p style="color: {{ _section.subtitle_color }};">{{- _section.right_subtitle | newline_to_br | remove: '<p>' | remove: '</p>' -}}</p>
              {%- endif -%}
            </div>
          </div>
        </div>
      {%- endif -%}
    </div>
  </section>
{%- endif -%}

<style type="text/css" media="screen">
  .section-promo-banner p a {
    color: {{ _section.link_color }};
  }
</style>

{% schema %}
{
  "name": "Promo banner",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "checkbox",
      "id": "banner_toggle",
      "label": "Show/Hide",
      "default": true
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title color",
      "default": "#01bcbe"
    },
    {
      "type": "color",
      "id": "subtitle_color",
      "label": "Subtitle color",
      "default": "#4d4d4d"
    },
    {
      "type": "color",
      "id": "link_color",
      "label": "Link color",
      "default": "#f55568"
    },
    {
      "type": "header",
      "content": "Left content"
    },
    {
      "type": "image_picker",
      "id": "left_image",
      "label": "Image"
    },
    {
      "type": "checkbox",
      "id": "left_image_toggle",
      "label": "Show/Hide image",
      "default": true
    },
    {
      "type": "richtext",
      "id": "left_title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "left_subtitle",
      "label": "Subtitle"
    },
    {
      "type": "header",
      "content": "Right content"
    },
    {
      "type": "image_picker",
      "id": "right_image",
      "label": "Image"
    },
    {
      "type": "checkbox",
      "id": "right_image_toggle",
      "label": "Show/Hide image",
      "default": true
    },
    {
      "type": "richtext",
      "id": "right_title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "right_subtitle",
      "label": "Subtitle"
    }
  ],
  "presets": [
    {
      "name": "Promo banner",
      "category": "Home Sections"
    }
  ]
}
{% endschema %}
