{% assign _blocks = section.blocks %}


<section class="section-text-image section-text-image--secondary">
  <div class="section__shell">
    <div class="section__inner">
      {% for block in _blocks %}
        {% assign _block = block.settings %}

        <div class="section__item {% if _block.reverse_layout %}section__item--reversed{% endif %}">
          {% if _block.col_textarea_1 != blank %}
            <div class="section__content">
              {% if _block.title != blank %}
                <h2 class="section__title">{{ _block.title }}</h2><!-- /.section__title -->
              {% endif %}

              <div class="section__entry">{{ _block.col_textarea_1 }}</div><!-- /.section__entry -->
            </div><!-- /.section__content -->
          {% endif %}

          {% if _block.image != blank or _block.col_textarea_2 != blank %}
            <div class="section__media">
              {% if _block.image != blank %}
                <div class="section__image">
                  <span>
                    <img src="{{ _block.image | img_url: '1046x' }}">
                  </span>

                  <div class="section__image-shadow" style="background-color: {{ _block.image_color }}"></div><!-- /.section__image-shadow -->
                </div><!-- /.section__image -->
              {% endif %}

              {% if _block.col_textarea_2 != blank %}
                <div class="section__entry">{{ _block.col_textarea_2 }}</div><!-- /.section__entry -->
              {% endif %}
            </div><!-- /.section__media -->
          {% endif %}
        </div><!-- /.section__item -->

        {% unless forloop.last %}
          <div class="section__dots"></div><!-- /.section__dots -->
        {% endunless %}
      {% endfor %}
    </div><!-- /.section__inner -->
  </div><!-- /.section__shell -->
</section><!-- /.section-text-image -->

{% schema %}
{
  "blocks": [
    {
      "type": "Item",
      "name": "Item",
      "settings": [
        {
          "type": "header",
          "content": "Column 1"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "col_textarea_1",
          "label": "Column Text"
        },
        {
          "type": "header",
          "content": "Column 2"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Section Image"
        },
        {
          "type": "color",
          "id": "image_color",
          "label": "Image Color"
        },
        {
          "type": "richtext",
          "id": "col_textarea_2",
          "label": "Column Text"
        },
        {
          "type": "checkbox",
          "id": "reverse_layout",
          "label": "Reverse Columns",
          "default": false
        }
      ]
    }
  ]
}
{% endschema %}