{% assign _section = section.settings %}

<div class="page-width section__shell">
  <div class="section__inner">
    {% if _section.image_mobile != blank %}
      <div class="section__image section__image--mobile">
        <img src="{{ _section.image_mobile | img_url: '652x'}}" alt="">
      </div><!-- /.section__image -->
    {% endif %}

    <div class="section__content">
      {% if _section.title != blank %}
        <h2 class="section__title">{{ _section.title }}</h2><!-- /.section__title -->
      {% endif %}

      {% if _section.description != blank %}
        <div class="section__entry">
          {{ _section.description }}
        </div><!-- /.section__entry -->
      {% endif %}

      {% if _section.button_label != blank and _section.button_url != blank %}
        <div class="section__actions">
          <a href="{{ _section.button_url }}" class="btn section__btn">{{ _section.button_label }}</a>
        </div><!-- /.section__actions -->
      {% endif %}
    </div><!-- /.section__content -->

    {% if _section.image != blank %}
      <div class="section__image {% if _section.image_mobile %}section__image--hidden{% endif %}">
        <img src="{{ _section.image | img_url: '1382x'}}" alt="">
      </div><!-- /.section__image -->
    {% endif %}

  </div><!-- /.section__inner -->
</div><!-- /.page-width -->

{% schema %}
{
  "name": "Device",
  "tag": "section",
  "class": "section-device",
  "settings": [
  {
    "type": "image_picker",
    "id": "image",
    "label": "Image"
  },
  {
    "type": "image_picker",
    "id": "image_mobile",
    "label": "Image mobile"
  },
  {
    "type": "text",
    "id": "title",
    "label": "Title"
  },
  {
    "type": "richtext",
    "id": "description",
    "label": "Description"
  },
  {
   "type": "text",
   "id": "button_label",
   "label": "Button label"
  },
  {
   "type": "url",
   "id": "button_url",
   "label": "Button link"
  }]
}
{% endschema %}
