
<div class="shopping-list page-width" id="shopping-list-section">
  <h1 class="h1">{{section.settings.title}}</h1>
  <p class="subtitle">{{section.settings.subtitle}}</p>
  <div class="shopping-list__clubs">
    {% for block in section.blocks %}
      <div class="shopping-list__club">
        <div class="shopping-list__header raddish-card">
          <div class="shopping-list__left" style="background-color: {{block.settings.color}}">
            {% render 'image', _image: block.settings.icon, alt: block.settings.icon.alt %}
            <h4 class="heading-mobile">{{block.settings.title | split: " " | first}}</h4>
            <h4>{{block.settings.title}}</h4>
            <span class="plus"></span>
          </div>
          <div class="shopping-list__right">
            <p>{{block.settings.mobile_desc}}</p>
            <span class="plus"></span>
          </div>
        </div>
        <div class="shopping-list__container">
          <div class="shopping-list__content">
            {% comment %}
            {% render 'image', _image: block.settings.image, alt: block.settings.image.alt %}
             {% endcomment %}
            <div>
              {{block.settings.this_month_desc}}
            </div>
            <div class="bottom-buttons">
              {% if block.settings.this_month_button_link != blank %}
              <a href="{{block.settings.this_month_button_link}}" target="_blank" class="join-button btn">{{block.settings.this_month_button_label}}</a>
              {% endif %}
              <a href="{{block.settings.this_month_button_link_inst}}" target="_blank" class="join-button btn btn--instacart">
                <svg width="17" height="22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.381 3.577c-.909 0-1.58.415-2.173 1.33L10.47 7.57V0H6.282v7.569L4.543 4.907c-.632-.915-1.303-1.33-2.212-1.33C.948 3.577 0 4.657 0 5.989c0 1.123.514 1.871 1.58 2.62l6.756 4.574 6.756-4.574c1.067-.749 1.58-1.456 1.58-2.62.04-1.331-.908-2.412-2.29-2.412Z" fill="#0AAD0A"/><path d="M8.336 14.306c4.03 0 7.31 3.161 7.31 7.694H1.027c0-4.533 3.32-7.694 7.31-7.694Z" fill="#FF7009"/></svg>
                <span>{{block.settings.this_month_button_label_inst}}</span>
              </a>
            </div>
          </div>
          <hr>
          <div class="shopping-list__content">
            {% comment %}
            {% render 'image', _image: block.settings.image, alt: block.settings.image.alt %}
             {% endcomment %}
            <div>
              {{block.settings.last_month_desc}}
            </div>
            <div class="bottom-buttons">
              {% if block.settings.last_month_button_link != blank %}
              <a href="{{block.settings.last_month_button_link}}" target="_blank" class="join-button btn">{{block.settings.last_month_button_label}}</a>
              {% endif %}
              <a href="{{block.settings.last_month_button_link_inst}}" target="_blank" class="join-button btn btn--instacart">
                <svg width="17" height="22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.381 3.577c-.909 0-1.58.415-2.173 1.33L10.47 7.57V0H6.282v7.569L4.543 4.907c-.632-.915-1.303-1.33-2.212-1.33C.948 3.577 0 4.657 0 5.989c0 1.123.514 1.871 1.58 2.62l6.756 4.574 6.756-4.574c1.067-.749 1.58-1.456 1.58-2.62.04-1.331-.908-2.412-2.29-2.412Z" fill="#0AAD0A"/><path d="M8.336 14.306c4.03 0 7.31 3.161 7.31 7.694H1.027c0-4.533 3.32-7.694 7.31-7.694Z" fill="#FF7009"/></svg>
                <span>{{block.settings.last_month_button_label_inst}}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<style>
  
  .shopping-list__club.open .shopping-list__right p {
    display: none;
  }

  .shopping-list__club.open .shopping-list__left {
      padding: 20px 0;
      min-height: 66px;
  }
  .bottom-buttons .btn {
    max-width: 255px;
    margin: 0 auto;
  }
  .shopping-list h1 {
    font-size: 40px;
    color: #4D4D4D;
    margin-top: 40px;
    margin-bottom: 70px;
  }
  .bottom-buttons .btn.btn--instacart {
    max-width: 230px;
    border-radius: 100px;
    background: #003D29;
    color: #FAF1E5;
    font-weight: 700;
    text-transform: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-height: 46px;
    letter-spacing: 0;
  }
  .shopping-list__container hr {
    background: #4D4D4D;
    color: #4D4D4D;
    height: 1px;
    border: none;
    margin-top: 26px;
    display: inline-block;
    width: 100%;
  }
  .shopping-list__container {
    padding: 20px 28px 14px;
  }
  .shopping-list .bottom-buttons {
    display: flex;
    margin-top: auto;
    gap: 22px;
    flex-direction: column;
    margin-top: 22px;
  }
  .shopping-list .bottom-buttons a.btn--o:hover {
      background: #f3576b;
      color: white;
  }
  .shopping-list .bottom-buttons a {padding: 18px 0 !important;}

  .shopping-list .bottom-buttons a.btn--o {
      background: transparent;
      border: 2px solid #f3576b;
      color: #f3576b;
  }
  .shopping-list__content p {
      margin-top: 6px;
      margin-bottom: 6px;
      text-align: center;
      font-size: 18px;
      padding: 0 1px;
  }

  .shopping-list__content .join-button {
      width: 100%;
      margin-top: 8px;
      max-height: 54px;
      line-height: 18px;
  }

  .shopping-list__content a {
      font-weight: bold;
  }

  .shopping-list__content {
      font-size: 18px;
      transition: max-height .3s ease;
      margin: 16px;
  }

  .shopping-list__club { margin-bottom: 20px;}

  .shopping-list__left {
      transition: width .3s ease;
  }

  .shopping-list__club.open {
      margin-bottom: 24px;
  }

  .shopping-list__right p {
    margin: 0;
  }

  .shopping-list__right {
      padding-left: 8px;
      position: relative;
      display: flex;
      align-items: center;
      flex:1;
      width: auto;
  }

  .shopping-list__right .plus {
      margin-top: 0;
      margin-right: 1.5rem;
  }

  .shopping-list__content {
      max-height: 0;
      overflow: hidden;
  }

  .shopping-list__club.open .shopping-list__content {
      max-height: 500px;
  }

  .shopping-list__club.open {
      border: 0.875px solid rgba(77, 77, 77, 0.19971);
      box-shadow: 0px 2px 4px rgba(77, 77, 77, 0.201868);
      border-radius: 8px;
  }

  .shopping-list__club.open .shopping-list__header  {
      border: none;
      box-shadow: none;
      max-height: 50px;
  }

  .shopping-list__club.open .shopping-list__left {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      width: 100%;
      padding: 0;
      flex-direction: row;
  }

  .shopping-list__club.open .shopping-list__right {
      width: 0;
      padding: 0;
      overflow: hidden;
      flex-direction: row;
  }

  .shopping-list__club.open  .shopping-list__left h4 {
      margin-left: 10px;
  }

  .open.shopping-list__club .plus {
      background-image: url({{"blue-minus.png" | asset_url}});
      display: block;
  }

  .shopping-list__club .plus {
      margin-left: auto;
      width: 12px;
      flex: 0 0 15px;
      height: 20px;
      display: inline-block;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-image: url({{"blue-plus.png" | asset_url}});
      margin-right: 10px;
      margin-top: 5px;
  }

  .shopping-list__left .plus {
      display: none;
  }
  .shopping-list__left .plus {
      position: absolute;
      right: 8px;
  }

  .shopping-list__left {
      position: relative;
  }
  .shopping-list h1 {
    text-align: center;
    line-height: 36px;
  }

  .shopping-list {
      padding-top: 24px;
      padding-bottom: 10px;
  }

  .shopping-list .subtitle {
      font-family: 'KG HAPPY Solid';
      font-size: 18px;
      text-align: center;
      margin-top: 0;
  }

  .shopping-list__header {
      display: flex;
      flex-direction: row;
  }

  .shopping-list__left {
      min-width: 110px;
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 8px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;

  }

  .shopping-list__left h4 {
      margin-top: 2px;
      margin-bottom: 0;
      font-family: 'KG HAPPY Solid';
      font-size: 18px;
  }

  .shopping-list__left img {
      max-width: 32px;
  }
  .shopping-list__left .heading-mobile {
    display: none;
  }
  @media screen and (max-width: 750px) {
    .shopping-list h1 {
      font-size: 26px;
      margin-bottom: 30px;
      margin-top: 10px;
    }
    .shopping-list__club:not(.open) .shopping-list__container {
      {% comment %} position: absolute;
      opacity: 0; {% endcomment %}
      display: none;
    }
    .shopping-list__header {
      cursor: pointer;
    }

    .shopping-list__club:not(.open) {
      max-height: 90px;
    }

    .shopping-list__club:not(.open) .shopping-list__container hr {
      display: none;
    }
    .shopping-list__left .heading-mobile + h4 {
      display: none;
    }
    .shopping-list__left .heading-mobile {
      display: block;
      margin-bottom: -4px;
    }
  }
  @media screen and (min-width: 750px) {

    .shopping-list__club .shopping-list__content {
        max-height: 500px;
        {% comment %} height: calc(100% - 80px); {% endcomment %}
        display: flex;
        flex-direction: column;
    }

    .shopping-list__club {
        border: 0.875px solid rgba(77, 77, 77, 0.19971);
        box-shadow: 0px 2px 4px rgba(77, 77, 77, 0.201868);
        border-radius: 8px;
    }

    .shopping-list__club .shopping-list__header  {
        border: none;
        box-shadow: none;
        max-height: 50px;
    }

    .shopping-list__club .shopping-list__left {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 100%;
        padding: 0;
        flex-direction: row;
    }

    .shopping-list__club .shopping-list__right {
        width: 0;
        padding: 0;
        overflow: hidden;
        flex-direction: row;
    }

    .shopping-list__club  .shopping-list__left h4 {
        margin-left: 10px;
    }

    .shopping-list__club .plus {
        background-image: url({{"blue-minus.png" | asset_url}});
        display: none;
    }
    .shopping-list__clubs {
        display: flex;
        /* align-items: center; */
        gap: 40px;
        justify-content: center;
        margin-top: 4rem;
    }

    .shopping-list__club {
        flex: 1;
    }

    .shopping-list__content .join-button {
      margin-top: auto;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    $("#shopify-section-{{section.id}} .shopping-list__club .shopping-list__header").on('click', function() {
      $(event.currentTarget).closest(".shopping-list__club").toggleClass("open")
    })
  })
</script>

{% schema %}
  {
    "name": "Shopping Lists",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Shopping Lists"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      }
    ],
    "blocks": [
      {
        "type": "club",
        "name": "Club",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "color",
            "id": "color",
            "label": "Color"
          },
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          },
          {
            "type": "textarea",
            "id": "mobile_desc",
            "label": "Description",
            "default": "Shopping Lists"
          },
          {
            "type": "header",
            "content": "This month"
          },
          {
            "type": "richtext",
            "id": "this_month_desc",
            "label": "Description"
          },
          {
            "type": "url",
            "id": "this_month_button_link",
            "label": "Button Link"
          },
          {
            "type": "text",
            "id": "this_month_button_label",
            "label": "Button Label",
            "default": "Learn More"
          },
          {
            "type": "url",
            "id": "this_month_button_link_inst",
            "label": "Instacart button link"
          },
          {
            "type": "text",
            "id": "this_month_button_label_inst",
            "label": "Instacart button label",
            "default": "Shop with Instacart"
          },
          {
            "type": "header",
            "content": "Last month"
          },
          {
            "type": "richtext",
            "id": "last_month_desc",
            "label": "Description"
          },
          {
            "type": "url",
            "id": "last_month_button_link",
            "label": "Button Link"
          },
          {
            "type": "text",
            "id": "last_month_button_label",
            "label": "Button Label",
            "default": "Learn More"
          },
          {
            "type": "url",
            "id": "last_month_button_link_inst",
            "label": "Instacart button link"
          },
          {
            "type": "text",
            "id": "last_month_button_label_inst",
            "label": "Instacart button label",
            "default": "Shop with Instacart"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Shoppoing Lists"
      }
    ]
  }
{% endschema %}