<div class="club-landing-navigation {% unless section.settings.show_mobile %} hidden-xs {% endunless %}{% unless section.settings.show_desktop %} hidden-sm hidden-md hidden-lg{% endunless %}"">
  <div class="club-landing-navigation__header" style="background-color: {{section.settings.background_color}};">
    {% render 'image': _image: section.settings.club_image %}
    <h4 class="h4">{{section.settings.title}}</h4>
  </div>
  <div class="club-landing-navigation__nav-container" style="">
    {% for block in section.blocks %}
      <a class="{% if forloop.first %}active{% endif %}" data-href="{{block.settings.nav_link}}">{{block.settings.title}}</a>
    {% endfor %}
  </div>
</div>

<script>
  
  document.addEventListener("DOMContentLoaded", function() {
    $(".club-landing-navigation__nav-container a").on('click', function(event) {
      event.preventDefault();
      event.stopPropagation();
      const id = $(event.target).attr("data-href");
      console.log({id})
      $('body,html').animate({
          scrollTop: $(id).offset().top - 150
      }, 100);
    })
    const $nav = $("#shopify-section-{{section.id}} .club-landing-navigation__nav-container")
    $nav.slick({
      slidesToShow: 4,
      slidesToScroll: 4,
      autoplay: false,
      dots: false,
      infinite: false,
      arrows: false,
      variableWidth: true,
      centerMode: false
    })
    $.fn.isInViewport = function() {
      var elementTop = $(this).offset().top - 100;
      var elementBottom = elementTop + $(this).outerHeight() - 100;

      var viewportTop = $(window).scrollTop();
      var viewportBottom = viewportTop + $(window).height();

      return elementBottom > viewportTop && elementTop < viewportBottom;
    };
    var navElements = []
    $(".club-landing-navigation__nav-container a").each((index, el) => navElements.push($(el).attr("data-href")))
    var currentlyActive = $(".club-landing-navigation__nav-container a.active").attr("data-href");
    // $(window).on('resize scroll', function() {
    //   var currentlyInViewPort = []
    //   navElements.map(id => {
    //     if($(id).isInViewport()) {
    //       currentlyInViewPort.push(id);
    //     }
    //   });
    //   if(currentlyInViewPort.length && currentlyActive !=  currentlyInViewPort[0]) {
    //     currentlyActive = currentlyInViewPort[0];
    //     const index = navElements.indexOf(currentlyInViewPort[0]);
    //     $nav.slick('slickGoTo', index)
    //     $(".club-landing-navigation__nav-container a").removeClass("active");
    //     $(`.club-landing-navigation__nav-container a[data-href="${currentlyInViewPort[0]}"]`).addClass("active")
    //   }
    // });
  })
  var navElements = []

</script>

<style>
  .club-landing-navigation__nav-container {
    padding: 0 8px;
    border: 0.875px solid rgba(77, 77, 77, 0.19971);
    box-shadow: 0px 2px 4px rgba(77, 77, 77, 0.201868);
    background: white;
  }
  .club-landing-navigation__nav-container a.active:after {
      content: "";
      width: calc(100% - 16px);
      height: 2px;
      display: block;
      position: absolute;
      bottom: 0;
      background: #F3576B;
      bottom: 0;
  }

  .club-landing-navigation__nav-container a {
      position: relative;
  }
  .club-landing-navigation__nav-container a {
      font-family: 'KG HAPPY Solid';
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      line-height: 18px;
      color: #4D4D4D;
      padding: 9px 8px;
  }
  .club-landing-navigation__header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .club-landing-navigation__header h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 0;
    color: #4D4D4D;
  }

  .club-landing-navigation__header picture {
    max-width: 60px;
    max-height: 60px;
    margin-right: 1rem;
  }

  .club-landing-navigation__header {
    padding: 8px;
  }

  .sticky-club-navigation {
    /* position: sticky; */
    top: 0;
    z-index: 200001;
  }
  .club-landing-navigation__nav-container {
    display: none !important;
  }
</style>
{% schema %}
{
  "name": "Club Landing Navigation",
  "class": "sticky-club-navigation",
  "settings": [      
    {
      "type": "checkbox",
      "id": "show_mobile",
      "label": "Show Mobile",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_desktop",
      "label": "Show Desktop",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Club Title"
    },
    {
      "type": "image_picker",
      "id": "club_image",
      "label": "Club Icon"
    },
    {
      "type": "url",
      "id": "bottom_buttom_url",
      "label": "Bottom Button Url"
    },
    {
      "type": "text",
      "id": "bottom_buttom_label",
      "label": "Bottom Button Label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    }
  ],
  "presets": [
    {
      "name": "Club Landing Navigation",
      "category": "Landing"
    }
  ],
  "blocks": [
    {
      "type": "nav_item",
      "name": "Nav Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Nav Title"
        },
        {
          "type": "url",
          "id": "nav_link",
          "label": "Nav Link"
        }
      ]
    }
  ]
}
{% endschema %}