<script src="{{ 'tinybind.js' | asset_url }}"></script>
{% assign raddish_plus = all_products["raddish-plus"] %}
{% assign raddish_plus_id = raddish_plus.selected_or_first_available_variant.id %}
{% assign raddish_plus_sub_id = raddish_plus.metafields.subscription.id %}
{% assign steps = section.blocks | where: "type", "steps" | first | map: "settings" | first %}
{% assign total_steps = 4 %}

<div>
<div id="subscription-builder-widget" class="subscription-builder-v2" data-start-step="{{ section.settings.start_step }}" section-id="{{ section.id }}">
  <div class="wrap">
    {% render "subscription-progress-bar", steps: steps, total_steps: total_steps %}
    <div class="subscription-progress__container-desktop">
      <div class="subscription-builder__steps" rv-data-test="state.activeStep" rv-data-test="state.activeStep | minus 1 | times 25" rv-style="state.activeStep | minus 1 | times -25  | append '%)' | prepend 'translateX(' | style 'transform'">
        {% for i in (1..total_steps) %}
          {% capture key %}subscription-builder-v2--step-{{i}}{% endcapture %}
          {% include key, steps: steps, section: section, card_class: "subscription-builder-v2-card", title_class: "subscription-builder-v2-title" %}
        {% endfor %}
      </div>
    </div>
    {% render "subscription-modal" %}
</div>
{% if section.settings.note_1 != blank or section.settings.note_2 != blank %}
  <div class="bottom-notes">
    {% if section.settings.note_1 != blank %}<p>{{ section.settings.note_1 }}</p>{% endif %}
    {% if section.settings.note_2 != blank %}<p class="note-2">
      {{ section.settings.note_2 }}
      <button type="button" class="note-2__tooltip-container">
        ⓘ
        <span class="note-2__tooltip">{{ section.settings.note_2_tooltip }}</span>
      </button>
    </p>{% endif %}
  </div>
{% endif %}
</div>
  <script type="application/json" data-plans>
    {% assign col = collections[section.settings.plans_collection] %}
    [
    {% for product in col.products %}
      {
        "sku": {{product.selected_or_first_available_variant.sku | json }},
        "id": {{product.selected_or_first_available_variant.id | json }},
        "product_id": {{product.id | json }},
        "type": {{product.handle | handle | json }},
        "club": {{product.metafields.subscription.type | json }},
        {% assign parts = product.type | downcase | split: "+" %}
        "siblings": {{product.metafields.subscription.siblings | json }},
        "subscription_id": "{{product.metafields.subscription.subscription_id | default: "" }}",
        "length": {{product.metafields.subscription.length | json }},
        "discount_product_id": {{product.metafields.subscriptions.discount_product_id | default: "2" | json }},
        "handle": {{product.handle | json }},
        "subscription_item": "{{product.metafields.subscription.item}}",
        "plan": "{{product.metafields.subscription.plan | default: "?"}}",
        "free_product": "{{product.metafields.subscription.free_product | split: "/" | last }}",
        "free_product_2": "{{product.metafields.subscription.free_product_2 | split: "/" | last }}",
        "free_product_3": "{{product.metafields.subscription.free_product_3 | split: "/" | last }}",
        "selling_plan_id": "{{ product.selling_plan_groups[0].selling_plans[0].id }}"
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
    ]
  </script>
</div>
<div class="hidden hide">
  {% render "gift-options", steps: steps %}
</div>

<script>
  class SubscriptionBuilder {
    constructor(container) {
      this.$container = $(container);
      this.selectors = {
        additionalModalContent: ".additional-content-modal .content > .modal-content",
        cartItems: "#shopify-section-ajax-cart cart-items",
        cartTotals: "#shopify-section-ajax-cart .order__totals",
        checkoutButtons: "#main-cart-footer",
        noteContainer: "#ajax-cart .ajax-cart__note-container",
        closeNote: "#step-4-note .ajax-cart__note-container .gift-note-close",
        openNote: "#step-4-summary .gift-message-button",
        cancelNote: "#step-4-note #button-cancel-note",
        editNote: "#step-4-summary #gift-message-edit",
        deleteNote: "#step-4-summary #gift-message-delete",
        saveNote: "#step-4-note #button-save-note",
        shareTrackingContainer: "#ajax-cart .ajax-cart__share-tracking-container",
        closeShareTracking: "#step-4-share-tracking-note .ajax-cart__share-tracking-container .share-tracking-close",
        openShareTracking: "#step-4-summary .share-tracking-button",
        cancelShareTracking: "#step-4-share-tracking-note #button-cancel-share-tracking",
        editShareTracking: "#step-4-summary #share-tracking-edit",
        deleteShareTracking: "#step-4-summary #share-tracking-delete",
        saveShareTracking: "#step-4-share-tracking-note #button-save-share-tracking",
        subscriptionSummary: "#step-4-summary",
        subscriptionTotals: ".subscription-step-v2--4 .order__totals",
        step4Note: "#step-4-note",
        step4ShareTrackingNote: "#step-4-share-tracking-note",
        subscriptionSummaryUpsells: "#step-4-upsells",
        subscriptionSummaryButtons: "#step-4-buttons",
        subscriptionSummaryNote: "#step-4-note",
        subscriptionSummaryShareTracking: "#step-4-share-tracking-note",
        reviewButton: '.sub-v2-step--3 .button-checkout'
      }
      this.customer = {
        email: {{customer.email | json }},
        first_name: {{customer.first_name | json }},
        last_name: {{customer.last_name | json }}
      }
      this.data = {
        collections: null
      }
      this.cache = {}
      this.state = {
        lastStepStateChanged: false,
        touched: false,
        completedSteps: [1],
        activeStep: 1,
        modalOpen: false,
        buyNowShipLater: false,
        shipNow: true,
        shipDecember: false,
        shipJanuary: false,
        subscription: {
          club: "",
          plan_length: '',
        },
        parent: {
          first_name: '',
          last_name: '',
          email: ''
        },
        note: {{cart.note | json }},
        shareTracking: "",
        extraItems: {
          'sibling_bundle': '0'
        }
      }
      this.methods = {
        changeStep: this.changeStep.bind(this),
        goBack: this.goBack.bind(this),
        goToFirstStep: this.goToFirstStep.bind(this),
        updateSubscription: this.updateSubscription.bind(this),
        updateSubscriptionProperty: this.updateSubscriptionProperty.bind(this),
        updateBuyNowShipLater: this.updateBuyNowShipLater.bind(this),
        updateParentProperty: this.updateParentProperty.bind(this),
        updateShareSharing: this.updateShareSharing.bind(this),
        openAdditionalContent: this.openAdditionalContent.bind(this),
        closeModal: this.closeModal.bind(this),
        addUpsellToSubscription: this.addUpsellToSubscription.bind(this),
        removeUpsellFromSubscription: this.removeUpsellFromSubscription.bind(this),
        changeNote: this.changeNote.bind(this),
        changeBnsl: this.changeBnsl.bind(this),
        addToCart: this.addToCart.bind(this),
        openModalOnLastStep: this.openModalOnLastStep.bind(this),
        openShareTrackingModalOnLastStep: this.openShareTrackingModalOnLastStep.bind(this)
      }
      this.ajaxCart = document.querySelector('ajax-cart');

      this.loadData();
      this.setupFormatters();
      this.setSubscription.bind(this);
      // Uncomment line below to reenable setting stored subscription on page load:
      this.setSubscription(); 
      this.bindState();
      this.updateSubscriptionProperty.bind(this)
      this.sendKlaviyoAbandonedEvent.bind(this)
      this.addEventListener.bind(this)
      this.setState.bind(this)
      this.addEventListener();
      this.bindAbandonedEvents();
      // if(this.customer.email) this.bindAbandonedEvents();
      // this.setState = this.setState
    }
    bindAbandonedEvents() {
      var self = this
      console.log('binding abandoned events')
      $('a').on('click', function(e){
        // e.preventDefault();
        // e.stopPropagation()
        let url = this.href;
        if(url && url.indexOf("checkout") == -1 ) {
          self.sendKlaviyoAbandonedEvent("page_change");
        }
      })
      window.onbeforeunload = function (event) {
          console.log('before unload ', event, typeof event)
          self.sendKlaviyoAbandonedEvent("browser_closed");
      };
    }

    sendKlaviyoAbandonedEvent(type) {
      console.log('sending Klaviyo event', this.state.touched, this.customer)
      if(this.state.touched && "_learnq" in window) {
        if(this.customer.email) {
          _learnq.push(['identify', {
            '$email' : this.customer.email,
            '$first_name' : this.customer.first_name,
            '$last_name' : this.customer.last_name,
          }]);
        }
        const payload = {
          '$type': type,
          '$step': this.state.activeStep,
          '$club' : this.state.subscription.club,
          '$term' : this.state.subscription.plan_length,
          '$url': window.location.href,
          '$subscription_builder_url': 'https://raddishkids.com/pages/cooking-kits?' + window.location.href.split("?").pop(),
          '$options': {
            '$apron': this.state.extraItems[39874322727071],
            '$cookbook': this.state.extraItems[10117822469],
            '$bundle': this.state.extraItems.sibling_bundle
          }
        }
        const result = _learnq.push(['track', 'Subscription Builder Abandoned', payload]);
      }
    }

    addEventListener() {
      var self = this;
      $(document).on("click", '[data-learn-more-raddish]', self.openAdditionalContent.bind(self))
      $(document).on("click", this.selectors.closeNote, function() {
        $(self.selectors.step4Note).removeClass("gift-note-open");
      })

      $(document).on("click", this.selectors.cancelNote, function() {
        $(self.selectors.step4Note).removeClass("gift-note-open");
      })

      $(document).on("click", this.selectors.editNote, function() {
        $(self.selectors.step4Note).addClass("gift-note-open");
      })

      $(document).on("click", this.selectors.openNote, function() {
        $(self.selectors.step4Note).addClass("gift-note-open");
      })

      $(document).on("click", this.selectors.saveNote, function() {
        self.state.note = '';
        $(self.selectors.step4Note).removeClass("gift-note-open");
      })
      
      $(document).on("click", this.selectors.saveShareTracking, function() {
        const noteValue = $("#step-4-note #share-tracking-note").val();
        self.state.note = noteValue;
        $(self.selectors.step4ShareTrackingNote).removeClass("share-tracking-open");
      })

      $(document).on("click", this.selectors.closeShareTracking, function() {
        $(self.selectors.step4ShareTrackingNote).removeClass("share-tracking-open");
      })

      $(document).on("click", this.selectors.cancelShareTracking, function() {
        $(self.selectors.step4ShareTrackingNote).removeClass("share-tracking-open");
      })

      $(document).on("click", this.selectors.editShareTracking, function() {
        $(self.selectors.step4ShareTrackingNote).addClass("share-tracking-open");
      })

      console.log('open', this.selectors.openShareTracking)
      $(document).on("click", this.selectors.openShareTracking, function() {
        console.log('share tracking open')
        $(self.selectors.step4ShareTrackingNote).addClass("share-tracking-open");
      })

      $(document).on("click", this.selectors.saveShareTracking, function() {
        self.state.shareTracking = '';
      })
      
      $(document).on("click", this.selectors.saveShareTracking, function() {
        const noteValue = $("#step-4-note #share-tracking-note").val();
        self.state.shareTracking = noteValue;
        $(self.selectors.step4ShareTrackingNote).removeClass("share-tracking-open");
      })
    }

    removeUpsellFromSubscription(itemId) {
      this.state.extraItems[`${itemId}`]--;
      this.encodeSubscriptionData();
      this.checkSteps();
    }

    encodeSubscriptionData(relative = false) {
      this.state.touched = true;
      var data = {
        subscription: this.state.subscription,
        completedSteps: this.state.completedSteps,
        extraItems: this.state.extraItems,
        note: this.state.note,
        parent: this.state.parent,
        activeStep: this.state.activeStep,
        buyNowShipLater: this.state.buyNowShipLater,
        shipNow: this.state.shipNow,
        shipDecember: this.state.shipDecember,
        shipJanuary: this.state.shipJanuary
      }
      const encodedData = btoa(JSON.stringify(data))
      if ('URLSearchParams' in window) {
        var searchParams = new URLSearchParams(window.location.search);
        searchParams.set("subscription", encodedData);
        if(relative) {
          searchParams.delete("club");
        }
        {% comment %} var newRelativePathQuery = window.location.pathname + '?' + searchParams.toString(); {% endcomment %}
        {% comment %} history.pushState(null, '', newRelativePathQuery); {% endcomment %}
      }
      try {
        localStorage.setItem('subscription', encodedData);
      } catch (error) {
        console.log(error)        
      }
    }

    setSubscription() {
      console.log('setting sub')
      if ('URLSearchParams' in window) {
        var searchParams = new URLSearchParams(window.location.search);
        var encodedSubscription = searchParams.get("subscription");
        var club = searchParams.get("club");
        var autoselectedClub = "{{section.settings.autoselected_club}}";
        if(!club && autoselectedClub != "none") {
          club = autoselectedClub;
        }
        var self = this
        if(club) {
          this.state = {
            ...this.state,
              subscription: {
              club: club.toUpperCase(),
              plan_length: '',
            },
            extraItems: {
              'sibling_bundle': '0'
            },
            completedSteps: [1],
            activeStep: 1
          }
          setTimeout(function() {
            self.changeStep(2, false);
          }, 500)
          this.encodeSubscriptionData(true);
        } else {
          // TODO: open this if you want to have the save state of the current sub
          {% comment %} if(!encodedSubscription){
            try {
                encodedSubscription = localStorage.getItem('subscription');
            } catch (error) {
              console.log(error);                
            }
          }
          if(encodedSubscription) {
            try {
              var data = {}
              try {
                data = JSON.parse(atob(encodedSubscription))
                console.log(data)
              } catch (error) {
                console.log(error);
              }
              this.state = {
                ...this.state,
                ...data
              }
              console.log('this new state', this.state)
              if(data.completedSteps.indexOf(4) > -1) {
                this.insertCartIntoSummary();
              }
            } catch (error) {
              console.log(error)
            }
          } {% endcomment %}
        }
        // var autoselectedClub = "{{section.settings.autoselected_club}}";
        // console.log({autoselectedClub})
        // if(autoselectedClub != "none") {
        //   this.state = {
        //     ...this.state,
        //     subscription: {
        //       ...this.state.subscription,
        //       club: autoselectedClub
        //     }
        //   }
        //   console.log('state should be udated')
        // }
        // // window.location.search = searchParams.toString();
        // var newRelativePathQuery = window.location.pathname + '?' + searchParams.toString();
        // history.pushState(null, '', newRelativePathQuery);
      }
    }

    generateHash(length) {
      var result = "";
      var timestamp = Date.now();
      var characters =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      var charactersLength = characters.length;
      for (var i = 0; i < length; i++) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
      }
      result += timestamp;
      return result;
    }

    getLandingPage() {
      switch(window.location.pathname) {
        case '/pages/kids-cooking-kits': return 'cooking-lp';
        case '/pages/kids-baking-kits': return 'baking-lp';
        case '/pages/global-cooking-kits': return 'global-lp';
        case '/pages/cooking-kits': return 'subscription-builder-lp';
        default: return 'other'
      }
    }

    getSBOProp() {
      const [date, time] = new Date().toLocaleString("en-US", {timeZone: "America/Los_Angeles"}).split(", ")
      var [month, day, year] = date.split("/").map(s => parseInt(s))
      if(day >= 18) {
        month = month + 1
      }
      if(month == 13) {
        month = 1;
        year = year + 1.
      }
      var stringMonth = ""; 
      switch(month) {
        case 1: stringMonth = "Jan"; break;
        case 2: stringMonth = "Feb"; break;
        case 3: stringMonth = "Mar"; break;
        case 4: stringMonth = "Apr"; break;
        case 5: stringMonth = "May"; break;
        case 6: stringMonth = "Jun"; break;
        case 7: stringMonth = "Jul"; break;
        case 8: stringMonth = "Aug"; break;
        case 9: stringMonth = "Sep"; break;
        case 10: stringMonth = "Oct"; break;
        case 11: stringMonth = "Nov"; break;
        case 12: stringMonth = "Dec"; break;
      }
      return `_SBO_${stringMonth}${year.toString().slice(2,4)}`;
    }

    getSelectedSubscription() {
      var self = this
      return this.data.collections.find(col => {
        return col.club === self.state.subscription.club && col.siblings == self.state.extraItems.sibling_bundle && col.length == self.state.subscription.plan_length
      })
    }

    proceedToCheckout() {
      event.preventDefault()
      event.stopPropagation()
      if(this.state.lastStepStateChanged) {
        this.addToCart().then()
      } else {
      
      }
    }

    addToCart() {
      $(this.selectors.reviewButton).addClass("loading")
      const timestamp = new Date().getTime()
      const subscription = this.getSelectedSubscription();
      // return
      const hash = this.generateHash(10);
      var itemsToAdd = [];
      // return
      // var siblingsCount = this.state.extraItems[this.settings.siblingProductId] || 0;
      // var selectedPlan = this.plans[plan - 1];
      // var productId = selectedPlan.prod_id_siblings[siblingsCount];
      var properties = {
        // _activation_date: new Date().toLocaleString("en-US", {timeZone: "America/Los_Angeles"}).split(",")[0],
        _membership_timestamp: timestamp,
        // _subscription_id: subscription.subscription_id,
        _subscription_hash: hash,
        // _subscription_item: subscription.subscription_item,
        _plan: subscription.plan,
        _landing_page: this.getLandingPage(),
        "Gift Note": this.state.note,
        ...(this.state.shipDecember ? { '_BNSL_Dec23': "True", "Ship": "December"} : {}),
        ...(this.state.shipJanuary ? { '_BNSL_Jan24': "True", "Ship": "January" } : {}),
        ...(this.state.sbo ? { [`${this.getSBOProp()}`]: "True" } : {}),
        ...(this.state.parent.first_name ? {_parent_first_name: this.state.parent.first_name} : {}),
        ...(this.state.parent.last_name ? {_parent_last_name: this.state.parent.last_name} : {})
      }
      
      var planItem =   {
        id: subscription.id,
        quantity: 1,
        properties: properties,
        selling_plan: subscription.selling_plan_id
      }
      itemsToAdd.push(planItem);

      // Add extra items
      var index = 0;
      for (const variantId in this.state.extraItems) {
        var key = `option${index}`;
        index++;
        if(!this.state.extraItems[variantId]) continue;
        if (variantId == 'sibling_bundle') continue;
        itemsToAdd.push({
          id: variantId,
          quantity: this.state.extraItems[variantId],
          properties: {
            [`_${key}`]: "true",
            _membership_timestamp: timestamp,
          }
        })
      }
      // Add free product
      if(subscription.free_product) {
        itemsToAdd.push({
          id: subscription.free_product,
          quantity: 1, 
          properties: {
            _is_gift_with_purchase: true,
            _membership_timestamp: timestamp,
            _gift_product: true,
            _required_products: subscription.product_id
          }
        })
      }

      if(subscription.free_product_2) {
        itemsToAdd.push({
          id: subscription.free_product_2,
          quantity: 1, 
          properties: {
            _is_gift_with_purchase: true,
            _membership_timestamp: timestamp,
            _gift_product: true,
            _required_products: subscription.product_id
          }
        })
      }

      if(subscription.free_product_3) {
        itemsToAdd.push({
          id: subscription.free_product_3,
          quantity: 1, 
          properties: {
            _is_gift_with_purchase: true,
            _membership_timestamp: timestamp,
            _gift_product: true,
            _required_products: subscription.product_id
          }
        })
      }

      var self = this;

      if (this.state.note != '') {
        CartJS.setNote(this.state.note);
      }
      var totalNewItemsCount = itemsToAdd.length;
      var currentItemsCount = CartJS.cart.item_count;
      CartJS.addItems(itemsToAdd, {
        "success": function(cartResponse) {
          fetch('/?sections=ajax-cart,cart-upsells')
            .then(response => response.json())
            .then((response) => {
              console.log('done',self.state.lastStepStateChanged)

              if(self.state.lastStepStateChanged) {
                self.reChargeProcessCart()
              } else {
                self.ajaxCart.renderContents({
                  sections: {
                    'ajax-cart': response['ajax-cart'],
                    'selector': '#ajax-cart'
                  }
                }, false);
                self.insertCartIntoSummary();
                self.insertUpsellsIntoSummary(response['cart-upsells']);
                setTimeout(function() {
                  self.changeStep(4);
                  self.encodeSubscriptionData()
                }, 200);
                var currVal = $("#cart-icon-bubble-mobile span").text();
                var newVal =CartJS.cart.item_count;
                $("#cart-icon-bubble-mobile span").text(newVal);
                $("#cart-icon-bubble span").text(newVal);
                $(self.selectors.reviewButton).removeClass("loading")
              }
            })

        },
        "error": function(response) {
          console.log('error', response)
        }
      })
    }
    
    reChargeProcessCart() {
      window.location.href = '/checkout'
      return
      var token
      function get_cookie(name){ return( document.cookie.match('(^|; )'+name+'=([^;]*)')||0 )[2] }
      do { 
        token=get_cookie('cart');
      } while(token == undefined);	
      var myshopify_domain='{{ shop.permanent_domain }}'
      try { var ga_linker = ga.getAll()[0].get('linkerParam') } catch(err) { var ga_linker ='' }
      var checkout_url= "https://checkout.raddishkids.com/r/checkout?myshopify_domain="+myshopify_domain+"&cart_token="+token+"&"+ga_linker;
      window.location.href = checkout_url
    }

    changeNote(event) {
      this.state.note = event.target.value
      this.encodeSubscriptionData()
    }

    changeBnsl(event) {
      console.log(event.target.id)
      switch(event.target.id) {
        case 'ship-now': {
          this.state.shipNow = true
          this.state.shipDecember = false
          this.state.shipJanuary = false
          break;
        }
        case 'ship-december': {
          this.state.shipNow = false
          this.state.shipDecember = true
          this.state.shipJanuary = false
          break;
        }
        case 'ship-january': {
          this.state.shipNow = false
          this.state.shipDecember = false
          this.state.shipJanuary = true
          break;
        }
      }
    }

    addUpsellToSubscription(itemId) {
      this.state.extraItems[`${itemId}`] || this.state.extraItems[`${itemId}`] > 0
              ? this.state.extraItems[`${itemId}`]++ 
              : this.state.extraItems[`${itemId}`] = 1
      this.encodeSubscriptionData()
      this.checkSteps()
    }

    loadData() {
      this.data.collections = JSON.parse($("[data-plans]").html());
    }

    
    bindState() {
      tinybind.bind(this.$container, {
        state: this.state,
        methods: this.methods
      });
    }

    openModal() {
      this.state.modalOpen = true
      document.body.classList.add("subscription-modal-open");
      document.body.addEventListener('click', this.methods.closeModal)
    }



    closeModal(revertState = false) {
      this.state.modalOpen = false
      document.body.classList.remove("subscription-modal-open");
      document.body.removeEventListener('click', this.methods.closeModal)
      if(revertState === true) {
        const oldState = JSON.parse(JSON.stringify(this.cache.state));
        this.state.parent = oldState.parent
        this.state.note = oldState.note
      } else {
        this.encodeSubscriptionData()
      }
    }

    goBack(stepIndex) {
      this.changeStep( this.state.activeStep - 1)
    }

    goToFirstStep() {
      this.changeStep(1)
    }

    changeStep(stepIndex, scroll = true) {
      console.log({stepIndex});
      if (stepIndex === 1) {
        $(".subscription-step-v2--1 .subscription__clubs-container").css("display", "flex");
      } else {
        $(".subscription-step-v2--1 .subscription__clubs-container").css("display", "none");
      }

      if (stepIndex === 2) {
        $(".subscription-step-v2--2 .subscription__clubs-container").css("display", "flex");
      } else {
        $(".subscription-step-v2--2 .subscription__clubs-container").css("display", "none");
      }

      if (stepIndex === 3) {
        $(".sub-v2-step--3 .subscription__clubs-container").addClass("subscription__clubs-container--active")
      } else {
        $(".sub-v2-step--3 .subscription__clubs-container").removeClass("subscription__clubs-container--active")
      }

      if (stepIndex === 4) {
        $(".subscription-step-v2--4__content").css("display", "block");
      } else {
        $(".subscription-step-v2--4__content").css("display", "none");
      }

      if(stepIndex <= 4) {
        this.state.activeStep = stepIndex;
        if(this.state.completedSteps.indexOf(stepIndex) == -1) {
          this.state.completedSteps.push(stepIndex)
        }

        const container = document.querySelector(".subscription-builder-v2");
        if(container && scroll) {
          container.scrollIntoView({
            behavior: 'smooth',
            block: 'start'
          });
        }
      }
    }

    insertCartIntoSummary() {
      $(this.selectors.subscriptionSummary ).html($( this.selectors.cartItems ).clone())
      $(this.selectors.subscriptionTotals ).html($( this.selectors.cartTotals ).clone())
      $(this.selectors.subscriptionSummaryButtons).html($(this.selectors.checkoutButtons).clone())
      $(this.selectors.subscriptionSummaryNote).html($(this.selectors.noteContainer).clone())
      $(this.selectors.subscriptionSummaryShareTracking).html($(this.selectors.shareTrackingContainer).clone())
    
      // Add event to plan "Change" button
      const buttonPlanChange = document.getElementById('plan-change-button');
      if (buttonPlanChange) {
        buttonPlanChange.addEventListener('click', this.methods.goToFirstStep);
      }
    }

    insertUpsellsIntoSummary(upsellsHtml) {
      $(this.selectors.subscriptionSummaryUpsells ).html(upsellsHtml)
    }

    openAdditionalContent(event) {
      event.stopPropagation();
      event.preventDefault();
      const html = this.getSection(event.currentTarget.dataset.contentId);
      // console.log(event.currentTarget.dataset.contentId)
      this.insertSectionToModal(html);
      this.initSliders(this.selectors.additionalModalContent)
      this.openModal(true);
      this.cache.state = JSON.parse(JSON.stringify(this.state));
      tinybind.bind($(this.selectors.additionalModalContent), {
        state: this.state,
        methods: this.methods
      });
    }

    getSection(sectionId) {
      const id = `#${sectionId}`
      const $section = $(id);
      if($section.length) {
        return $section.html()
      } else {
        // Fetch via API
      }
    }

    insertSectionToModal(html) {
      $(this.selectors.additionalModalContent).html(html);
    }
    updateParentProperty(property, value) {
      this.state.parent[property] = value
      this.state.lastStepStateChanged = true
      this.encodeSubscriptionData();
    }
    updateShareSharing(value) {
      this.state.shareSharing = value
      this.state.lastStepStateChanged = true
    }
    openModalOnLastStep(event) {
      this.state.lastStepStateChanged = true;
      this.openAdditionalContent(event)
    }
    openShareTrackingModalOnLastStep(event) {
      this.state.lastStepStateChanged = true;
      console.log('opening modal')
    }
    updateBuyNowShipLater(value) {
      if(value) {

      } else {
        this.state.lastStepStateChanged = true
        this.state.shipNow = true
        this.state.shipJanuary = false
        this.state.shipDecember = false
      }
      this.encodeSubscriptionData();
      // this.encodeSubscriptionData()
    }
    updateSubscriptionProperty(property, value) {
      console.log('updateSubscriptionProperty', property, value)
      this.state.subscription = {
        ...this.state.subscription,
        [property]: value
      }
      this.encodeSubscriptionData()
      if(property == 'plan_length' ) {
        this.changeStep(this.state.activeStep)
      }
      console.log(this.state.subscription)
      this.checkSteps();
    }

    checkSteps() {
      // console.log('checking steps')
      if(this.state.completedSteps.indexOf(4) > -1) {
        this.state.completedSteps = [1, 2, 3]
      }
    }

    initSliders(id) {
      $(`${id} .club-main-images`).slick({
        arrows: true,
        dots: false,
        slidesToShow: 1,
        infinite: true,
        slidesToScroll: 1,
        asNavFor: `${id} .club-thumbnails`
      })

      $(`${id} .club-thumbnails`).slick({
        arrows: false,
        asNavFor: `${id} .club-main-images`,
        dots: false,
        infinite: false,
        swipe: true,
        slidesToShow: 6,
        slidesToScroll: 6,
        focusOnSelect: true,
        // centerMode: true,
        // centerPadding: '40px',
        responsive: [
          {
            breakpoint: 749,
            settings: {
              slidesToShow: 4.2,
            }
          }
        ]
      });
    }

    setState(data) {
      // this.state.subscription = data.subscription
      // this.state.completedSteps = data.completedSteps
      // this.state.extraItems = data.extraItems
      // var self = this
      // // this.state.activeStep(1);
      // setTimeout(function() {
      //   self.changeStep(2)
      //   self.encodeSubscriptionData()
      // }, 1200)
      // console.log(this.state)
    }

    updateSubscription(event) {
      console.log(event.target.dataset.name, event.target.dataset.value);
      this.updateSubscriptionProperty(event.target.dataset.name, event.target.dataset.value)
      if(event.target.name === 'club') this.state.sbo = event.target.dataset.sboEnabled === "true"

      // this.state.subscription[event.target.name] = event.target.value;
      this.changeStep(this.state.activeStep + 1)
      this.encodeSubscriptionData()
    }

    setupFormatters() {
      tinybind.formatters.args = function(fn) {
        let args = Array.prototype.slice.call(arguments, 1)
        return () => fn.apply(null, args)
      }
      tinybind.formatters.minus = function(e, t) {
        return parseInt(e) - parseInt(t)
      } 
      tinybind.formatters.times = function(e, t) {
        return e * t 
      }
      tinybind.formatters.log = function(value) {
        return value;
      };

      tinybind.formatters.log = function(value) {
        return value;
      };

      tinybind.formatters.size = function(value) {
        // console.log(value.length)
        return value.length;
      };

      tinybind.formatters.style = function(a, b) {
        return b + ': ' + a + ';'
      };

      tinybind.formatters.money = function(value) {
        return (parseFloat(value) / 100).toFixed(2).toString();
      };
      
      tinybind.formatters.not = function(value) {
        return !value;
      };

      tinybind.formatters.and = function(a, b) {
        return a && b;
      };

      tinybind.formatters.eq = function(a, b) {
        return a == b;
      };

      tinybind.formatters.gte = function(a, b) {
        return a >= b;
      };

      tinybind.formatters.or = function(a, b) {
        return a || b;
      };

      tinybind.formatters.gt = function(a, b) {
        return a > b;
      };

      tinybind.formatters.append = function(a, b) {
        return a + b;
      };
      tinybind.formatters.prepend = function(a, b) {
        return b + a;
      };
      tinybind.formatters.includes = function(array, value) {
        if(!array) return false
        return array.indexOf(value) > -1
      };
    }
  }
  document.addEventListener("DOMContentLoaded", function() {
    var theme = window.theme || {}
    theme.SubscriptionBuilder = new SubscriptionBuilder("#subscription-builder-widget");
  })
</script>

<style>
  .subscription-builder-v2 .wrap{
    background: var(--bg);
    border-radius: 16px;
    box-shadow: 0 3px 0 rgba(0,0,0,.06), 0 18px 28px rgba(0,0,0,.08);
    max-width: {{ section.settings.max_width | default: 1110 }}px;
    margin: 0 auto;
    padding: 30px 34px 5px;
    text-align: center;
  }

  .subscription-builder-v2 {
    --bg: {{ section.settings.bg_color }};
    --card-bg: {{ section.settings.card_bg }};
    --card-border: {{ section.settings.card_border }};

    background: transparent;
    padding: 24px 19px;
    color: #4D4D4D;
    width: 100%;
  }

  .subscription-builder-v2 .subscription-builder__steps {
    display: flex;
    flex-wrap: nowrap;
    width: {{100 | times: total_steps}}%;
    transition: all .3s;
  }

  .subscription-progress__container-desktop {
    border-radius: 8px;
    max-height: none !important;
  }

  #subscription-builder-widget {
    padding-bottom: 2rem;
    min-height: 300px;
  }
  #subscription-builder-widget .subscription-progress__container-desktop:not(body) {
    overflow: hidden;
  }

  .additional-content-modal {
    overflow-y: auto;
  }

  .subscription-builder-v2 .bottom-notes{
    max-width: {{ section.settings.max_width | default: 980 }}px;
    margin: 40px auto 0;
    text-align: center;
    font-size: 13px;
  }
  .subscription-builder-v2 .bottom-notes p {
    margin: 0 0 15px;
    color: #4D4D4D;
    text-align: center;
    font-family: Avenir, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: 14px; /* 87.5% */
  }

  .subscription-builder-v2 .bottom-notes p.note-2 {
    color: #F3576B;
    text-align: center;
    font-family: "Avenir", sans-setif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  .subscription-builder-v2-card {
    border-radius: 6px;
    padding: 48px 24px 32px 24px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:24px;
    justify-content: space-between;
    border: 1px solid #4d4d4d;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  .subscription-builder-v2-title {
    text-align: center;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    color: #4D4D4D;
    font-family: "KG HAPPY Solid", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .note-2__tooltip-container {
    position: relative;
    border: none;
    background-color: transparent;
    color: inherit;
    padding: 0;
  }

  .note-2__tooltip {
    display: none;
  }

  .note-2__tooltip-container:hover .note-2__tooltip {
    display: inline-flex;
  }

  .note-2__tooltip {
    position: absolute;
    padding: 20px;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    transform: translateX(calc(-100% + 60px)) translateY(-100%);
    border-radius: 8px;
    border: 0.5px solid #979797;
    background: #E4F4F6;
    width: 411px;
    max-width: 70vw;
    opacity: 1;
    color: #4D4D4D;
  }

  .additional-content-modal {
    overflow-y: auto;
  }
  .modal-header--gift-options svg {
    width: 23px;
    padding-bottom: 4px;
    margin-right: 6px;
  }

  .modal-header--gift-options  h4 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-content.modal-content--gift-options h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
  }

  .modal-content.modal-content--gift-options p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4D4D4D;
  }
  .modal-content.modal-content--gift-options,
  .modal-actions {
    padding: 24px 16px;
  }
  .modal-content.modal-content--gift-options h2.h2 {
    line-height: 1.25 !important;
  }
  .subscription-modal-open {
    overflow: hidden;
  }

  .club-thumbnails img {
    width: 70px;
    height: 70px;
  }

  .club-content {
    padding: 1.6rem 2rem;
  }

  .club-content li:before {
    content: "\2022";
    color: #01BCBE;
    font-weight: bold;
    display: inline-block;
    width: 8px;
    height: 8px;
    top: 0;
    position: absolute;
    top: 0;
    left: -16px;
  }

  .club-content ul {
    list-style: none;
    padding-left: 1.6rem;
  }
  .gift-message-saved.gift-message-saved--sbo p {
    font-weight: 400;
    text-align: left;
    display: block !important;
  }

  .club-content li {
    font-size: 1.8rem;
    font-weight: 100;
    position: relative;
    margin-bottom: 1rem;
  }

    .club-content .club-main-images .slick-slide img{
    height: 350px;
    /* max-height: 350px; */
  }
  .club-content .slick-slide img {
    /* width: 100%; */
    border-radius: 4px;
    /* border: 0.875px solid rgba(77, 77, 77, 0.19971); */
    box-shadow: 0px 2px 4px rgba(77, 77, 77, 0.201868);
    width: 100%;
    object-fit: cover;
  }

  .club-thumbnails {
    margin: 1.8rem 0;
  }
  .club-thumbnails .image {
    /* padding: 4px; */
  }
  .club-thumbnails .image.slick-slide .image__inner {
    border: 3px solid white;
    border-radius: 4px;
    padding: 4px;
  }

  .club-thumbnails .image.slick-slide.slick-current.slick-active .image__inner {
    border: 3px solid #F3576B;
  }

  .club-main-images button.slick-arrow {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5) !important;
    box-shadow: 0px 3px 4px rgba(145, 145, 145, 0.198618);
  }

  .club-main-images .slick-prev {
    left: -8px;
  }

  .club-main-images .slick-next {
    right: -8px;
  }
  .club-thumbnails .slick-track {
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    .subscription-builder-v2 .wrap {
      background: transparent;
      border: none;
      box-shadow: unset;
      padding: 0;
    }
    .subscription-modal-open [class*="kl-private-reset"] {
      display: none;
    }
    .subscription-modal-open iframe {
      display: none !important;
    }
    .subscription-builder-v2-card {
      border-radius: 8px;
      width: 100%;
      padding: 30px 15px 15px;
      gap: 12px;
    }

    .subscription-builder-v2 .bottom-notes {
      padding: 0 32px 0;
      margin: 0;
    }
    .subscription-builder-v2 .bottom-notes p {
      margin: 0 0 12px;
      line-height: 24px;
    }
    .subscription-builder-v2 .bottom-notes p.note-2 {
      line-height: 24px;
    }

    .subscription-builder-v2-title {
      font-size: 20px;
      line-height: 26px;
    }
  }

  @media screen and (min-width: 768px) {
    .subscription-modal-open div#shopify-section-header,
    .subscription-modal-open .subscription-progress__container-desktop {
        opacity: 0.3
    }
    .additional-content-modal {
      width: auto;
    }

    .additional-content-modal.open {
      max-width: 850px;
      margin: 0 auto;
      position: fixed;
      top: 130px;
      left: 50%;
      transform: translateX(-50%);
      max-height: calc(100vh - 100px);
      border: 0.875px solid rgba(77, 77, 77, 0.19971);
      box-shadow: 0px 2px 4px rgba(77, 77, 77, 0.201868);
      border-radius: 8px;
      height: auto;
    }

    .modal-content.modal-content--gift-options, .modal-actions {
      padding: 24px 40px;
      position: relative;
    }
    .modal-actions {
      padding-top: 1rem;
      max-width: 350px;
      margin: 0 auto;
    }

    .club-content .club-main-images .slick-slide img {
      height: 410px;
    }
    .club-content .club-thumbnails .slick-slide img {
      max-width: 80px;
      width: 100%;
    }
    .club-content {
      width: 500px;
    }
  }

</style>

{% schema %}
{
  "name": "Subscription Builder v2",
  "class": "very-top",
  "settings": [
    {
      "type": "select",
      "id": "autoselected_club",
      "label": "Autoselected Club",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "C",
          "label": "Cooking"
        },
        {
          "value": "B",
          "label": "Baking"
        },
        {
          "value": "G",
          "label": "Global"
        }
      ]
    },
    {
      "type": "collection",
      "id": "plans_collection",
      "label": "Plans"
    },
    {
      "type": "image_picker",
      "id": "sibling_bundle_image",
      "label": "Sibling Bundle Image"
    },
    {
      "type": "text",
      "id": "sibling_bundle_title",
      "label": "Sibling Bundle Title",
      "default": "Sibling Bundle ($5/mo)"
    },
    {
      "type": "textarea",
      "id": "sibling_bundle_description",
      "label": "Sibling Bundle Title",
      "default": "Add a sibling tool and patch to each kit. Paid upfront."
    },
    {
      "type": "number",
      "id": "sibling_bundle_price",
      "label": "Subling Bundle Price",
      "default": 5,
    },
    {
      "type": "number",
      "id": "max_siblings",
      "label": "Max No of Sibling Bundles",
      "default": 2
    },
    
    { "type": "text", "id": "note_1", "label": "Footer note 1", "default": "Free US Shipping. First kit ships within 1–3 business days." },
    { "type": "text", "id": "note_2", "label": "Footer note 2", "default": "Plans auto-renew, cancel any time." },
    { "type": "text", "id": "note_2_tooltip", "label": "Footer note 2 tooltip" },

    { "type": "range", "id": "max_width", "min": 900, "max": 1400, "step": 10, "label": "Max content width (px)", "default": 980 },
    
    /* Colors */
    { "type": "color", "id": "bg_color", "label": "Background color (slab)", "default": "#e9f4f6" },
    { "type": "color", "id": "card_bg", "label": "Card background", "default": "#ffffff" },
    { "type": "color", "id": "card_border", "label": "Card border", "default": "#E6E6E8" },
  ],
  "presets": [
    {
      "name": "Subscription Builder v2",
      "category": "Subscription"
    }
  ],  
  "blocks": [
    {
      "type": "steps",
      "name": "Steps",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Step 1"
        },
        {
          "type": "text",
          "id": "step_1_short_title",
          "label": "Short title",
          "default": "Club"
        },
        {
          "type": "text",
          "id": "step_1_title",
          "label": "Title",
          "default": "Choose Your Club"
        },
        {
          "type": "text",
          "id": "step_1_bottom_description_modal_id",
          "label": "Raddish+ modal section id"
        },
        {
          "type": "header",
          "content": "Step 2"
        },
        {
          "type": "text",
          "id": "step_2_short_title",
          "label": "Short Title",
          "default": "Term"
        },
        {
          "type": "text",
          "id": "step_2_title",
          "label": "Title",
          "default": "Pick Your Plan"
        },
        {
          "type": "header",
          "content": "Step 3"
        },
        {
          "type": "text",
          "id": "step_3_short_title",
          "label": "Short Title",
          "default": "Customize"
        },
        {
          "type": "text",
          "id": "step_3_title",
          "label": "Title",
          "default": "Customize Your Kit"
        },
        {   
          "type": "text",
          "id": "step_3_review_order_button_label",
          "label": "Review Order Button Label",
          "default": "Review Your Order"
        },
        {
          "type": "header",
          "content": "Step 4"
        },
        {
          "type": "text",
          "id": "step_4_short_title",
          "label": "Short Title",
          "default": "Review"
        },
        {
          "type": "text",
          "id": "step_4_title",
          "label": "Title",
          "default": "Review Your Order"
        },
        {
          "type": "checkbox",
          "default": false,
          "label": "Enable BNSL edit on step 4",
          "id": "enable_bnsl_edit"
        },
        {
          "type": "text",
          "id": "step_4_buy_ship_later_label",
          "label": "Buy Now Ship Later Label",
          "default": "Buy Now Ship Later:"
        },
        {
          "type": "text",
          "id": "step_4_buy_ship_now_text",
          "label": "Ship Now Text",
          "default": "Ship Now"
        },
        {
          "type": "text",
          "id": "step_4_buy_ship_later_text_january",
          "label": "Buy Now Ship Later Text Jan",
          "default": "First will arrive in January"
        },
        {
          "type": "text",
          "id": "step_4_buy_ship_later_text_december",
          "label": "Buy Now Ship Later Text Dec",
          "default": "First will arrive in December"
        },
        {
          "type": "text",
          "id": "step_4_sbo_text",
          "label": "SBO Text",
          "default": "Start Date: Your first order will process on the 20th or following business day."
        },
        {
          "type": "text",
          "id": "step_4_gifts_label",
          "label": "Gifts email label",
          "default": "Giftee's email address:"
        }
      ]
    },
    {
      "type": "club",
      "name": "Club",
      "limit": 5,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Subscription Product",
          "info": "No sibling bundles"
        },
        {
          "type": "checkbox",
          "id": "sbo_enabled",
          "label": "SBO Enabled",
          "default": false
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        { "type": "text", "id": "age", "label": "Ages text", "default": "Ages 4–14+" },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "color",
          "id": "mobile_bg",
          "label": "Mobile Background Color"
        },
        { "type": "text", "id": "button_label", "label": "Button label", "default": "Select" },
        {
          "type": "text",
          "id": "section_id",
          "label": "Section ID",
          "info": "This section is going to be inserted into View Details modal"
        }
      ]
    },
    {
      "type": "plan",
      "name": "Plan",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "number",
          "id": "length",
          "label": "Length"
        },
        {
          "type": "html",
          "id": "price",
          "label": "Price"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "free_item_title",
          "label": "Free item title"
        },
        {
          "type": "text",
          "id": "free_item_2_title",
          "label": "Free item 2 title"
        },
        {
          "type": "text",
          "id": "free_item_3_title",
          "label": "Free item 3 title"
        },
        {
          "type": "textarea",
          "id": "savings",
          "label": "Save text"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label"
        }
      ]
    },
    {
      "type": "upsells",
      "name": "Upsells",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "upsell_title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "save_text",
          "label": "Save text"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "price_suffix",
          "label": "Price Suffix",
          "info": "This is displayed right after the price. It is useful to put \"/mo\" for subscription items"
        }
      ]
    }
  ]
}
{% endschema %}