<div class="page-width">
  <h2 class="heading text-center">{{ section.settings.heading }}</h2>
  <h3 class="subheading text-center">{{ section.settings.subheading }}</h3>
  <div class="flex wrap testimonials-slider">
    {% for block in section.blocks %}
      <div class="testimonial{% if block.type == 'text' %} text{% else %} image{% endif %} index-{{ forloop.index }} flex flex-center wrap align-center">
        {% if block.type == 'image' %}
          <div>{{ block.settings.image | img_url: '250x' | img_tag }}</div>
        {% else %}
          <div class="flex wrap column align-center">
            <h5>{{ block.settings.title }}</h5>
            <p>{{ block.settings.content }}</p>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <h2 class="heading text-center">{{ section.settings.secondary-heading }}</h2>
  <p class="sub-content text-center">{{ section.settings.secondary-paragraph }}</p>
  <div class="cta text-center">
    <a class="btn homepage" id="testimonialsJoin" href="{{ section.settings.url }}">{{ section.settings.cta }}</a>
    <div class="hiw-footer-link">{{ section.settings.link-cta }}</div>

<!-- HOMEPAGE IMAGE SPACE --> <!-- <br><a href="https://www.raddishkids.com/pages/photo-sweepstakes?l=n">
    <img border="0" alt="RadKidsCook Photo Sweepstakes" src="https://cdn.shopify.com/s/files/1/0300/1545/files/PhotoSweepstakes_Homepage_Banner_1C.png?359">
</a> -->
    
    <!-- Sweeps --> 

<!-- <br>
    <a href="https://www.raddishkids.com/pages/photo-sweepstakes?l=n"><img border="0" alt="RadKidsCook Photo Sweepstakes" width=45%" height="45%" src="https://cdn.shopify.com/s/files/1/0300/1545/files/PhotoSweepstakes_Homepage_Banner_1C_lg_1.png?364">
</a> -->

    
    <!-- <img src="https://cdn.shopify.com/s/files/1/0300/1545/files/flags.png?13514143452617475125" width="70px" height="23px" line-height="2002px" alt="We ship to the USA and Canada!"> -->
  </div>
</div>

{% schema %}
  {
    "name": "Testimonials",
    "class": "testimonials",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Sub-Heading"
      },
      {
        "type": "text",
        "id": "secondary-heading",
        "label": "Secondary Heading"
      },
      {
        "type": "textarea",
        "id": "secondary-paragraph",
        "label": "Secondary Paragraph"
      },
      {
        "type": "text",
        "id": "cta",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Button URL"
      },
      {
        "type": "richtext",
        "id": "link-cta",
        "label": "FAQ Link"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image Testimonial",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Recommended dimensions: 250x250px"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text Testimonial",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "category": "Old Home Sections"
      }
    ]
  }
{% endschema %}
