{%- assign _section = section.settings -%}
{%- assign section_title = _section.title -%}
{%- assign section_subtitle = _section.subtitle -%}

<div class="section-testimonials">
  <header class="section__head">
    {%- if section_title != blank -%}
      <h2 class="section__title">{{ section_title }}</h2><!-- /.section_title -->
    {%- endif -%}

    {%- if section_subtitle != blank -%}
      <div class="section__head__content">
        {{ section_subtitle }}
      </div><!-- /.section__head__content -->
    {%- endif -%}
  </header><!-- /.section__head -->

  <div class="page-width">
    <div class="slider-testimonials">
      <div class="slider__clip"></div><!-- /.slider__clip -->
      <div class="slider__slides">
        {%- for block in section.blocks -%}
          {%- assign _block = block.settings -%}
          {%- assign block_image = _block.image -%}
          {%- assign block_title = _block.title -%}
          {%- assign block_text = _block.text -%}
          {%- assign block_author = _block.author -%}

          <div class="slider__slide">
            <div class="testimonial-new">
              {% if block_image != blank %}
                <div class="testimonial__image">
                  {% include 'image', _image: block_image, size: '400', alt: block_image.alt %}
                </div><!-- /.testimonial__image -->
              {% endif %}

              {% if block_title != blank %}
                <h3 class="testimonial__title">
                  {{- block_title -}}
                </h3><!-- /.testimonial__title -->
              {% endif %}

              {% if block_text != blank %}
                <p class="testimonial__entry">
                  {{- block_text | newline_to_br -}}
                </p><!-- /.block__text -->
              {% endif %}

              {% if block_author != blank %}
                <p class="testimonial__author">
                  {{- block_author -}}
                </p>
              {% endif %}
            </div><!-- /.testimonial -->
          </div><!-- /.slider__slide -->
        {%- endfor -%}
      </div><!-- /.slider__slides -->
    </div><!-- /.slider -->
  </div><!-- /.page-width -->
</div><!-- /.section-testimonials -->

{% schema %}
{
  "name": "Testimonials v2",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    }
  ],  
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials v2",
      "category": "Home Sections"
    }
  ]
}
{% endschema %}
