<div class="text-block text-block--with-background">{{section.settings.content}}</div>

<style>
  #shopify-section-{{section.id}} .text-block {
    margin-top: {{section.settings.margin_top}}px;
    margin-bottom: {{section.settings.margin_bottom}}px
  }
  .text-block a {
    color: #01BCBE;
    font-weight: bold;
    text-decoration: underline;
  }
  .text-block--with-background {
  }
  @media screen and (max-width: 875px) {
    #shopify-section-{{section.id}} .text-block {
        margin-top: {{section.settings.margin_top | times: 0.75}}px;
        margin-bottom: {{section.settings.margin_bottom | times: 0.75}}px
    }
  }
  {% if section.settings.background != blank %}
    #shopify-section-{{section.id}} .text-block--with-background {
        background: {{section.settings.background}};
        padding: 12px 36px;
    }
  {% endif%}
</style>
{% schema %}
  {
    "name": "Text Block Background",
    "class": "page-width",
    "settings": [
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "color",
        "id": "background",
        "label": "Background"
      },
      {
        "type": "range",
        "id": "margin_top",
        "label": "Margin Top",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "label": "Margin Bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      }
    ],
    "presets": [
      {
        "name": "Text Block Background",
        "category": "Text Block Background"
      }
    ]
  }
{% endschema %}