{% if section.settings.top_title != blank %}
<h1 {% if section.settings.element_id != blank %}id="{{ section.settings.element_id }}"{% endif %} class="h1 this-month-kit__top-title">{{section.settings.top_title}}</h1>
<h2 class="this-month-kit__top-description">{{section.settings.top_description}}</h2>
{% endif %}
<div class="this-month-kit"> 
  <div class="this-month-kit__left" style="background-color: {{section.settings.color}}">
    <div class="this-month-kit__header">
      {% render 'image', _image: section.settings.icon, alt: section.settings.icon.alt %}
      <h3 class="h3">{{section.settings.icon_subtitle}}</h3>
    </div>
    <hr>
    <h2 class="h2">{{section.settings.title}}</h2>
    <div class="this-month-kit__description">{{section.settings.description}}</div>
    <a class="btn btn--desktop" href="{{section.settings.button_url}}">{{section.settings.button_label}}</a>
  </div>
  <div class="this-month-kit__right">
    <div class="this-month-kit__top-row" style="border-color: {{section.settings.color}}">
      {% assign top_row_blocks = section.blocks | where: "type", "top_row"  %}
      <h3 class="h3">{{section.settings.title_top_row}}</h3>
      <div class="this-month-kit__top-row-blocks">
        {% for trb in top_row_blocks %}
          <div class="this-month-kit__block" style="max-width: {{trb.settings.block_width}}px">
            {% render 'image', _image: trb.settings.image, alt: trb.settings.image.alt %}
            <p> {{trb.settings.title}}</p>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="this-month-kit__bottom-row">
      {% assign bottom_row_blocks = section.blocks | where: "type", "bottom_row"  %}
      <h3 class="h3">{{section.settings.title_bottom_row}}</h3>
      <div class="this-month-kit__top-row-blocks">
        {% for trb in bottom_row_blocks %}
          <div class="this-month-kit__block" style="max-width: {{trb.settings.block_width}}px">
            {% render 'image', _image: trb.settings.image, alt: trb.settings.image.alt %}
            <p> {{trb.settings.title}}</p>
          </div>
        {% endfor %}
      </div>
    </div>
    <a class="btn btn--mobile" href="{{section.settings.button_url}}">{{section.settings.button_label}}</a>
  </div>
</div>

<style>
.this-month-kit__block picture {
  min-height: 185px;
  display: flex;
  align-items: center;
}
.this-month-kit {
    display: flex;
    flex-direction: row;
    display: flex;
    border: 0.875px solid rgba(77, 77, 77, 0.19971);
    box-shadow: 0px 2px 4px rgb(77 77 77 / 20%);
    margin-bottom: 1.6rem;
    border-radius: 7px;
    overflow: hidden;
    max-width: 1290px;
    margin: 40px auto 0;
}

.this-month-kit__left {
    width: 33.333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 5rem;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;

}

.this-month-kit__left hr {
  width: 100%;
  height: auto;
  margin-bottom: 2.4rem;
  border: none;
  height: 1px;
  background: #58595b;
}

.this-month-kit__left .h2 {
  margin-bottom: 0;
  font-size: 40px;
}

.this-month-kit .h2,
.this-month-kit .h3 {
  color: #58595b;
  text-align: center;
  text-transform: none;
}
.this-month-kit .h3 {
  font-size: 29px;
  line-height: 32px;
  margin-top: 1.5rem;
}
.this-month-kit__right {
    width: 66.6666%;
}
h1.h1.this-month-kit__top-title {
  margin: 45px 0 0 0;
  display: block;
  text-align: center;
  font-size: 32px;
  {% if section.settings.title_color %}color: {{ section.settings.title_color }}{% endif %};
}
.this-month-kit__top-description {
  color: #4D4D4D;
  text-align: center;
  font-family: Avenir, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}
.this-month-kit__left picture img {
    max-width: 45px;
}
.this-month-kit__description {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
}

.this-month-kit__container {
  padding: 3rem;
}
.this-month-kit__top-row-blocks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.this-month-kit__top-row-blocks img {
  max-width: 100%;
  padding: 0 5px;
}

.this-month-kit__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  flex: 1;
}

.this-month-kit__right .h3 {
  text-align: center;
}

.this-month-kit__right {}

.this-month-kit__right {
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.this-month-kit__top-row {
  border-bottom: 1px solid;
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
}
.this-month-kit__left picture img {
  max-width: 32px;
  margin-right: 5px;
}
.this-month-kit__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.this-month-kit .btn--mobile {
  display: none
}
@media screen and (max-width: 768px) {
  h1.h1.this-month-kit__top-title {
    margin: 0 0 30px;
    font-size: 26px;
    line-height: 34px;
  }
  .this-month-kit__top-row {
    margin-bottom: 0;
  }
  .this-month-kit__block {
    line-height: 16px;
  }
  .this-month-kit__top-row .this-month-kit__block picture {
    width: auto;
    margin-right: 15px;
    margin-left: 15px;
  }

  .this-month-kit__top-row .this-month-kit__block {
    max-width: none !important;
  }
  .this-month-kit__top-row .this-month-kit__block p {
    text-align: left;
  }
  .this-month-kit__top-row .this-month-kit__top-row-blocks {
    flex-direction: column;
    align-items: flex-start;
  }
  .this-month-kit__block picture {
    min-height: 90px;
  }
  .this-month-kit .btn--desktop {
    display: none
  }
  .this-month-kit .btn--mobile {
    display: block
  }
  .this-month-kit__header h3 {
     margin-bottom: 0
  }
  .this-month-kit__header {
    flex-direction: row
  }
  .this-month-kit {
      flex-direction: column;
  }

  .this-month-kit__left {
      width: 100%;
      text-align: center;
      padding: 2rem 1rem;
  }

  .this-month-kit__right {
      width: 100%;
  }

  .this-month-kit__top-row {
      border: none;
  }

  .this-month-kit__bottom-row img {
      max-width: 90px;
  }

  .this-month-kit__top-row .this-month-kit__block {
      flex-direction: row;
      flex-wrap: nowrap;
  }

  .this-month-kit__top-row .this-month-kit__block {
      flex-direction: row;
      display: flex;
  }

  .this-month-kit__right {
      padding: 2rem 1rem;
  }

  .this-month-kit__top-row img {
      max-width: 120px;
  }

  .this-month-kit__description {
    font-size: 14px;
    line-height: 22px;
    padding: 0 10px;
  }

  .this-month-kit__left .h2 {
      font-size: 26px;
  }

  .this-month-kit .h3 {
      font-size: 18px;
      line-height: 22px;
  }

  .this-month-kit__block {
      font-size: 14px;
  }

  .this-month-kit__header .h3 {
      margin-top: 0;
      margin-left: 4px;
  }
}
</style>

{% schema %}
{
  "name": "This Month's Kit",
  "class": "this-month-kit__container",
  "settings": [
    {
      "type": "text", 
      "id": "top_title",
      "label": "Top title"
    },
    {
      "type": "text", 
      "id": "top_description",
      "label": "Top Description"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color"
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "icon_subtitle",
      "label": "Icon Subtitle"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "text",
      "id": "title_top_row",
      "label": "Title Top Row"
    },
    {
      "type": "text",
      "id": "title_bottom_row",
      "label": "Title Bottom Row"
    },
    {
      "type": "text",
      "id": "element_id",
      "label": "Section ID (optional)",
      "info": "HTML ID to target on link click."
    }
  ],
  "blocks": [
    {
      "type": "top_row",
      "name": "Top Row Item",
      "settings": [
        {
          "type": "html",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "block_width",
          "min": 50,
          "max": 250,
          "step": 5,
          "unit": "px",
          "label": "Block width",
          "default": 200
        }
      ]
    },
    {
      "type": "bottom_row",
      "name": "Bottom Row Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "block_width",
          "min": 50,
          "max": 250,
          "step": 5,
          "unit": "px",
          "label": "Block width",
          "default": 200
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "This Month's Kit"
    }
  ]
}
{% endschema %}
