
<!-- /templates/cart.liquid -->
<div class="page-width">
<h1 class="heading">Cart</h1>

{% if cart.item_count > 0 %}
	<form action="/cart" method="post" novalidate class="cart">
	<div class="cart-listing">
		<div class="cart-headings flex">
			<div class="flex-item two-fifths"></div>
			<div class="flex-item one-fifth">Price</div>
			<div class="flex-item one-fifth">{{ 'cart.label.quantity' | t }}</div>
			<div class="flex-item one-fifth">{{ 'cart.label.total' | t }}</div>
		</div>

		{% assign free_gift = false %}
		{% assign membership = false %}

		{% for item in cart.items %}

			{% assign cart_item_type = '-' %}
			{% for p in item.properties %}
				{% if p.first == "_plan" %}
					{% assign cart_item_type = 'plan' %}
				{% endif %}
				{% if p.first == "_gift_product" %}
					{% assign cart_item_type = 'gift' %}
				{% endif %}
      			{% if p.first == "_digital_plan" %}
					{% assign cart_item_type = 'digital-plan' %}
				{% endif %}
			{% endfor %}
			<div class="cart-content flex flex-center{% if item.product.title contains 'Free Gift' %} js-giftProduct{% endif %}">
				<div class="two-fifths" data-label="{{ 'customer.order.product' | t }}">
					<div class="cart-product-details flex flex-center">
						{% comment %} If Membership Plan, filter out link {% endcomment %}
						{% if cart_item_type == 'plan' or cart_item_type == 'gift' or cart_item_type == 'digital-plan' %}
							{% assign membership = true %}
							<div class="cart__image">
								<img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
							</div>
						{% else %}
							<a href="{{ item.url | within: collections.shop }}" class="cart__image">
								<img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
							</a>
						{% endif %}
						<div class="product-content">

							{% comment %} If Membership Plan, filter out month/year that appears after '-' character {% endcomment %}
							{% if cart_item_type == 'plan' or cart_item_type == 'gift' or cart_item_type == 'digital-plan' %}
								<b class="cart-title">
									{{ item.product.title }}
								</b>
							{% else %}
							<a href="{{ item.url }}" class="cart-title">
								{% if item.product.title contains 'Free Gift'%}
									{% assign free_gift = true %}
									{{ item.product.title }}
								{% else %}
									{{ item.product.title }}
								{% endif %}
							</a>
							
							{% endif %}
							
							{% unless item.variant.title contains 'Default' %}
								<div><small>{{ item.variant.title }}</small></div>
							{% endunless %}

							{% assign property_size = item.properties | size %}
							
							{% if property_size > 0 and cart_item_type != 'plan' %}
							
							<div>
								<small>{% for p in item.properties %}
									{% unless p.last == blank or p.first == 'gift_product' or p.first == 'Youth' p.first == 'option1' or p.first == 'option2' %}
										{{ p.first }}:

										{% comment %}
											Check if there was an uploaded file associated
										{% endcomment %}
										
										{% if p.last contains '/uploads/' %}
											<a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
										{% else %}
											{{ p.last }}
										{% endif %}

										<br>
									{% endunless %}
								{% endfor %}</small>
								</div>
							{% endif %}
							
              {% if cart_item_type == 'plan' or cart_item_type == 'gift' or cart_item_type == 'digital-plan' %}
                  <div class="qty-section">
                    <span class="qty-section-nonedit">{{ item.quantity }}</span>
                  </div>
                {% elsif settings.limited_product != blank and item.product.handle == settings.limited_product %}
                  <div class="qty-section">
                    <span class="qty-section-nonedit">{{ item.quantity }}</span>
                  </div>
							{% else %}
							
							<div class="qty-section">
								<a href="/cart/change?line={{- forloop.index -}}&amp;quantity={{ item.quantity | minus: 1 }}" class="remove">-</a>

								<input type="number" id="updates_{{ item.id }}" name="updates[]" value="{{ item.quantity }}" min="0">

								<a href="/cart/change?line={{- forloop.index -}}&amp;quantity={{ item.quantity | plus: 1 }}" class="remove">+</a>
							</div>
							{% endif %}
							{% unless cart_item_type == 'gift' %}
								<a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove js-checkGiftRemove">
									<small>{{ 'cart.general.remove' | t }}</small>
								</a>
							{% endunless %}
						</div>
					</div>
				</div>
				<div class="one-fifth product-price text-center">
					{%- if cart_item_type == 'gift' -%}
						FREE!
					{%- else -%}
						{{- item.price | money -}}
					{%- endif -%}
				</div>
				<div class="one-fifth product-qty" data-label="{{ 'cart.label.quantity' | t }}">
          {% if cart_item_type == 'plan' or cart_item_type == 'gift' or cart_item_type == 'digital-plan' %}
						<div class="qty-section">
							<span class="qty-section-nonedit">{{ item.quantity }}</span>
						</div>
          {% elsif settings.limited_product != blank and item.product.handle == settings.limited_product %}
            <div class="qty-section">
              <span class="qty-section-nonedit">{{ item.quantity }}</span>
            </div>
					{% else %}
					<div class="qty-section">
            <a href="/cart/change?line={{- forloop.index -}}&amp;quantity={{ item.quantity | minus: 1 }}" class="remove">-</a>

            <input type="number" id="updates_{{ item.id }}" name="updates[]" value="{{ item.quantity }}" min="0">

            <a href="/cart/change?line={{- forloop.index -}}&amp;quantity={{ item.quantity | plus: 1 }}" class="remove">+</a>
          </div>
				{% endif %%}
        </div>
				
				<div class="one-fifth product-total" data-label="{{ 'cart.label.total' | t }}">
					<a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove">
            <svg xmlns="http://www.w3.org/2000/svg" width="17.082" height="19.547" viewBox="0 0 17.082 19.547">
              <g id="X" transform="translate(2.113 2.113)">
                <path id="Line" d="M0,0,12.856,15.321" fill="none" stroke="#4d4d4d" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3"/>
                <path id="Line-2" data-name="Line" d="M0,15.321,12.856,0" fill="none" stroke="#4d4d4d" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3"/>
              </g>
            </svg>
          </a>
					{%- if cart_item_type == 'gift' -%}
						<span>FREE!</span>
					{%- else -%}
						{%- if item.original_line_price != item.line_price -%}
							<span class="cart-item__original-price"><s>{{- item.original_line_price | money -}}</s></span>
						{%- endif -%}
						<span>{{- item.line_price | money -}}</span>
						{% for discount in item.discounts %}
							<span class="cart-item__discount">{{ discount.title }}</span>
						{% endfor %}
					{%- endif -%}
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="cart-footer flex space start wrap">
		<div class="form-control cart__note">
			{% if settings.cart_notes_enable %}
			<div class="grid__item cart-note">
							<label for="giftNote" class="cart-note__label">Add a Note</label>
							<br>
              <textarea name="note" id="giftNote" class="cart-note__input" maxlength="255">{{cart.note}}</textarea><br/>
				<span id="chars">255</span> characters remaining
						</div>
			{% endif %}
		</div>
		<div class="cart-total flex start wrap">
			<p class="fullwidth subtotal-section">
				<span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
				<span class="cart__subtotal">{{ cart.total_price | money }}</span>
			</p>
			{% if cart.total_discounts > 0 and settings.show_savings_label %}
				{% assign savings = cart.total_discounts | money %}
				<p class="fullwidth">
					<span class="cart-subtotal__savings"><em>{{ 'cart.general.savings_html' | t: price: savings }}</em></span>
				</p>
			{% endif %}
			<p class="shipping-taxes">
				<span>
					{{ 'cart.general.shipping_at_checkout' | t }}<br>
					<strong>No need to login to checkout</strong>
				</span>
			</p>
			<input type="submit" name="update" class="button update-cart" value="{{ 'cart.general.update' | t }}" style="display: none;">
			<input type="submit" name="checkout" class="btn" value="{{ 'cart.general.checkout' | t }}">
			<div class="cart-checkout-additional">
				<a href="/collections/shop" class="continue-shopping">Continue Shopping</a>
			</div>
		</div>
	</form>
{% else %}
	<div class="rte empty-cart text-center">
		<p>{{ 'cart.general.empty' | t }}</p>
		<p>{{ 'cart.general.continue_browsing_html' | t }}</p>
	</div>
{% endif %}
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(e){
		$("#giftNote").on("blur", function(e){
			var oldText = $("#giftNote").val();
			var newText = $("<div/>").html($("#giftNote").val()).text();
			console.log("Changing giftNote from '"+oldText+"' to '"+newText+"'.");
			$("#giftNote").val(newText);
		});
	


$('.cart-note__input').on('keyup', function() {
	var length = $(this).val().length;
	var maxLength = 255;
	if(length > 255){
		length = 0;
	} else {
		var length = maxLength-length;
	}
	$('#chars').text(length);
});

$(".cart-note__input").on("paste", function(e){
    var pastedData = e.originalEvent.clipboardData.getData('text/plain').length;
	var maxLength = 255;
    var length = maxLength-pastedData;
	$('#chars').text(length);
} );

});

</script>
