<div class="page-width">


{% paginate search.results by 50 %}

  <h1 class="text-center">
    {% if search.performed %}
      {% if search.results_count == 0 %}
        {{ 'general.search.no_results_html' | t: terms: search.terms }}
      {% else %}
        {{ 'general.search.results_for_html' | t: terms: search.terms }}
      {% endif %}
    {% else %}
      Search
    {% endif %}
  </h1>

  <form action="/search" method="get" role="search" class="text-center search-search flex align-center">
    <input type="hidden" name="type" value="article,product">
    <label for="Search" class="label-hidden">
      {{ 'general.search.placeholder' | t }}
    </label>
    <input type="search"
           name="q"
           id="Search"
           value="{{ search.terms | escape }}"
           placeholder="{{ 'general.search.placeholder' | t }}">
    <button type="submit" class="btn">
      {% include 'icon-search' %}
      <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
    </button>
  </form>
  {% if search.types[0] == "article" %}
    {% assign total_results = search.results_count %}
    {% if paginate.pages > 1 %}
      {% assign current_page = paginate.current_page %}
      {% assign min_items = 29 | plus: current_page %}
      {% assign max_items = 30 | times: paginate.current_page %}
      {% if total_results < max_items %}
        {% assign max_items = total_results %}
      {% endif %}
    {% else %}
      {% assign min_items = 1 %}
      {% assign max_items = 30 %}
      {% if total_results < max_items %}
        {% assign max_items = total_results %}
      {% endif %}
    {% endif %}
    <p class="text-center">Viewing {{ min_items }}{% if min_items != max_items %}-{{ max_items }}{% endif %} of {{ total_results }} results.</p>
  {% endif %}


{% if search.performed %}
  {% unless search.types == 'article' %}
    <div class="product-listing search-results flex wrap baseline">
      {% for item in search.results %}
        {% if item.object_type == 'product' %}
          {% unless item.type == 'OPTIONS_HIDDEN_PRODUCT' or item.tags contains 'hidden' or item.tags contains 'hide' or item.tags contains 'Hidden' %}
          {% include 'item-listing' %}
          {% endunless %}
        {% endif %}
      {% endfor %}
    </div>


    {% endunless %}

    <ul class="non-products">
    {% assign sorted_results = search.results | sort: 'created_at' %}
    {% for item in sorted_results %}
      {% unless item.type == 'OPTIONS_HIDDEN_PRODUCT' or item.tags contains 'hidden' or item.tags contains 'hide' or item.tags contains 'Hidden' %}
      {% if item.object_type == 'article' %}
          <li class="flex flex-center">
            {% if item.image %}{{ item | img_url: '240x' | img_tag | link_to: item.url }}{% endif %}
            <div>
              <h5>{{ item.title | link_to: item.url }}</h5>
              <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
            </div>
          </li>
      {% else %}
          <li class="flex flex-center">
            {% if item.image %}{{ item | img_url: '240x' | img_tag | link_to: item.url }}{% endif %}
            <div>
              <h5>{{ item.title | link_to: item.url }}</h5>
              <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
            </div>
          </li>
      {% endif %}
      {% endunless %}
    {% endfor %}
    </ul>



    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
  {% endif %}

{% endpaginate %}
</div>